#configuration_form.updateproducts, .panel.content-setting-list{
  min-width: 1020px;
}

div [data-tab-id=export]:nth-child(1)
,div [data-tab-id=update]:nth-child(1)
{
  border-bottom: 1px solid #dadada;
  padding: 0 0 10px 0;
}

div [data-tab-id=export]:nth-child(11) button
,div [data-tab-id=update]:nth-child(7) button
{
  padding: 4px 30px;
  font-size: 16px;
}

div [data-tab-id=export]:nth-child(11) div
,div [data-tab-id=update]:nth-child(7) div
{
  width: 100%;
  margin: 20px 0 0 0;
}

div [data-tab-id=export]:nth-child(1) label{
  /*width: 170px;*/
}

.product_list .col-lg-6, .manufacturer_list .col-lg-6, .supplier_list .col-lg-6 {
  height: 295px;
  padding: 0px;
}

.product_list .col-lg-6 tbody, .manufacturer_list .col-lg-6 tbody, .supplier_list .col-lg-6 tbody{
  display: -webkit-box;
  overflow: auto;
  height: 245px;
  position: absolute;
  width: 100%;
  border: 1px solid #dadada;
  margin-left: -1px;
  -webkit-box-shadow: rgba(0,0,0,0.1) 0 2px 0,#fff 0 0 0 3px inset;
  box-shadow: rgba(0,0,0,0.1) 0 2px 0,#fff 0 0 0 3px inset;
}

.product_list, .manufacturer_list{
  display: inline-block !important;
  width: 100%;
  /*min-width: 530px;*/
}

div [data-tab-id=export]:nth-child(4), .supplier_list{
  display: inline-block !important;
  width: 100%;
  /*min-width: 530px;*/
  vertical-align: top;
}

#search_field{
  width: 50%;
}

.export_fields{
  display: inline-block !important;
  width: 230px;
}

div [data-tab-id=export]:nth-child(2) .module_hind{
  font-size: 13px;
  color: #3586AE;
  background-color: #edf7fb;
  display: inline-block;
  padding: 0 4px 0 4px;
}

div [data-tab-id=export]:nth-child(2) .col-lg-9{
  border-bottom: 1px solid #dadada;
  padding: 0 0 10px 0;
}

#save_setting,#save_setting_update{
  width: 50%;
}

div [data-tab-id=export]:nth-child(13) .col-lg-offset-3{
  margin-left: 0 !important;
  width: 100%;
}

div [data-tab-id=update]:nth-child(9) .col-lg-offset-3{
  margin-left: 0 !important;
  width: 100%;
}

@media (min-width: 1500px){
  div [data-tab-id=export]:nth-child(4)
  , .product_list, .manufacturer_list, .supplier_list{
    width: 50%;
  }
  div [data-tab-id=export]:nth-child(1) label
  ,div [data-tab-id=export]:nth-child(7) label
  ,div [data-tab-id=export]:nth-child(9) label
  ,div [data-tab-id=update]:nth-child(1) label
  ,div [data-tab-id=update]:nth-child(2) label
  ,div [data-tab-id=update]:nth-child(3) label
  ,div [data-tab-id=update]:nth-child(5) label
  {
    width: 12%;
  }

 div [data-tab-id=export]:nth-child(8) .col-lg-offset-3
 ,div [data-tab-id=export]:nth-child(10) .col-lg-offset-3
 ,div [data-tab-id=export]:nth-child(2) .col-lg-offset-3
 ,div [data-tab-id=update]:nth-child(4) .col-lg-offset-3
 ,div [data-tab-id=update]:nth-child(6) .col-lg-offset-3
 {
   margin-left: 12%;
 }
}

div [data-tab-id=export]:nth-child(4) ul#categories-tree
,.supplier_list ul#categories-tree
{
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.product_list .col-lg-9, .manufacturer_list .col-lg-9
, div [data-tab-id=export]:nth-child(4) .col-lg-9
, .supplier_list .col-lg-9
{
  /*width: auto;*/
}

.product_list .col-lg-6
, .manufacturer_list .col-lg-6
, .supplier_list .col-lg-6
{
  width: 100%;
}

.product_list .col-lg-6 tbody tr td:nth-child(1)
, .manufacturer_list .col-lg-6 tbody tr td:nth-child(1)
, .supplier_list .col-lg-6 tbody tr td:nth-child(1)
{
  width: 5%;
  min-width: 50px;
  text-align: center;
}

.product_list .col-lg-6 tbody tr td:nth-child(3) label, .manufacturer_list .col-lg-6 tbody tr td:nth-child(3) label, .supplier_list .col-lg-6 tbody tr td:nth-child(3) label{
  width: 100%;
  cursor: pointer;
}

.product_list .col-lg-6 thead tr th:nth-child(2), .manufacturer_list .col-lg-6 thead tr th:nth-child(2){
  width: 9%;
}
.logo_myprestamodules{
  float: left;
  margin-right: 10px;
  margin-left: 40px;
}
.progres_bar_ex {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.6;
  z-index:11;
  display: none;
}

.progres_bar_ex .loading{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
  background: #000;
  border-radius: 5px;
}

.progres_bar_ex .loading div {
  width: 44px;
  height: 44px;
  background: url('../img/loading.gif') center center no-repeat;
}
.form-wrapper-list-settings li{
   list-style: none;
   font-size: 14px;
   border-bottom: 1px solid #dadada;
   height: 40px;
   line-height: 40px;
 }
.form-wrapper-list-settings li .delete_setting{
  float: right;
  margin-right: 20px;
  margin-top: 5px;
}
.form-wrapper-list-settings li span{
  margin-left: 10px;
}
.form-wrapper-list-settings li .one_setting{
  margin-left: 20px;
}
.form-wrapper-list-settings li.active_setting{
  background-color: #F6FBFD;
}


.form-wrapper-list-settings-update li{
  list-style: none;
  font-size: 14px;
  border-bottom: 1px solid #dadada;
  height: 40px;
  line-height: 40px;
}
.form-wrapper-list-settings-update li .delete_setting_update{
  float: right;
  margin-right: 20px;
  margin-top: 5px;
}
.form-wrapper-list-settings-update li span{
  margin-left: 10px;
}
.form-wrapper-list-settings-update li .one_setting_update{
  margin-left: 20px;
}
.form-wrapper-list-settings-update li.active_setting_update{
  background-color: #F6FBFD;
}
.error_logs_import{
  font-size: 15px;
  margin-left: 50px;
}










.updateproducts #export ul li{
  list-style: none;
  padding: 5px 20px;
  font-size: 14px;
  cursor: pointer;
  border-bottom: 1px solid #dadada;
  position: relative;
}
.updateproducts #export ul li:hover, .updateproducts #export ul li.checked{
  color: #fff;
  background-color: #00aff0;
  border-color: #00aff0;
}
.updateproducts #export ul.block_base_fields, .updateproducts #export ul.block_combinations_fields, .updateproducts #export ul.block_specificPrice_fields{
  padding-left: 0px;
  border: 1px solid #dadada;
  width: 350px;

  overflow-y: auto;
  float: left;
  margin-bottom: 25px;
  border-radius: 0px 0px 4px 4px;
}
.updateproducts #export ul.block_base_fields{
  height: 448px;
}
.updateproducts #export ul.block_combinations_fields{
  height: 300px;
}
.updateproducts #export ul.block_specificPrice_fields{
  height: 152px;
}

#export .block_all_fields .navigation-fields{
  width: 135px;
  float: left;
}
#export .block_all_fields .navigation-fields button{
  width: 130px;
  margin-bottom: 5px;
  height: 35px;
  font-size: 15px;
}
#export .selected_fields{
  height: 1022px;
  border-radius: 0px 0px 4px 4px;
  border: 1px solid #dadada;
  width: 350px;
  overflow-y: auto;
  padding: 0px;
}
#export .block_all_fields, #export .block_selected_fields{
  float: left;
}
.field_list_header{
  padding: 7px 6px 7px 20px;
  border: 1px solid #dadada;
  width: 350px;
  border-radius: 4px 4px 0px 0px;
  border-bottom: none;
  background-color: #ecf6fb;
}
#export .search_base_fields, #export .search_specificPrice_fields, #export .search_combinations_fields, #export .search_selected_fields{
  float: right;
  outline: none;
  border: 1px solid #dadada;
  border-radius: 3px;
  padding: 2px 7px;
  width: 130px;
}
.field_list_header label{
  margin-top: 3px;
  margin-bottom: 1px;
}
#export .navigation-fields-base{
  margin: 130px 50px;
}
#export .navigation-fields-specificPrice{
  margin: -15px 50px 0px 50px;
}
#export .navigation-fields-combinations{
  margin: 65px 50px;
}

.updateproducts #export .exportFields .col-lg-9{
  margin: 0 !important;
  width: 100% !important;
}
.updateproducts #export .content_fields{
  width: 940px;
  margin: 0 auto;
}
#export .icon-arrows-select-fields{
  right: 5px;
  top: 8px;
  position: absolute;
  cursor: all-scroll;
}
.updateproducts #export .selected_fields li{
  position: relative;
}
.updateproducts #export .url_base_setting{
  padding: 15px 15px 15px 0px;
}
.updateproducts #export .url_base_setting a{
  font-size: 15px;
}
.updateproducts #export .block_selected_fields{
  margin-top: 51px;
}
#export .process-icon-new-setting{
  float: left;
  margin-top: -5px;
}
#export .process-icon-new-setting:before{
  font-size: 21px;
}
.exportButton .col-lg-9, .saveSettingsUpdateButton .col-lg-9, .updateButton .col-lg-9, .saveSettingsExportButton .col-lg-9{
  text-align: center;
  width: 100%;
  margin: 0px;
}
.exportButton button, .updateButton button, .saveSettingsExportButton button{
  padding: 4px 30px !important;
  font-size: 16px !important;
}
#export .selected_fields .disable_fields{
  background-color: #FBFBFB;
}

.hint_content{
  display: table-cell;
  vertical-align: middle;
  position: absolute;
  width: 140px;
  color: #ffffff;
  background-color: #48484E;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  z-index: 1000;
  font-size: 12px;
  line-height: 15px
}
.hint_content:after{
  content: '';
  position: absolute;
  right: -12px;
  border-bottom: 10px solid #48484E;
  border-left: 11px solid transparent;
  border-right: 16px solid transparent;
  transform: rotate(-123deg);
  -moz-transform: rotate(-123deg);
  -ms-transform: rotate(-123deg);
  -webkit-transform: rotate(-123deg);
  -o-transform: rotate(-123deg);
  top: 20px;
}

.icon-info-fields{
  position: absolute;
  top: 8px;
  left: 8px;
  color: #00aff0;
}
.content_fields ul li:hover .icon-info-fields{
  color: #ffffff;
}


.updateproducts #update ul li{
  list-style: none;
  padding: 5px 20px;
  font-size: 14px;
  cursor: pointer;
  border-bottom: 1px solid #dadada;
  position: relative;
}
.updateproducts #update ul li:hover, .updateproducts #update ul li.checked{
  color: #fff;
  background-color: #00aff0;
  border-color: #00aff0;
}
.updateproducts #update ul.block_base_fields, .updateproducts #update ul.block_combinations_fields, .updateproducts #update ul.block_specificPrice_fields{
  padding-left: 0px;
  border: 1px solid #dadada;
  width: 350px;

  overflow-y: auto;
  float: left;
  margin-bottom: 25px;
  border-radius: 0px 0px 4px 4px;
}
.updateproducts #update ul.block_base_fields{
  height: 448px;
}
.updateproducts #update ul.block_combinations_fields{
  height: 300px;
}
.updateproducts #update ul.block_specificPrice_fields{
  height: 152px;
}

#update .block_all_fields .navigation-fields{
  width: 135px;
  float: left;
}
#update .block_all_fields .navigation-fields button{
  width: 130px;
  margin-bottom: 5px;
  height: 35px;
  font-size: 15px;
}
#update .selected_fields{
  height: 1022px;
  border-radius: 0px 0px 4px 4px;
  border: 1px solid #dadada;
  width: 350px;
  overflow-y: auto;
  padding: 0px;
}
#update .block_all_fields, #update .block_selected_fields{
  float: left;
}
#update .search_base_fields, #update .search_specificPrice_fields, #update .search_combinations_fields, #update .search_selected_fields{
  float: right;
  outline: none;
  border: 1px solid #dadada;
  border-radius: 3px;
  padding: 2px 7px;
  width: 130px;
}
#update .field_list_header label{
  margin-top: 3px;
  margin-bottom: 1px;
}
#update .navigation-fields-base{
  margin: 130px 50px;
}
#update .navigation-fields-specificPrice{
  margin: -15px 50px 0px 50px;
}
#update .navigation-fields-combinations{
  margin: 65px 50px;
}

.updateproducts #update .updateFields .col-lg-9, .updateproducts #export .exportFields .col-lg-9 {
  margin: 0 !important;
  width: 100% !important;
}
.updateproducts #update .content_fields{
  width: 940px;
  margin: 0 auto;
}
#update .icon-arrows-select-fields{
  right: 5px;
  top: 8px;
  position: absolute;
  cursor: all-scroll;
}
.updateproducts #update .selected_fields li{
  position: relative;
}
.updateproducts #update .url_base_setting{
  padding: 15px 15px 15px 0px;
}
.updateproducts #update .url_base_setting a{
  font-size: 15px;
}
.updateproducts #update .block_selected_fields{
  margin-top: 51px;
}
#update .process-icon-new-setting{
  float: left;
  margin-top: -5px;
}
#update .process-icon-new-setting:before{
  font-size: 21px;
}

#update .selected_fields .disable_fields{
  background-color: #FBFBFB;
}

.hint_content{
  display: table-cell;
  vertical-align: middle;
  position: absolute;
  width: 140px;
  color: #ffffff;
  background-color: #48484E;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  z-index: 1000;
  font-size: 12px;
  line-height: 15px
}
.hint_content:after{
  content: '';
  position: absolute;
  right: -12px;
  border-bottom: 10px solid #48484E;
  border-left: 11px solid transparent;
  border-right: 16px solid transparent;
  transform: rotate(-123deg);
  -moz-transform: rotate(-123deg);
  -ms-transform: rotate(-123deg);
  -webkit-transform: rotate(-123deg);
  -o-transform: rotate(-123deg);
  top: 20px;
}




