/*** ESSENTIAL STYLES ***/
.sf-contener {
	clear: both;
}
.sf-right {
  margin-right: 14px;
  float: right;
  width: 7px;
}
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	margin: 0 auto;
	padding:20px 0;
	width:100%;/* 980 */
	background: #3b3b3b;
	height: 40px;

}

.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			10em; /* left offset of submenus need to match (see below) */
	left:200px;
}
.sf-menu ul li {
	width:100%;
	/*left:220px;*/
	padding: 0px;
	 font-family: 'dekarregular';
	  text-transform: uppercase;
}
ul.sf-menu li ul {
	width:942px!important ;
	display: block;
	background: #000;
	opacity: 0.8;
	margin-top:27px;
	position: absolute;
	 z-index: 9999;
}
#men{
	width: 900px; 
	float: left;
}

#marque-menu2{
	 font-family: 'dekarregular';
	 text-transform: uppercase;
	 font-weight: bold;
	 font-size: 18px;
	 color: #19bd9b;
	 margin: 20px;
	 padding: 5px;
	 float: left;
	 width: 100%;
}

ul.menuSous6{
	position: absolute;
	z-index: 999;
	width: 100%;
	height: auto !important;
	
	}
ul.menuSous7{
	position: absolute;
	z-index: 999;
	margin-left: -300px;
		height: auto !important;
	
}

ul.menuSous8{
	position: absolute;
	z-index: 999;
	margin-left: -486px;
	height: auto !important;
		
}

ul.menuSous10{
	position: absolute;
	z-index: 999;
	margin-left: -280px;
	height: auto !important;
		
}
ul.menuSous9{
	position: absolute;
	z-index: 999;
	margin-left: 0;
	height: auto !important;
	
}
#left-menu{
	width: 700px;
	float: left;

}
#menu_st7{
   width: 850px;
   float: left;
  }
#menu_st{
   width: 850px;
   float: left;margin-left: 20px;
  }

#menu_st li{ width: auto;padding: 0px;  text-align: center; margin-right: 10px;}
#menu_st li a{ padding: 0 16px}
#li-smenu9 li a, #li-smenu8 li a, #li-smenu7 li a, #li-smenu6 li a, #li-smenu16 li a {padding: 0 16px!important}
#li-smenu16{
	width: 1000px;
	float: left;
}

#li-smenu16 li a{
	width: auto;
	padding:0px 5px;
	text-align: center;
}
#li-smenu6{
	width: 900px;
	float: left;
}

#li-smenu6 li a{
	width: auto;
	padding:0px;
	text-align: center;
}

#li-smenu7 li li a{
width: 100px;
text-align: center;
padding: 0px;
}
#li-smenu8 li a{
width: 150px;
text-align: center;
padding:0px;
}

#li-smenu9 li, #li-smenu8 li, #li-smenu7 li, #li-smenu6 li, #li-smenu16 li{margin-left: 20px;text-align: center; }
#li-smenu9 li a{
width: 140px;
text-align: center;
padding: 8px 0px;

}
#type-menu{ 
   color:#3c96cd; 
   margin-left: 20px; 
   margin-top: 10px;

}

.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
	/*border-right: 1px solid #777;*/
}
.sf-menu a {
	display:block;
	position:relative;
	color:#fff;
	font-family: 'dekarregular';
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
	/*text-shadow:0 1px 0 #333;*/
}

@media only screen and (min-device-width: 1680px), screen and (max-width: 1920px) { 
	#marque-menu2{
	 font-family: 'dekarregular';
	 text-transform: uppercase;
	 font-weight: bold;
	 font-size: 16px;
	 color: #19bd9b;
	 margin: 20px;
	 padding: 5px;
	 float: left;
	 width: 100%;
}
.sf-menu a {
	display:block;
	position:relative;
	color:#fff;
	font-family: 'dekarregular';
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
	/*text-shadow:0 1px 0 #333;*/
}

ul.menuSous7{
	position: absolute;
	z-index: 999;
	margin-left: -550px;
		height: auto !important;
	
}
ul#li-smenu9 { margin-left: -270px;}
ul.menuSous8{
	position: absolute;
	z-index: 999;
	margin-left: -726px;
	height: auto !important;
		
}
}
@media only screen and (min-device-width: 1600px), screen and (max-width: 1675px) { 
	#marque-menu2{
	 font-family: 'dekarregular';
	 text-transform: uppercase;
	 font-weight: bold;
	 font-size: 13px;
	 color: #19bd9b;
	 margin: 20px;
	 padding: 5px;
	 float: left;
	 width: 100%;
}
	.sf-menu a {
	display:block;
	position:relative;
	color:#fff;
	font-family: 'dekarregular';
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	/*text-shadow:0 1px 0 #333;*/
}

ul.menuSous7{
	position: absolute;
	z-index: 999;
	margin-left: -450px;
		height: auto !important;
	
}
ul#li-smenu9 { margin-left: -210px;}
ul.menuSous8{
	position: absolute;
	z-index: 999;
	margin-left: 0px;
	height: auto !important;
		
}



}





.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			34px; /* match top ul list item height */
	z-index:		99;
	width:auto
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			200px; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			200px; /* match ul width */
	top:			0;
}

/*** DEMO SKIN ***/
.sf-menu {
	float:			left;
	margin-bottom:	1em;
}
.sf-menu a {
	display:block;
	margin-right:2px;
	padding:0 8px;
	line-height:34px;
	border: 0;
	text-decoration:none;
}
.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color:			#fff;
	white-space:nowrap;
}

#li-smenu7 li
{ width: auto;}
.sf-menu li li {
	background:#2b7de0;
	margin: 5px;
}
.sf-menu li li:hover,
.sf-menu li li a:hover,
.sf-menu li li.sfHover {
	background:#19bc9a;
}
.sf-menu li li li {
	background:	rgba(113, 113, 113, 0.9);
}
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
  	background: #4E4E4E;
}
.sf-menu ul li:hover, .sf-menu ul li.sfHover,
.sf-menu ul li a:focus, .sf-menu ul li a:hover, .sf-menu ul li a:active {
	background:#19bc9a;
	outline:		0;
}
.menuSous10 #men li.menumob a{ 
padding: 0px 5px !important;
}
/*** arrows **/
.sf-menu a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			10px;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('../img/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top: 11px;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background:	url('../img/shadow.png') no-repeat bottom right;
	padding: 0 8px 9px 0;
	-moz-border-bottom-left-radius: 17px;
	-moz-border-top-right-radius: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}
li.sf-search {
  background: inherit;
  float: right;
  line-height: 25px;
}
li.sf-search input {
  -moz-border-radius: 0 5px 5px 0;
  padding: 3px 0;
  padding-left: 20px;
  margin: 6px 6px 0 0;
  background: #fff url('../img/search.gif') no-repeat left center;
  border:1px solid #777
}

/* hack IE7 */
.sf-menu a, .sf-menu a:visited {height:34px !IE;}
.sf-menu li li {
	width:auto;
	background:#726f72 !IE;
	margin-bottom: 10px
}
@media only screen  and (min-device-width : 280px) and (max-device-width: 1024px) {
#men{width: 90%;float: left;}
ul.sf-menu li ul {width: 100% !important;float: left;position: relative;}
#li-smenu6{width: 98%}
#menu_st{width: 100%;margin-left: 2%}
.sf-menu li li {width: 92%;float: left;margin-left: 4%}
#menu_st li {width: 92%;margin-right: 0;margin-bottom: 3px}
ul.menuSous8{
	position: relative;
	z-index: 999;
	margin-left: 0;
	height: auto !important;
	float: left;
	width: 96%
}

ul.menuSous6{
position: relative;
	z-index: 999;
	margin-left: 0;
	height: auto !important;
	float: left;
	width: 96%;
	-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
	}
ul.menuSous7{
	position: relative;
	z-index: 999;
	margin-left: 0;
	height: auto !important;
	float: left;
	width: 96%;
	-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}

ul.menuSous8{
	position: relative;
	z-index: 999;
	margin-left: 0;
	height: auto !important;
	float: left;
	width: 96%;
	-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
		
}

ul.menuSous9{
	position: relative;
	z-index: 999;
	margin-left: 0;
	height: auto !important;
	float: left;
	width: 96%;
	-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
	
}
#left-menu{
	width: 96%;
	float: left;

}
#menu_st7{
   width: 96%;
   float: left;
  }
#menu_st{
   width: 96%;
   float: left;margin-left:0;
  }

#menu_st li{ width: 96%;padding: 0px;  text-align: center; margin-right: 2%;}

#li-smenu6{
	width: 96%;
	float: left;
}

#li-smenu6 li a{
	width: 96%;
	padding:0px;
	text-align: center;
}

#li-smenu7 li li a{
width: 96%;
text-align: center;
padding: 0px;
}
#li-smenu8 li a{
width: 96%;
text-align: center;
padding:0px;
}

#li-smenu9 li, #li-smenu8 li, #li-smenu7 li, #li-smenu6 li{margin-left: 20px;text-align: center; }
#li-smenu9 li a{
width: 96%;
text-align: center;
padding: 8px 0px;

}
#type-menu{ 
   color:#3c96cd; 
   margin-left: 2%; 
   margin-top: 10px;

}
#li-smenu9 li, #li-smenu8 li, #li-smenu7 li, #li-smenu6 li {width: 96%;margin-left: 4%;margin-bottom: 4px;float: left;}
.sf-with-ul{
	pointer-events: none;
   cursor: default;
}
}