// Block Modules 
// ========================================================================

$block-margin-bottom: 			$grid-gutter-width !default;

$block-heading-radius: 			0;
$block-heading-border: 			none !default;
$block-heading-transform:       uppercase !default;
$block-heading-line-height:     normal !default;
$block-heading-letter-spacing:  1px !default; 
$block-heading-font-family:    	$headings-font-family !default;
$block-heading-font-size:		18px !default;
$block-heading-bg:				$nocolor !default;
$block-heading-color:			#272727 !default;
$block-heading-padding: 		15px 0 !default;

$block-content-bg:				$white !default;
$block-content-border:			1px solid $nocolor !default;
$block-content-padding:			10px 0 !default;
$block-content-margin:         	1px !default;
$block-content-radius:         	0px !default;

// get content icon from link http://fortawesome.github.io/Font-Awesome/icons/ or img icon from theme folder 
$block-icon-content:         	"\f0c9" !default; 
//$block-icon-content:         	url(#{$image-theme-base-path}icon/form-ok.png) !default;


$block-highlighted-bg			: #e74c3c !default;
$block-highlighted-border		: none !default;
$block-highlighted-text			: #272727 !default;
