// Button
// ========================================================================
	// add to cart
$button-addtocart-bg:               $theme-color-secondary !default;
$button-addtocart-color:            $white !default;
$button-addtocart-border:           $nocolor !default;

$button-addtocart-bg-hover:         $theme-color-default !default;
$button-addtocart-color-hover:      $white  !default;
$button-addtocart-border-hover:     $nocolor !default;

$button-addtocart-font-size:        $font-size-base + 6 !default;
$button-addtocart-font-family:      $font-family-base !default;

//---------- Product Elements
	// price
$price-color:						#f2434a !default;
$product-price-color:				$price-color;
$product-price-reduction-bg:		#f2434a;
$product-price-old-color: 			#888888 !default;
$product-price-font-family:         $font-family-senary !default;
$product-price-font-size:           $font-size-base + 4 !default;
  
	// name
$product-name-color:                #272727 !default;
$product-name-hover-color:          $link-hover-color !default;
$product-name-font-family:          $font-family-base !default;
$product-name-font-size: 			$font-size-base !default;
$product-name-font-weight:          600 !default;
$product-name-text-transform:       uppercase !default;
  
  	// image
$product-image-border:              none !default;
$product-image-radius:              0px !default;
	
	// rating
$product-rating-font-size: 12px !default;  