ul.featured-news {
    height: auto!important; margin-top: 50px; }

.featured-widget {
    position: relative;
    color: #000;
}
.featured-widget .header {
}


.lof-featured h3.featured-title {
    background-color: #fff;
    color: #cb4d4d;
	margin: 0;
    padding: 12px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: normal;
	border: 1px solid #dee7ec;
}
.responsive-img {
    height: auto;
    max-width: 100%;
}
.lof-pager {
    padding: 13px;
	height: 0px;
    position: absolute;
    right: 60px;
    top: 0px;
}
.lof-pager a {
    background: url("images/miscellaneous_sprite.png") no-repeat scroll 0 -300px transparent;
    display: inline-block;
    height: 15px;
    margin: 0 5px 0 0;
    width: 15px;
}
.lof-pager a.selected {
    background-position: -25px -300px;
    cursor: default;
}
.lof-pager a span {
    display: none;
}
.lof-featured{
  margin-bottom: 10px;
  width: 1200px;
  margin: 50px auto;
}

.entry-title a{ color: #2b7de0!important;}
.entry-title{
    position: absolute;
    top:50px;
    left:50px;
    color: #2b7de0;
    width: 150px;
    line-height: 18px;
 font-family: 'nexa_bold';
font-size: 12px;
text-transform: uppercase;
-webkit-transform: rotate(-30deg);
-moz-transform: rotate(-30deg);
-o-transform: rotate(-30deg);
-ms-transform: rotate(-30deg);
transform: rotate(-30deg);
}
.list-featured {
	
}
.list-featured > ul {
    display: block;
    height: 100%;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.list-featured ul li {
  display: block;
    float: left;
    padding: 0px 0px;
    width: 297px;margin: 0 18px 18px 0px;
    position: relative;
    
}

.list-featured ul li .product {
    width:297px; 
    height: 356px;
    float: left; 
    list-style-type: none;

}
.list-featured ul li .featured-item {

}
.entry-content .entry-price-discount{
  font-style: italic;
}
.entry-content .entry-price {
  font-size: 16px;
  color: #cb4d4d;
  font-weight: bold;
  padding-top: 3px;
}

#line{
    border-top: 1px solid #fff;
    width: 250px;
    margin:20px auto;
}


.list-featured .lof {
    width:397px; height: 342px;
   /* border: 1px solid #E9E9E9;*/
    margin: 0 50px;
    /*padding: 12px;*/
}
.entry-title a:hover{
    opacity: 0;
}
.responsive-img:hover {
opacity: 0;
}
.list-featured .lof:hover {
  /*  box-shadow: 0 0 10px #AAAAAA;
    transition: all 0.3s ease 0s;*/
 
    z-index: 9999;
    background:url("images/hover.png") no-repeat;
}

.list-featured .lof:hover .responsive-img {
opacity: 0;
}
.list-featured .lof:hover > .entry-title a {
display: none !important; visibility: hidden; color:#2b7de0;
}

.list-featured .lof:hover #divhover{
    display: block !important;
}
.list-featured .lof h5 {
    color: #f17288;
    text-transform: uppercase;
    margin-left: 15px;
    font-family: 'Bebas Neue'; 
    font-size: 22px;
}

.list-featured .lof h5 a { 
    text-decoration: none;
    color: #f17288;
    font-family: 'Bebas Neue'; 
    font-size: 18px;
    line-height: 18px;
}

.list-featured .lof .lof-price {
    display: block;
    font-size: 20px;
    margin: 15px 0;
    text-align: left;
}
.list-featured p {
    margin: 0.5em auto;
    padding:0px;
    color: #4c4c4c;
    font-family: 'Istok Web', sans-serif;
    font-size: 14px;
    line-height: 16px;
    width: 250px;
    text-transform: none;

}

.featured-item #divhover{
    position: absolute;
    text-align: center;   
    margin: -100px 20px 20px 20px;  
    display: none;

}



.featured-item #divhover .entry-title2 a{
    font-size: 25px; 
    color: #ffffff;
    font-family: 'nexa_bold';
    text-transform: uppercase;
    text-decoration: none;

}

.featured-item #divhover .product_desc{
color: #fff; 
font-size: 18px; 
line-height: 20px;
font-family: 'nexa_light';
height: 100px;
cursor: pointer;
}
.featured-item .thumb {
    position: relative;
    text-align: center;   
    padding-top: 20px;
}


.featured-item .play-icon {
    background: url("images/play.png") no-repeat scroll center center transparent;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 168px;
}
.featured-item .black-overlay {
    background: none repeat scroll 0 0 #000000;
    cursor: pointer;
    display: block;
    height: 100%;
    opacity: 0.3;
    width: 100%;
}


.list-featured .lof .lof-button {

    color: #FFFFFF;
    font-size: 14px;
    height: 85px;
    
    width: 295px;
    float: left;
    margin-top: 55px;
   
     position: relative;
    background: url("images/bg-price.png") no-repeat;
}
.list-featured .lof:hover .lof-button{
     margin-top: 55px !important;
}
.list-featured .lof:hover .lof-button .lof-add-cart {
    
    text-decoration: none;
    opacity: 1;
}
.list-featured .lof .lof-button .lof-detail {
    background: url("images/icon-wishlist.png") no-repeat scroll right 0 transparent;
    box-shadow: none;
    float: right;
    height: 14px;
    margin-top: 7px;
    text-indent: -9999px;
    width: 16px;
}
.list-featured .lof .lof-button .lof-detail:hover {
    background-position: right bottom;
}



.featured-item .thumb {
   position: relative;
    text-align: center;   
    margin-top: 50px;
}
.featured-item .play-icon {
     background: url("images/play.png") no-repeat scroll center center transparent;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 168px;
}
.featured-item .black-overlay {
  background: none repeat scroll 0 0 #000000;
    cursor: pointer;
    display: block;
    height: 100%;
    opacity: 0.3;
    width: 100%;
}
#lof-dd{ width: 50%; 
text-align: center;
color: #2b7de0; 
font-family:'Bebas Neue'; 
height: 20px;
position: absolute;
font-size: 20px; display: none;}
/*
.featured-item img {
 -webkit-transition: all 0.5s ease-out;
 -moz-transition: all 0.5s ease;
 -o-transition: all 0.5s ease;
}
 
.featured-item img:hover {
-webkit-transform: scale(1.1,1.1);
  -moz-transform: scale(1.1,1.1);
   -o-transform: scale(1.1,1.1);
   -ms-transform: scale(1.1,1.1);
   transform: scale(1.1,1.1);
}*/
/*
.featured-item a.lof-add-cart:hover span{
    background-color: #396D9C;
    background-image: -moz-linear-gradient(center top , #396D9C 50%, #4289B9 50%);
    box-shadow: none;
    text-decoration: none;
    text-shadow: 0 0 4px #FFFFFF;
}
.featured-item a.lof-add-cart:hover{
    text-decoration: none;
}
.featured-item .lof-main-puplic {
    text-align: center;
}*/
.price_container{
    background: url("images/bg-price.png") no-repeat;
    width: 113px; height: 113px;
    z-index: 999;
    margin-right: 15px;
}

span.price.lof-price{
color: #ffffff;
font-family: 'bebas_neuebook';
font-size: 25px;
width: 113px; height: 113px;
-webkit-transform: rotate(30deg);
-moz-transform: rotate(30deg);
-o-transform: rotate(30deg);
-ms-transform: rotate(30deg);
transform: rotate(30deg);
position: absolute;
top:40px;
right:15px;
text-align: center;

}

.featured-item .lof-add-cart {
  margin: 0px auto;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 6px;
    width: 280px;
    height: 50px;
    position: absolute;
    text-transform: uppercase;
     font-family: 'nexa_bold';
    z-index: 1;
    text-align: center;
}
#ppn{
    background: url("images/panier.png") no-repeat;
    height: 27px; width: 27px;
    margin:10px auto; z-index: 9999;
}
.quatre{
    margin-left: 150px!important;
}
p.entry-price.price_container{ position: absolute; z-index: 9999; width: 113px; height: 113px;right:-42px; top:8px; 
    background: url("images/bg-price2.png") no-repeat;}

.product{ background: url("images/bg.png") no-repeat;  width:397px; height: 342px; }