@import "compass";
@import "theme_variables";

/* The slider */
.iviewSlider {
	overflow: hidden;
}

/* The timer in the Slider */
#iview-timer {
	position: absolute;
	z-index: 100;
	border-radius: 5px;
	cursor: pointer;
	div {
		@include border-radius(3px);
	}
}


/* The Preloader in the Slider */
#iview-preloader {
	position: absolute;
	z-index: 1000;
	border: #000 1px solid;
	padding: 1px;
	width: 100px;
	height: 3px;
	@include border-radius(3px);
	div {
		float: left;
		height: 3px;
		background: #000;
		width: 0px;
		@include border-radius(2px);
	}
}

/* The strips and boxes in the Slider */
.iview-strip {
	display:block;
	position:absolute;
	z-index:5;
}
.iview-block {
	display:block;
	position:absolute;
	z-index:5;
}

/* Direction nav styles (e.g. Next & Prev) */
.iview-directionNav {
	a {
		position: absolute;
		top: 50%;
		z-index:9;
		cursor:pointer;
		width: 36px;
		height: 36px;
		margin-top: -13px;
		background: rgba(241,250,255, 0.24);
		@include border-radius(4px);
		color: #f1faff;
		text-align: center;
		font-size: 0px;
		&:before{
			width: 34px;
			height: 34px;
			left: 0;
			content: "";
			font-family: $font-icon;
			font-size: 14px;
			line-height: 36px;
		}
		&.iview-prevNav {
		    left: -38px;
			&:before{
				content: "\f104";
			}
		}
		&.iview-nextNav {
			right: -38px;
			&:before{
				content: "\f105";
			}
		}
		&:hover{
			background: $theme-color-default;
		}
	}
}



/* Control nav styles (e.g. 1,2,3...) */
.iview-controlNav {
	position:absolute;
	z-index: 9;
	left: 0;
	right: 0;
	bottom: 10px;
	text-align: center;
	a {
		z-index:9;
		cursor:pointer;
		width: 12px;
		height: 12px;
		margin: 0 3px;
		display: inline-block;
		background: #dddddd;
		@include box-shadow(0 -1px 0 1px #cdcdcd);
		@include border-radius(50px);
		&:hover, 
		&.active {
			background: $theme-color-default;
			@include box-shadow(0 -1px 0 1px #c4362b);
		}
		span {display: none;}
	}
	.iview-items {
		ul {
			list-style: none;
			li {
				display: inline;
				position: relative;
			}
		}
	}
	.iview-control {
		img {display: none;}
	}
	.iview-tooltip {
		position: absolute;
	}
}


/* The captions in the Slider */
.tp-caption {
	position: absolute;
	z-index:4;
	cursor: default;
}

/* The video show in the Slider */
.iview-video-show {
	background: #000;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 101;
	.iview-video-container {
		position: relative;
		width: 100%;
		height: 100%;
		a {
			&.iview-video-close {
				position: absolute;
				right: 10px;
				top: 10px;
				background: #222;
				color: #FFF;
				height: 20px;
				width: 20px;
				text-align: center;
				line-height: 29px;
				font-size: 22px;
				font-weight: bold;
				overflow: hidden;
				@include border-radius(15px);
				&:hover {
					background: #444;
				}
			}
		}
	}
}