/* ficon template*/

.dhx_dataview_ficon_item, .dhx_dataview_ficon_item_selected{
	font-size:11px;
	font-family: tahoma;
	overflow:hidden;
	background-color:white;
	cursor:pointer;
}
.dhx_dataview_ficon_item .dhx_item_text{
	padding:1px;
	width:65px;
	height:14px;
}
.dhx_dataview_ficon_item_selected .dhx_item_text{
	background-color:#3366ff;
	color:white;
	padding:1px;
	width:65px;
	height:14px;
}
.dhx_dataview_ficon_item_selected .dhx_item_editor{
	background-color:white;
	font-size:11px;
	font-family: tahoma;
	color:black;
	height:21px;
	width:65px;
}


/* ftiles template*/

.dhx_dataview_ftiles_item, .dhx_dataview_ftiles_item_selected{
	font-size:11px;
	font-family: tahoma;
	overflow:hidden;
	background-color:white;
	cursor:pointer;
}
.dhx_dataview_ftiles_item div, .dhx_dataview_ftiles_item_selected div{
	float:right;
	padding:1px;
	width:82px;
	height:16px;
	overflow:hidden;
}
.dhx_dataview_ftiles_item .dhx_item_text_gray{
	color:gray;
}
.dhx_dataview_ftiles_item_selected div{
	background-color:#3366ff;
	color:white;
}
.dhx_dataview_ftiles_item_selected .dhx_item_editor{
	background-color:white;
	font-size:11px;
	font-family: tahoma;
	color:black;
	float:right;
	margin-top:10px;
	height:32px;
	width:82px;
}

/* ftable template*/
.dhx_dataview_ftable_item{
	background-color:white;
	cursor:pointer;
}
.dhx_dataview_ftable_item .dhx_item_text, .dhx_dataview_ftable_item_selected .dhx_item_text{
	font-family:tahoma;
	font-size:12px;
	padding:1px;
	text-align:left;
}
.dhx_dataview_ftable_item_selected .dhx_item_text{
	background-color:#3366ff;
	color:white;
}

.dhx_dataview_fthumbs_item{
	border:1px solid #ECE9D8;
}
.dhx_dataview_fthumbs_item .dhx_item_text, .dhx_dataview_fthumbs_item_selected .dhx_item_text{
	font-family:Tahoma;
	font-size:10pt;
	height:16px;
	overflow:hidden;
	text-align:center;
	width:85px;
}

/* fthumbs template*/

.dhx_dataview_fthumbs_item_selected{
	border:1px solid transparent;
	border-width:0px 1px 0px 1px;
	padding-top:0px !important;
}
.dhx_dataview_fthumbs_item_selected img {
	border:3px solid #316AC5;
}
.dhx_dataview_fthumbs_item_selected .dhx_item_text {
	background-color:#3366ff;
	color:white;
}