/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/** CHECKOUT BY STEP */
/* The slider */
.iviewSlider {
  overflow: hidden;
}

/* The timer in the Slider */
#iview-timer {
  position: absolute;
  z-index: 100;
  border-radius: 5px;
  cursor: pointer;
}
#iview-timer div {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* The Preloader in the Slider */
#iview-preloader {
  position: absolute;
  z-index: 1000;
  border: #000 1px solid;
  padding: 1px;
  width: 100px;
  height: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
#iview-preloader div {
  float: left;
  height: 3px;
  background: #000;
  width: 0px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* The strips and boxes in the Slider */
.iview-strip {
  display: block;
  position: absolute;
  z-index: 5;
}

.iview-block {
  display: block;
  position: absolute;
  z-index: 5;
}

/* Direction nav styles (e.g. Next & Prev) */
.iview-directionNav a {
  position: absolute;
  top: 50%;
  z-index: 9;
  cursor: pointer;
  width: 36px;
  height: 36px;
  margin-top: -13px;
  background: rgba(241, 250, 255, 0.24);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #f1faff;
  text-align: center;
  font-size: 0px;
}
.iview-directionNav a:before {
  width: 34px;
  height: 34px;
  left: 0;
  content: "";
  font-family: "FontAwesome";
  font-size: 14px;
  line-height: 36px;
}
.iview-directionNav a.iview-prevNav {
  left: -38px;
}
.iview-directionNav a.iview-prevNav:before {
  content: "\f104";
}
.iview-directionNav a.iview-nextNav {
  right: -38px;
}
.iview-directionNav a.iview-nextNav:before {
  content: "\f105";
}
.iview-directionNav a:hover {
  background: #e24647;
}

/* Control nav styles (e.g. 1,2,3...) */
.iview-controlNav {
  position: absolute;
  z-index: 9;
  left: 0;
  right: 0;
  bottom: 10px;
  text-align: center;
}
.iview-controlNav a {
  z-index: 9;
  cursor: pointer;
  width: 12px;
  height: 12px;
  margin: 0 3px;
  display: inline-block;
  background: #dddddd;
  -webkit-box-shadow: 0 -1px 0 1px #cdcdcd;
  box-shadow: 0 -1px 0 1px #cdcdcd;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}
.iview-controlNav a:hover, .iview-controlNav a.active {
  background: #e24647;
  -webkit-box-shadow: 0 -1px 0 1px #c4362b;
  box-shadow: 0 -1px 0 1px #c4362b;
}
.iview-controlNav a span {
  display: none;
}
.iview-controlNav .iview-items ul {
  list-style: none;
}
.iview-controlNav .iview-items ul li {
  display: inline;
  position: relative;
}
.iview-controlNav .iview-control img {
  display: none;
}
.iview-controlNav .iview-tooltip {
  position: absolute;
}

/* The captions in the Slider */
.tp-caption {
  position: absolute;
  z-index: 4;
  cursor: default;
}

/* The video show in the Slider */
.iview-video-show {
  background: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 101;
}
.iview-video-show .iview-video-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.iview-video-show .iview-video-container a.iview-video-close {
  position: absolute;
  right: 10px;
  top: 10px;
  background: #222;
  color: #FFF;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 29px;
  font-size: 22px;
  font-weight: bold;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
.iview-video-show .iview-video-container a.iview-video-close:hover {
  background: #444;
}
