@import "compass";
@import "theme_variables";

$image-theme-base-path: "img/";

$theme-color-default: 		#8c817a;
$theme-color-secondary :	#1fa7ed;
$link-hover-color: 			$theme-color-default;

$main-border-hover:         1px solid $theme-color-default;

$topbar-color-hover: 		$link-hover-color;
$topbar-link-hover-color: 	$link-hover-color;

$headermain-color-hover: 		$link-hover-color;
$headermain-link-hover-color: 	$link-hover-color;

$mainnav-color-hover: 		$link-hover-color;
$mainnav-link-hover-color: 	$link-hover-color;

$footer-top-color-hover: 		$link-hover-color;

$footer-center-color-hover: 	$link-hover-color;

$footer-nav-color-hover: 		$link-hover-color;
$product-name-hover-color: 			$link-hover-color;
$product-price-color: 				$theme-color-default;

$breadcrumb-active-color: 			$link-hover-color;

$megamenu-link-hover-color:         $theme-color-default;
$megamenu-sub-link-hover-color:     $theme-color-default;

$button-addtocart-bg:               $theme-color-secondary;
$button-addtocart-bg-hover:         $theme-color-default;

@import "../_skin";
