/* BLOCK #reinsurance_block ******************************************************************** */
#reinsurance_block {/*background:url(../blockreinsurance/img/bg_reinsurance_block.gif) repeat-x 0 0 #c3c7cb*/}
#reinsurance_block li {
	float:left;
	padding:15px 10px !important;
	font-size:22px;
	color:#fff;
	font-family: 'bebas_neueregular';
    }
#reinsurance_block .width1 li {width:960px}
#reinsurance_block .width2 li {width:470px}
#reinsurance_block .width3 li {width:280px}
#reinsurance_block .width4 li {width:224px}
#reinsurance_block .width5 li {width:160px; height: 100px; border-right: 1px dashed #b4a998;}

#reinsurance_block .width5 li:last-child{ border: none;}

#reinsurance_block li #imagre{
	width: 160px;
	height: 50px;
	margin:0 auto;
	text-align: center;
}
#reinsurance_block li img{
	
	height: 50px;
	margin:0 auto;
}
#reinsurance_block li #textre {
	text-align: center;
	padding-top:12px;
	line-height: 20px;
	
}
#reinsurance_block li #textre2 {
	text-align: center;
	font-size: 14px;
	
}