@import "vars/block.vars";

// block.scss
.#{$block-selector} {
    .title_block {
        text-align: center;
    }
}
// block in sidebar - left column, right column
.sidebar{
    .#{$block-selector} {
        margin-bottom: $block-margin-bottom;   
        .#{$block-heading-selector}{
            color: $block-heading-color;
            a{
                color: $block-heading-color;
            }
            position: relative;                                                             
            text-transform: $block-heading-transform;
            font-family: $block-heading-font-family;    
            padding: $block-heading-padding;         
            font-size: $block-heading-font-size;
            letter-spacing: $block-heading-letter-spacing;   
            background:$block-heading-bg;  
            @include rounded-corners ($block-heading-radius);
            @include rtl-text-align-left();
            border: $block-heading-border; 
            margin: 0; 
        }
        .#{$block-content-selector} {        
            @include rounded-corners ($block-content-radius);
            padding: $block-content-padding;
            @include clearfix();     
            border: $block-content-border;  
            background: $block-content-bg;             
        }
        ul {
            li{
                padding: 5px 0;
            }
        }
    }

    // product-block
    .product-block {
        margin: 10px 0 0;
        img {border: $main-border;}
        .name {
            margin: 0 0 5px;
            line-height: 20px;
        }
        .content_price {margin: 0;}
        .price-old,
        .old-price {font-size: $font-size-base;}
    }

    // block-variant($border, $heading-text-color, $heading-bg-color, $heading-border)
    // Contextual variations
    .#{$block-prefix}-default {
      @include block-variant($panel-default-border, $panel-default-text, $nocolor, $panel-default-border);
    }
    .#{$block-prefix}-primary {
      @include block-variant($panel-primary-border, $panel-primary-text, $nocolor, $panel-primary-border);
    }
    .#{$block-prefix}-success {
      @include block-variant($panel-success-border, $panel-success-text, $nocolor, $panel-success-border);
    }
    .#{$block-prefix}-info {
      @include block-variant($panel-info-border, $panel-info-text, $nocolor, $panel-info-border);
    }
    .#{$block-prefix}-warning {
      @include block-variant($panel-warning-border, $panel-warning-text, $nocolor, $panel-warning-border);
    }
    .#{$block-prefix}-danger {
      @include block-variant($panel-danger-border, $panel-danger-text, $nocolor, $panel-danger-border);
    }
    .#{$block-prefix}-highlighted {
        @include block-variant($block-highlighted-border, $block-highlighted-text, $nocolor, $block-highlighted-border);
    }
}

// block in header
// block in footer
// block in main