/******************************************************
 * $package Leo Theme Framework for Leo THeme 1.6.x
 * $version 1.1
 * $author http://www.leotheme.com
 * $copyright   Copyright (C) Augus 2013 PavoThemes.com <$emai:leotheme$gmail.com>.All rights reserved.
 * $license     GNU General Public License version 2
 *******************************************************/
 // layout.scss

@import "vars/layout.vars";
body{
    &.layout-boxed-md{
        background: $white;
        #page{  
            max-width: $container-desktop + 20px; 
            @include box-shadow(0 0 5px lighten($gray, 50%));
            margin: 0 auto;    
            background: $white;
            .container {
                max-width: $container-desktop;
            }
        }  
        #leo-megamenu .navbar-nav > li > a {padding: 30px 10px;}
    }
    &.layout-boxed-lg{
        background: $white;
        #page{  
            max-width: $container-lg + 20px; 
            @include box-shadow(0 0 5px lighten($gray, 50%));
            margin: 0 auto;    
            background: $white;
            .container {
                max-width: $container-lg;
            }
        }
    }
} 

#page {overflow: hidden;}

.container{
    position: relative;
}

/*
* HEADER 
*/
 
#topbar  {
    min-height: $topbar-height;
    font-size: $topbar-font-size;
    background: $topbar-outside-bg;
    .container{
        @include container-layout-variant($topbar-color, $topbar-bg);
        
    }
    .links{  
        padding: 6px 0;      
    } 
    a{color: $topbar-color;
        &:hover{color: $link-hover-color;}
    }
      
}

 
#header-main{
   background: $headermain-outside-bg;
   min-height: 76px;
   .container{
        @include container-layout-variant($headermain-color, $headermain-bg); 
        a.btn{
            color: $white;            
            &:hover{color: $white;}
        }
    }
    &.mini-navbar{ // float header
        .container{
            padding-top: 10px;
            padding-bottom:  10px;
       }
    }
    .header_static {
        position: static;
    }
}


/* FOOTER */
#footer{
    padding: 30px 0 0;
    clear: both;
    background: $footer-outside-bg;
    .container{
        @include container-layout-variant($footer-color, $footer-bg);   
    } 
    a{
        color: $footer-color;
        &:hover{color: $link-hover-color;}
    }
    .block {text-align: center;}
    .title_block {
        color: #272727;
        padding: 15px 0;
        margin: 0;
        a {
            color: #272727;
            &:hover{color: $link-hover-color;}
        }
    }
}
