// product-item.scss

@import "vars/product-item.vars"; 

/* product style */
.product-block{ 
    position: relative;
    margin: 20px 0;
    @include box-sizing(border-box);
    // rating  
    .nb-comments{
        display: none;
    }
    .star_content{
        display: inline-block;
    }
    .product-rating, .norating { 
        min-height: 20px;
        font-size: $product-rating-font-size;
    }

	// price
    .content_price{margin: 10px 0;}
	.price{
		color: $product-price-color;           
		font-weight: 600;
		font-family: $product-price-font-family;
        font-size: $product-price-font-size;
	}
	.price-old, .old-price {
		color: $product-price-old-color;
		text-decoration: line-through;        
	}
	.price-percent-reduction{
	    background: $product-price-reduction-bg;   
	    color: $white;
	    padding: 3px 5px;
        display: none;
	}
	 
	// desc
    .product-desc{
        height: 40px;
        overflow: hidden;
    }

	// title name
    .name{
        text-transform: $product-name-text-transform;
        font-weight: $product-name-font-weight;
        margin: 18px 0 12px;
        line-height: 20px;
        a {
            color: $product-name-color;
            font-size: $product-name-font-size;
            font-family: $product-name-font-family;    
            @include inline-block();                                       
            &:hover{
                color: $product-name-hover-color;
            }
        }
    }
   
	// image
    .image{
        position: relative;     
        overflow: hidden;
        text-align: center;
        border: $product-image-border;
        @include rounded-corners ($product-image-radius);
        img {display: inline-block;}
        @media (min-width: $screen-lg) { // min 1200px
            img {display: inline-block; @include transition(all 0.7s ease 0s);}
        }
    }

    .product-additional{
        position: absolute;
        top: 0px;
        visibility: hidden;
        left: 0px;
        @include opacity(0);
    } 

    // label
    .label {
        font-size: $font-size-base;
        font-weight: normal; 
        text-transform: uppercase;
        padding: 3px;
        display: inline-block;
        @include border-radius(2px);
    }
    .label-new{
        position: absolute; 
        top: 15px;
        width: 50px;
        height: 50px;
        line-height: 42px;
        background: $theme-color-secondary;
        @include rtl-left(15px); 
        @include border-radius(50px);
    }
    .label-sale{
        position: absolute; 
        top: 15px; 
        width: 50px;
        height: 50px;
        line-height: 42px; 
        background: $theme-color-default;
        @include border-radius(50px);
        @include rtl-right(15px);
    }  
    .label-discount {position: absolute; top: 15px; @include rtl-right(15px);}
    .product-flags{margin-bottom: 5px; display: none;}
    .available-now{display: none;} 
    .online_only{}

    // button
    .functional-buttons{
        @media (min-width: $screen-lg) { // min 1200px
            position: absolute;
            width: 56px;
            top: 0;
            text-align: center;
            @include rtl-right(12px);
            @include opacity(0);
        }
        a,
        .btn {
            @include border-radius(50%);
            @media (min-width: $screen-lg) { // min 1200px
                margin: 6px 0 0;
            }
            &:hover {
                background: $button-addtocart-bg-hover;
                color: $button-addtocart-color-hover;
                @include box-shadow(0 3px 6px 0 #a1a1a1, 0 2px 6px 0 #a1a1a1);
            }
        }
        .blueRounded {
            @include transition(all 0.3s ease-out);
            @media (min-width: $screen-lg) { // min 1200px
                 @include opacity(1);
            }
            &.ajax_add_to_cart_button {
                @include opacity(1);
                @media (min-width: $screen-lg) { // min 1200px
                     @include opacity(1);
                }
            }
        }
    }
    &:hover {   
        @media (min-width: $screen-lg) { // min 1200px
            .product-additional{
                // top: 0px;
                visibility: visible;
                @include transition(all 0.5s ease 0s);
                @include opacity(1);
            }
            .functional-buttons {
                visibility: visible;
                @include opacity(1);
                @include transition(all ease 0.7s); 
            }
            .image {
                img {@include transform(scale(1.1));}
            }
            .product-image-container {
                .sale-box, .new-box {@include opacity(0); @include transition(all ease 0.7s); }
            }
        }
    }
    .ajax_add_to_cart_button{
        background: $button-addtocart-bg;
        color: $button-addtocart-color;
        font-family: $button-addtocart-font-family;
        border: 1px solid $button-addtocart-border;
        padding: 0;
        @media (min-width: $screen-lg) { // min 1200px
            font-size: $button-addtocart-font-size;
            width: 56px;
            height: 56px;
            line-height: 50px;
        }
        &:hover{
            color: $button-addtocart-color-hover;
            background: $button-addtocart-bg-hover;
            border: 1px solid $button-addtocart-border-hover;
        }

    } 
}

.blueRounded {
    &.disabled {background: $button-addtocart-bg;}
}