@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "mixins/theme";

/**
 * Web Application Prefix Apply For Making Owner Styles
 */
$app-brand-prefix        : leo !default;

/**
 *   Blocks Layout Selectors 
 */
$block-prefix 			 : block!default;
$block-selector          : block !default;
$block-heading-selector  : title_block !default;
$block-content-selector  : block_content !default;

//------- Path Variables
$image-path:                   "images/"!default; 
$font-custom-path:             "../fonts/"!default; 
$image-theme-base-path:        "../img/"!default;
$image-base-path:              "../../../img/"!default;
$image-module-path:            "../../../img/icon/"!default; 
$module-path:                  "../../../modules/"!default;  

$theme-font-path	   :          	 "../fonts/" !default; 


/***********************************************************************/
// some basic colors

$white:			 				    #FFFFFF !default; 
$black:							    #000000 !default;
$blue:                              #6087D2 !default;  // Skin blue
$wild-sand:                         #ffffff !default;  
$silver:                            #f5f5f5 !default;  
$red:            					#ff0000!default;
$red-light:            				#ff9999!default;
$yellow-light:           			#ffdc73!default;
$nocolor:							transparent!default;

// Variables paths 
// ========================================================================
$font-family-tertiary  :             'Lato', sans-serif !default;		// font for menu
$font-family-septenary : 			 'Lato', sans-serif !default; 		// font for slideshow
$font-family-senary    : 		 	 'Lato', sans-serif !default;		// font for Price
$font-family-for:                    'Oswald', sans-serif !default;

$font-icon 	   : 			 "FontAwesome" !default;

//////////////////// Variables defined for Themes + Skins //////////////// 

$theme-color-default : 			    #e24647 !default;
$theme-color-secondary :			#00bcd4 !default;
$theme-color-tertiary:              #272727 !default;

//-------- BORDERS
$border-color:						#dddddd !default;
$main-border:						1px solid $border-color !default;
$main-border-hover:                 1px solid $theme-color-default !default;

//--------- BACKGROUNDS
$dark-background:                   $black!default;
$light-background:                  $white!default;

/** CHECKOUT BY STEP */
$checkout-step-container-border : solid 1px  $border-color!default;
$checkout-step-container-margin : 30px !default;
$checkout-step-font-size:18px !default;
$checkout-step-font-color : $black !default;
$checkout-step-button-bg: $nocolor !default; 
$checkout-step-button-padding: 10px 15px;  

// product page

// product list

//
// Variables
// --------------------------------------------------
$rtl-left : left;
$rtl-right : right;

