@import "compass";
@import "theme_variables";

// cateogry 
#subcategories{
  border: $main-border;
  margin-bottom: $grid-gutter-width;
  padding: 15px 0;
} 
.subcategories{
  .cat-desc{
      overflow: hidden;
      height: 40px; 
  }
}

.page-heading {
	&.product-listing {display: inline-block;}
}