@import "compass";
@import "theme_variables";

/* primary_block ***************************************************************************** */

.product-heading-h5{
	color: $gray-light;
	font-weight: 200;
	margin: 3px 0 8px;
	font-size: 19px;
	font-family: $headings-font-family;
}  
img{
	max-width: 100%;
	height: auto;
}

/* .pb-left-column ***************************************************************************** */

.pb-left-column {
	text-align: center;
	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		height: 1px;
		width: 98%;
		left: 0;
		right: 0;
		margin: 0 auto;
		border-bottom: $main-border;
	}
	.p-label{position: absolute; top: 5px; left: 0; right: 0;}

	h1 {
		font-size: 40px;
		font-weight: 300;
		margin-top: 0;
	}

	> p {
		display: inline-block;
		margin: 0 10px;
		label {font-weight: 400;}
		span {font-weight: 700;}
	}

	#image-block {
		position: relative;
		margin-bottom: 10px;
		width: 55%;
		margin: 0 auto;
		img {
			width:100%;
		}
		#view_full_size {
			display: block;
			cursor: pointer;
			text-align: center;
			a {display: inline-block;}
			.span_link {
				position: absolute;
				bottom: 10px;
				right: 0;
				left: 0;
				width: 32px;
				padding: 4px;
				margin: 0 auto;
				line-height: 20px;
				display: block;
				text-align: center;
				&:after{
					font-family: $font-icon;
					color: #c0c0c0;
					font-size: 20px;
					line-height: 20px;
					content: "\f00e";
					font-weight: normal;
					@include rtl-margin(0,0,0,2px);
				}
				&:hover:after{
					color: $white;
				}
			}
		}
		a.jqzoom {
			div div {
				img {
					width: auto;
					max-width: 10000px;
				}
				.zoomWrapper {
					border: none;
				}
			}
		}
		.zoomPad {
			z-index : auto!important;
		}
	}
	/* miniatures */
	#views_block {
		position: relative;
		margin: 20px auto;
		width: 55%;
	}
}
#thumbs_list {
	overflow: hidden;
	margin: 0 auto;
	width: 400px;
	ul#thumbs_list_frame {
		list-style-type: none;
		@include rtl-padding-left(0);
		overflow: hidden;
		margin: 0;
		height: 63px;
	}
	li {
		 @include rtl-float-left ();
		height: 63px;
		width: 92px;
		cursor: pointer;
		@include rtl-margin-right(8px);
		line-height: 0;
		@include box-sizing(border-box);
		&:first-child{
			@include rtl-margin(0,9px,0,0);
		}
		&.last{
			@include rtl-margin-right(0);
		}
		a {
			display: block;
			@include transition(all 0.3s ease);
			@include box-sizing(border-box);
			
			display: block;
			text-align: center;
			&.fancybox {
				@include opacity(0.3);
				&:hover {@include opacity(1);}
			}
		}
		img {
			margin: 0 auto;
			@include box-sizing(border-box);
		}
	}
}

#view_scroll_left,
#view_scroll_right {
	height: 20px;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
	position: absolute;
	top: 45%;
	z-index: 1000;
	&:before{
		color: $black;
		font-family: $font-icon;
		font-size: 20px;
		line-height: 22px;
	}
	&:hover:before{
		color: $theme-color-default;
	}
}
#view_scroll_right {
	@include rtl-right(80px);
	&:before{
		content: "\f054";
	}
}
#view_scroll_left {
	@include rtl-left(80px);
	&:before{
		content: "\f053";
	}
}
.resetimg {
	/* width: 100%;
	margin: 0 !important;
	border-bottom: $main-border; */
	#resetImages i{
		@include rtl-margin-right(6px);
	}
}

/* link list */
#usefull_link_block {
	list-style-type: none;
	display: inline-block;
	li {
		a{
			position: relative;
			@include rtl-padding-left(25px);
			line-height: 22px;
			display: inline-block;
			font-weight: 500;

			&:before{
				font-family: $font-icon;
				font-size: 16px;
				line-height: 24px;
				position: absolute;
				@include rtl-left(0);
				font-weight: normal;
			}
			&:hover {
				&:before {color: $theme-color-default;}
			}
		}
		&.print{
			a:before{
				content: "\f02f";
			}
		}
		&.sendtofriend {
			a:before{
				content: "\f003";
			}
		}
		&#left_share_fb {
			clear: both;
			float: none;
			a{
				padding-left: 18px;
			}
			a:before{
				content: "\f09a";
			}
		}
		&#favoriteproducts_block_extra_remove,
		&#favoriteproducts_block_extra_add,
		&#favoriteproducts_block_extra_removed,
		&#favoriteproducts_block_extra_added{
			cursor: pointer;
			clear: both;
			float: none;
			margin: 0 0 8px 0;
			border: none;
			padding: 0;
			position: relative;
			&:before{
				font-family: $font-icon;
				font-size: 19px;
				line-height: 24px;
				position: absolute;
				top: -2px;
				@include rtl-left(0);
				font-weight: normal;
				content: "\f08a";
			}
			&:hover{
			}
		}
		&#favoriteproducts_block_extra_removed:before {
			content: "\f004";
		}
	}
}

/* pb-right-column ********************************************************************************/
.pb-right-column {
	/* form */
	#buy_block {
		min-height: 290px;
		padding: 20px;
		@include rtl-border-right(#cccccc);
        @include rtl-border-style(none,solid,none,none);
        @include rtl-border-width(0,1px,0,0);
		label {
			display: inline-block;
			width: 125px;
			font-weight: 700;
			font-size: 12px;
			@include rtl-text-align-right();
		}
		p{
			&.price {
				padding: 0;
			}
		}
	}
	#color_picker p {
		padding-bottom: 5px;
		font-weight: 700;
	}
}

/* pb-centercolumn ********************************************************************************/
.pb-centercolumn {
	text-align: center;
	padding-bottom: 30px;
}
/* pb-center-column ****************************************************************************** */

.pb-center-column { 
	padding-top: 30px;
	@include rtl-text-align-left();
	#product_reference {
		margin-bottom: 6px;
	}
}
#product p#loyalty {
	@include rtl-padding(17px,0,15px,35px);
	border-top: $main-border;
	border-bottom: $main-border;
	margin: 10px 0 -5px;
	position: relative;
	&:before{
		content: "\f024";
		font-family: $font-icon;
		color: #cfcccc;
		font-size: 26px;
		line-height: 28px;
		position: absolute;
		top: 16px;
		@include rtl-left(0);
	}
}

#attributes{
	fieldset {
		margin-bottom: 20px;
		label {
			vertical-align: top;
			display: inline-block;
			line-height: 36px;
			text-transform: uppercase;
			font-weight: 400;
			margin-bottom: 0;
			@include rtl-margin-right(20px);
		}
	}
	.attribute_list {
		display: inline-block;
		.form-control {
			max-width: 230px;
			height: 36px;
			position: relative;
			border: 1px solid #272727;
			@include border-radius(0);
			option{
				color: $text-color;
			}
		}
		ul {
			clear: both;
			li{
				display: inline-block;
				@include rtl-text-align-right();
			}
		}
		input.attribute_radio{
			@include rtl-float-left();
			@include rtl-margin-left(3px);
		}
		div.radio, 
		div.radio span,
		div.radio input{
			float: none;
			display: inline-block; 
		}
		#color_to_pick_list {
			list-style-type: none;
			margin-bottom: 0;
			li {
				@include rtl-float-left ();
				padding: 1px;
				clear: none;
				a.color_pick {
					display: block;
					height: 30px;
					width: 30px;
					cursor: pointer;
					border: 2px solid transparent;
				}
				&.selected{
					a{
						border: 2px solid #272727;
					}
				}
			}
		}
	}
}
.box-cart-bottom {
	> div {display: inline-block;}
	.btn {
		text-transform: uppercase;
		border: 1px solid transparent;
		color: $text-color;
		padding: 8px 12px;
		&.btn-inverse {
			color: #FFF;
			padding: 8px 30px;
		}
		&:hover {
			border: 1px solid #272727;
			color: #272727;
			&.btn-outline {
				background: none;
			}
		}
	}
}

// description
#short_description_block {
	padding-top: 20px;
	border-top: $main-border;
	margin-bottom: 20px;
	/* display: none; */
}

/* table_data_sheet */
.table-data-sheet{
	border-bottom: $main-border;
	width: 100%;
	margin: 0 0 20px;

	tr{
		border-top: $main-border;
		&.even{
			background: $table-bg-accent;
		}
		td{
			padding: 10px 20px 11px;
			&:first-child{
				border-right: $main-border;
				width: 30%;
				font-weight: 500;
				
			}
		}
	}
}
/* table product-discounts */
table.table-product-discounts{
	border: none;
	border-bottom: $main-border;
	border-right: $main-border;
	width: 50%;
	margin: 0 0 20px;

	@media (max-width: $screen-xs-max) { //max 767px
		width: 100%;
	}
	tr th{
		background: $table-bg;
		font-weight: 700;
		border: none;
		font-weight: 700;
	}
	tr td,
	tr th{
		border-left: $main-border;
		width: 33%;
		padding: 10px 20px 11px;
		border-top: $main-border;
		border-right: none;
		text-shadow: none;
		text-transform: none;
		font-weight: 13px;
		line-height: 18px;
		border-bottom: none;
	}
}

/* accessories  */
.accessories-block {
	.block_description{
		display: none;
	}
	.exclusive span{
		font-size: 13px;
		line-height: 18px;
		padding: 2px 8px 3px;
		text-decoration: none;
		&:focus,
		&:active{
			text-decoration: none;
		}
	}
	.page-subheading{margin-bottom:0;}
}

/* quantity_wanted */
#quantity_wanted_p{
	position: relative;
	margin-bottom: 20px;
	input {
		width: 64px;
		height: 36px;
		border: 1px solid #272727;
		@include rtl-padding(0,0,0,10px);
		@include border-radius(0);
		@include rtl-text-align-left();
	}
	label{
		font-weight: 400;
		text-transform: uppercase;
		@include rtl-margin-right(20px);
	}
	.product_quantity_up,
	.product_quantity_down {
		width: 30px;
		height: 18px;
		text-align: center;
		padding: 0;
		font-size: 10px;
		line-height: 18px;
		position: absolute;
		border: none;
		display: none;
		@include rtl-right(0);
	}
	.product_quantity_down {
		bottom: 0;
	}
	.product_quantity_up {
		top: 0;
	}
}

/* availability_statut */
#availability_statut span#availability_label, 
#availability_date_label {
	display: inline-block;
	font-weight: 400;
	@include rtl-text-align-right();
}
#quantityAvailable{
	
	font-size: 13px;
	line-height: 18px;
}
#availability_value,
#last_quantities {
	line-height: 18px;
	display: inline-block;
	background-color: transparent;
	color: $text-color;
	padding: 0;
	font-size: 14px;
}
#last_quantities{
	background: $blue;
	padding: 4px 8px 3px;
	position: relative;
	top: 1px;
}
#availability_statut, 
#pQuantityAvailable {
	display: inline-block;
}
#pQuantityAvailable span{
	font-weight: 500;
	
}
#availability_statut #availability_value.warning_inline { margin: 0;}

/* box-security */
.box-security {}

/* prices */
.content_prices {
	padding: 0 0 5px 0;
}
.discount {
	display: none;
}
.our_price_display {
	color: #272727;
	font-size: 30px;
	font-family: $font-family-for;
}
#old_price, .old-price {
	font-size: 16px;
	text-decoration: line-through;
	display: inline-block;
	line-height: 24px;
	font-family: $font-family-for;
}
#reduction_percent, 
#reduction_amount {
	display: inline-block;	
	position: relative;
	top: -3px;
	margin: 0 5px;
	padding: 0 3px;
	font-size: 14px;
	line-height: 23px;
	color: #FFF;
	background: #f13340;
	border: 1px solid #d02a2c;
	font-family: $font-family-for;
	@include border-radius(0);
	span{
		display:block;	
	}
}

/* online_only */
.pb-center-column p.online_only {
	font-weight: 700;
	color: #f13340;
}

.buttons_bottom_block {display: inline-block;}

// box-info-product
.box-info-product {
	@include rtl-text-align-right();
	.content_prices {
		p {display: inline-block;}
	}
}
#product_payment_logos {
	display: inline;
	img {display: inline-block; @include opacity(0.6);}
}
/* SEND TO FRIEND (pop-in) ##################################################################### */

#send_friend_form {
	width: 555px;
	overflow: hidden;
	.product{
		img{
			margin: 0 0 10px 0;
			border: $main-border;
		}
		p{
			padding: 0 ;
			
			.product_name {
				font-size: 12px;
				color: #000;
			}
		}
	}
	.form_container {
		padding: 10px 15px;
		border: $main-border; 
		p{
			&.intro_form {
				padding-bottom: 6px;
				font-weight: 700;
				font-size: 13px;
				
			}
			&.txt_required{
				padding-bottom: 0;
				color: #666;	
			}
		}
		.text {
			padding-bottom: 10px;
			label {
				display: block;
				padding: 0;
				width: 100%;
				font-size: 12px;
			}
		}
	}
	.submit {
		margin-top: 20px;
		padding-bottom: 0;
		@include rtl-text-align-right();
	}
}

/* PERSONNALISATION ##################################################################### */

p.infoCustomizable {
	margin-bottom: 30px;
}

ul#uploadable_files,
ul#text_fields {
	list-style-type: none;
}

.customizableProductsFile,
.customizableProductsText {
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: $main-border;
}

.customizationUploadLine {
	padding-bottom:10px;
	label{
		display: block;
		vertical-align: top;
	}
	textarea {	
		width: 50%;
		border: $main-border;
		color: $text-color;
	}
}
.customizationUploadBrowse img + a {
	position: relative;
	top: -51px;
}

#customizedDatas {
	@include rtl-float-right ();
}

.accessories_block{
	div ul li {
		a {
			display: inline-block;
		}
		&.s_title_block{
			a, span{
				font-weight:700;
			}
		}
	} 
}

/***** IE code ****/
.ie8 {
	.pb-left-column {
		#image-block {
			#view_full_size {
				.span_link {
					background: #fff;
					border: $main-border;
				}
			}
		}
	}
	.box-security {
		filter: none;
	}
}
// social
.socialsharing_product {
	margin-bottom: 20px;
	button {border:$main-border;}
}

/******************************************************************
Quick View Styles
******************************************************************/
.addsharethisinner .stButton .stArrow {
	display: none !important;
}
#product.content_only {
	div {
		&.primary_block {
			margin-bottom: 0;
			padding: 10px;
			@media (max-width: $screen-sm-max) { //max 991px
				margin-right: 0;
			}
		}
	}
	#leo-paneltool{display: none;}
}

@media (max-width:1050px) {
	#product.content_only {
		div, section {
			&.primary_block {
				div {
					&.pb-left-column {
						width: 100%;
						padding-right: 15px;
						#image-block, #views_block {
							max-width: 470px;
							width: 100%;
							margin-left: auto;
							margin-right: auto;
						}
						#thumbs_list {
							li {
								width: 90px;
								height: 90px;
								img {
									width: 82px;
									height: 82px;
								}
							}
						}
					}
					&.pb-center-column {
						width: 50%;
						@include rtl-float-left ();
						@include rtl-padding-left(35px);
					}
					&.pb-right-column {
						width: 50%;
						@include rtl-float-left ();
					}
				}
			}
		}
	}
}

// nav-tab
.product {
  .nav-tabs{
  	text-align: center;
  	border-top: $main-border;
    > li{
    	float: none;
    	display: inline-block;
    	a {
    		padding: 20px 15px;
    		border: none;
    		border-bottom: 3px solid transparent;
    		background: none;
    		color: $text-color;
    		font-family: $font-family-for;
    		font-size: 18px;
    		text-transform: uppercase;
    	}
      &.active{
        a, a:active, a:focus{
			color: #272727;
			border: none;
			border-bottom: 3px solid $theme-color-default;
        }
      }
    }
  }
}
.tab-content{padding: 20px 0; margin-bottom: 60px;}