@import "compass";
@import "theme_variables";

@media (max-width: 1196px) and (min-width: 992px) {
	//Theme config live
	.editortool .label-customize {display: none;}
} 
@media (min-width: $screen-lg) { // min 1200px

	//GUEST TRACKING
	#guestTracking {
		.form-group {
      		overflow: hidden;
	      	i {
	        	@include rtl-padding-left(10px);
	      	}
    	}
    	.form-control {
      		@include rtl-float-left ();
    	}
    	label {
      		@include rtl-float-left ();
      		clear: both;
     		width: 100%;
    	}
	}
	.product-container.product-block {
		.product-meta {@include rtl-padding-right(80px);}
	}
	.product_list {
		.product-block {
			.product-meta {@include rtl-padding-right(0);}
		}
	}
}
@media (max-width: $screen-md-max) { // max 1199px
  	//Zoom
  	.zoomdiv {
    	display: none !important;
  	}
}

@media (max-width: 1024px) { // max 1024px
	#layer_cart{
		width: 94%;
		@include rtl-text-align-left();
	}
}

@media (max-width: $screen-sm-max) { // max 991px

	//Menu Canvas
	html {
		background: none;
	}
	.navbar-header .navbar-toggle{
		display: block;
		margin: 0;
		width: 40px;
		color: $white;
		background: $theme-color-default;
		@include rtl-float-left();
		@include border-radius(3px);
		@include rtl-margin-right(0);
		&:focus,
		&:hover{
		  	border-color: $theme-color-default;
		}	  
	}
	.collapse.navbar-collapse  {
	  	display: none !important;
	}
	.navbar-nav {
		float: none;
		> li{
			float: none;
		}
	}
	.navbar-header{
		float: none;
	}
	.dropdown-menu-inner {
		.mega-col {width: 100%;}
	}
	#leo-megamenu {
		@include rtl-float-left();
		@include rtl-margin-left(10px);
		margin-bottom: 10px;
	}
	.widget-video iframe {width: 100%; height: 100%; border: none;}
	.leo-megamenu .dropdown-menu-inner {padding: 0 9px; @include box-shadow(none);}
	
	//
	.float-vertical.active{
		> .block_content{
			position:relative;		
		}
	} 	
	
	#leo-verticalmenu .open > .dropdown-menu {
		max-width: 100%;
		position: relative;
		left: auto !important;
		width: 100% !important;
		top: 100%;
	}
	div.verticalmenu .navbar-nav{
		margin: 0;
	}
	.header_user_info .popup-title{
	  display: block;
	}
	.dropdown-menu > li > a{padding: 3px 0;}
	.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
		background: transparent;
	}
	ul.links li .fa, ul.links li .icon{
		width: 10px;
	} 

	// header
	#header-main {text-align: center;}

	// popup-over
	.popup-over {
		.popup-title {
			margin: 10px 0;
		}
		.popup-content {top: 50px; @include rtl-text-align-left();}
	}

	// blockcart
	#cart {
		.heading {@include rtl-margin(2px,10px,19px,0);}
	}

	// thumblist
	#view_scroll_left {left: 0;}
	#view_scroll_right {right: 0;}
	#thumbs_list {width: auto;}

	// line
	.group-boxline:before, .blockproductscategory:before {width: 100%;}
}

@media (max-width: $screen-xs-max) { // max 767px
	.logo {margin: 10px 0;}
	 
	#footer {
		#newsletter_block_left {
			form {
				input[type="text"] {width: 100%;}
			}
		}
		.footer-block {margin-bottom: 0; min-height: auto;}
	}
	// sidebar
	.sidebar .block {margin-bottom: 0;}
	//product
	.pb-right-column {
		#buy_block {
			min-height: 323px;
			border: none; padding: 20px 0 0;
			label {@include rtl-text-align-left();}
		}
	}
	.box-info-product {@include rtl-text-align-left();}
	#product_comments_block_extra .comments_note {margin: 0;}
	#social_block {margin: 30px 0;}
}
@media (max-width: $screen-xs) { // max 480px
	#layer_cart .layer_cart_cart .button-container{
		text-align: center;
	}
	#layer_cart .layer_cart_cart .button-container .btn{
		float: none!important;
		margin-bottom: 10px;
	}
	#header .cart_block {width: 282px;}
	
	// product
	.pb-left-column #image-block {width: 100%;}
	// blocksearch
	form#searchbox {@include rtl-right(-91px);}
}