/**
 * We offer the best and most useful modules PrestaShop and modifications for your online store.
 *
 * We are experts and professionals in PrestaShop
 *
 * @category  PrestaShop
 * @category  Module
 * @author    PresTeamShop.com <support@presteamshop.com>
 * @copyright 2011-2015 PresTeamShop
 * @license   see file: LICENSE.txt
 */

/* ONE PAGE CHECKOUT PS PRINCIPAL */

#order_step, #order_steps, div.order_delivery{
    display: none!important;
}

div#onepagecheckoutps #onepagecheckoutps_step_two p.warning,
div#onepagecheckoutps #onepagecheckoutps_step_three p.warning {
    margin: 10px 0;
}

/* PASO 1 - ADDRESS*/
div#onepagecheckoutps .onepagecheckoutps_p_step_one,
div#onepagecheckoutps .onepagecheckoutps_p_step_two,
div#onepagecheckoutps .onepagecheckoutps_p_step_three,
div#onepagecheckoutps .onepagecheckoutps_p_step_four{
    margin: 0!important;
}

div#onepagecheckoutps .onepagecheckoutps_p_step.p_address{
    text-align: left;
    font-weight: bold;
}

div#onepagecheckoutps #onepagecheckoutps_step_one #address_div_check_create_account,
div#onepagecheckoutps #onepagecheckoutps_step_one #address_div_check_create_billing_address,
div#onepagecheckoutps #onepagecheckoutps_step_one #div_checkbox_newsletter,
div#onepagecheckoutps #onepagecheckoutps_step_one #div_checkbox_optin{
    margin: 0.3em 0;
}

div#onepagecheckoutps #onepagecheckoutps_step_one #customer_id_gender1,
div#onepagecheckoutps #onepagecheckoutps_step_one #customer_id_gender2,
div#onepagecheckoutps #onepagecheckoutps_step_one #customer_days,
div#onepagecheckoutps #onepagecheckoutps_step_one #customer_months,
div#onepagecheckoutps #onepagecheckoutps_step_one #customer_years{
    width: auto;
    height: auto;
}

div#onepagecheckoutps #onepagecheckoutps_step_one .label_address{
    font-weight: bold;
}

div#onepagecheckoutps #onepagecheckoutps_step_one .account_creation h3{
    font-size: 12px;
    margin: 0!important;
    padding: 0!important;
    display: none;
}

div#onepagecheckoutps #onepagecheckoutps_step_one .account_creation p{
    float: left;
    margin-right: 10px;
}

div#onepagecheckoutps #onepagecheckoutps_step_one .account_creation label{
    text-align: justify;
    cursor: auto!important;
    font-size: 12px;
}

div#onepagecheckoutps #onepagecheckoutps_step_one .account_creation #customer_privacy,
div#onepagecheckoutps #onepagecheckoutps_step_one .account_creation #acepta_lopd{
    margin: 0!important;
    padding: 0!important;
    width: auto!important;
}
div#onepagecheckoutps #onepagecheckoutps_step_one .btn-facebook{
    background-color: #3b5998;
    color: #ffffff;
}
div#onepagecheckoutps #onepagecheckoutps_step_one .btn-google{
    background-color: #dd4b39;
    color: #ffffff;
}
div#onepagecheckoutps #onepagecheckoutps_step_one .btn-facebook:hover,
div#onepagecheckoutps #onepagecheckoutps_step_one .btn-google:hover{
    opacity: 0.9;
}
div#onepagecheckoutps #onepagecheckoutps_step_one .btn-facebook i{
    color: #ffffff;
}
div#onepagecheckoutps #onepagecheckoutps_step_one .btn-google i{
    color: #ffffff;
}
div#onepagecheckoutps #onepagecheckoutps_step_one #btn_save_customer,
div#onepagecheckoutps #onepagecheckoutps_step_one #referralprogram,
#onepagecheckoutps #form_login #btn_login{
    width: 100%;
}

/* PASO 2 - CARRIER*/
div#onepagecheckoutps #onepagecheckoutps_step_two .delivery_options_address {
	margin-bottom: 15px;
	max-height: 315px;
	overflow: auto;
}
div#onepagecheckoutps #onepagecheckoutps_step_two .delivery_option select{
    width: 100%!important;
}
div#onepagecheckoutps #onepagecheckoutps_step_two .delivery_option.selected{
    padding: 2px;
}
div#onepagecheckoutps #onepagecheckoutps_step_two div.extra_info_carrier{
    border: 1px dotted #000000;
    margin-bottom: 10px;
    padding: 5px;
    font-weight: bold;
    font-size: 12px;
}

div#onepagecheckoutps #onepagecheckoutps_step_two div.extra_info_carrier a {
    display: block;
    text-align: right;
    text-decoration: underline;
}

div#onepagecheckoutps #onepagecheckoutps_step_two .hook_extracarrier{
    clear: both;
}

div#onepagecheckoutps #onepagecheckoutps_step_two .delivery_option > div.radio {
    display: block;
    float: left;
}

div#onepagecheckoutps #onepagecheckoutps_step_one #opc_social_networks{
	border-bottom: 1px solid #d6d4d4;
    margin-bottom: 10px;
}
div#onepagecheckoutps #onepagecheckoutps_step_one #opc_social_networks h5{
    margin: 6px 5px;
	font-style: italic;
}
div#onepagecheckoutps #onepagecheckoutps_step_one #opc_social_networks button{
    margin: 6px 5px;
}

/* PASO 3 - PAYMENT

/* PASO 2 - REVIEW*/

div#onepagecheckoutps #onepagecheckoutps_step_review #go_to_cart{
    margin-top:4px;
    color:red;
    font-size: 11px;
    font-weight: bold;
}

div#onepagecheckoutps #onepagecheckoutps_step_review #display_cart_vouchers .voucher_name {
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
}

div#onepagecheckoutps #onepagecheckoutps_step_review h3 {
    margin: 0.5em 0;
    padding: 0;
    background: none;
    border: none;
}
div#onepagecheckoutps #onepagecheckoutps_step_review .item_total > div:first-child span * {
    display: inline;
}
div#onepagecheckoutps #onepagecheckoutps_step_review .cart_total_price .total_price_container p{
    padding: 2px;
}
div#onepagecheckoutps #onepagecheckoutps_step_review .cart_total_price{
    width: inherit;
}

div#onepagecheckoutps #onepagecheckoutps_step_review .cart_total_price .total_price_container span{
    padding: 5px;
}

div#onepagecheckoutps #onepagecheckoutps_step_review table#cart_summary .cart_total_price .total_price_container{
    border-right: none;
}

div#onepagecheckoutps #onepagecheckoutps_step_review #cart_voucher p{
    float: left;
}

div#onepagecheckoutps #onepagecheckoutps_step_review #cart_voucher #discount_name{
    width: auto!important;
}

div#onepagecheckoutps div#onepagecheckoutps_step_review #p_cgv{
    margin: 0!important;
    border: none;
    width: auto;
}

div#onepagecheckoutps div#onepagecheckoutps_step_review #div_cgv label{
    line-height: normal;
    padding-left: 5px;
}

div#onepagecheckoutps div#onepagecheckoutps_step_review input#cgv,
div#onepagecheckoutps div#onepagecheckoutps_step_one input#privacy_policy{
    margin: 0;
}

div#onepagecheckoutps div#onepagecheckoutps_step_review #buttons_checkout{
    float: left;
    margin-bottom: 15px;
    width: 100%;
    margin-top: 10px;
}

div#onepagecheckoutps div#onepagecheckoutps_step_review tr.cart_total_price #cart_voucher h4{
    float: left;
    padding: 0;
    margin: 0 10px 0 0;
}

div#onepagecheckoutps div#onepagecheckoutps_step_review #HOOK_SHOPPING_CART .ajax_add_to_cart_button,
div#onepagecheckoutps div#onepagecheckoutps_step_review #HOOK_SHOPPING_CART_EXTRA .ajax_add_to_cart_button{
    visibility: hidden;
}

div#onepagecheckoutps div#onepagecheckoutps_step_review table#cart_summary .customization .cart_quantity {
    padding: 2px 5px;
}

div#onepagecheckoutps div#onepagecheckoutps_step_review #order-detail-content #cart_summary .cart_unit,
div#onepagecheckoutps div#onepagecheckoutps_step_review #order-detail-content #cart_summary .cart_total{
    white-space: nowrap;
    width: 70px;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review #order-detail-content #cart_summary .cart_quantity{
    width: 45px;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review #HOOK_SHOPPING_CART .blockcrossselling .desc h3{
    font-size: 100% !important;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review .stick_buttons_footer {
    background-color: #FFFFFF;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    padding: 6px !important;
    bottom: 0;
    position: fixed;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review .alert.unvisible{
    display: none;
}

/*****************************Support templates*****************************/
#leo-centercol{
    width: 100%!important;
}
td.cart_quantity a.cart_quantity_up, td.cart_quantity a.cart_quantity_down{
    background: none!important;
}
#pppro_container form.std select{
    width: auto!important;
}
div#onepagecheckoutps #onepagecheckoutps_step_review #order-detail-content #cart_summary .cart_total_price #cart_voucher button.button.button-small span {
    border: none !important;
}
div#onepagecheckoutps #onepagecheckoutps_step_review #order-detail-content #cart_summary .cart_item .cart_delete i.icon-trash {
    font-size: 100%;
}
div#onepagecheckoutps #onepagecheckoutps_step_review #cart_title.page-heading {
    font-size: 21px !important;
}
div#onepagecheckoutps #onepagecheckoutps_step_review #order-detail-content #cart_summary tfoot > tr td:last-child {
    padding: 10px 6px;
}
div#onepagecheckoutps #onepagecheckoutps_step_review #order-detail-content #cart_summary {
    font-size: 98%;
}
div#onepagecheckoutps #onepagecheckoutps_step_review #order-detail-content{
    background: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
}
div#onepagecheckoutps #onepagecheckoutps_step_review .cart_total_price span {
    color: inherit;
    font-size: inherit;
    background: none;
}
/*a.btn, button.btn{
    width: auto;
}*/
div#onepagecheckoutps button.btn{
    height: auto;
    text-shadow: initial;
}
.input-group * {
        width:auto;
}

.input-group .form-control {
    width:auto;
}
div#onepagecheckoutps #onepagecheckoutps_contenedor .alert{
    display: block;
}
div#onepagecheckoutps .alert-warning:before, div#onepagecheckoutps .warning:before{
    content: none;
}
div#onepagecheckoutps .hidden-xs{
    float: none;
}
div#onepagecheckoutps #onepagecheckoutps_step_two .delivery_option_price{
    padding-left: 0;
}
body#order-opc #simplemodal-container{z-index: 999999 !important;}
#onepagecheckoutps_step_two_container .delivery_options_address .delivery_option_logo.col-md-3{
	width: 25% !important;
}
#onepagecheckoutps_step_two_container .delivery_options_address .delivery_option_logo.col-xs-2{
	width: 16.6667% !important;
}
#order-opc div#onepagecheckoutps .delivery_options_address{
    padding: 0;
}

/*#onepagecheckoutps_step_two_container #yp_opctps,
#onepagecheckoutps_step_two_container #yupick_content{
    display: none;
}*/
/*****************************END Support templates*****************************/

/*****************************Support modules*****************************/
#onepagecheckoutps_step_review #crossselling h2.productscategory_h2{
    margin: 8px 0!important;
    font-size: 15px!important;
    border: none!important;
}
#onepagecheckoutps_step_review #crossselling li p.product_name{
    margin: 4px 0;
}
#onepagecheckoutps_step_review #crossselling li span.price_display{
    width: 100%;
    display: block;
    text-align: center;
}

#onepagecheckoutps_step_review #csoc{
    margin: 0 auto;
}

#onepagecheckoutps_step_two #correos_content,
#onepagecheckoutps_step_two #correos_popuplinkcontent{
    display: none;
}

#onepagecheckoutps_step_two #message_no_office_error,
#div_dialog_opc #message_no_office_error {
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    padding: 10px!important;
}

body#order .PS_MRRelayPointInfo p {
    width: 270px!important;
}
body#order .PS_MRRelayPointInfo{
    width: 445px!important;
}
#onepagecheckoutps_step_two #chronorelais_container{
    display: none;
}
#onepagecheckoutps_step_two #kiala, #onepagecheckoutps_step_two .kiala_block{
    display: none;
}

#paypalFrame > input {
    display: inline-block;
    width: auto;
}
#paypalFrame > select {
    width: auto;
}
#paypalFrame #paypalpro_submit{
    display: block;
    float: none !important;
    margin: 0 auto !important;
}
div#onepagecheckoutps #onepagecheckoutps_step_three table#table_payment tr td form#firstdata_form{
    display: none;
}
body#order-opc .breadcrumb{
    display: none;
}
body#order-opc div.fkcorreios_calculo_cep{
    display: none;
}
#onepagecheckoutps_step_review #HOOK_SHOPPING_CART .fkcarrier-box{
    display: none;
}
/*body#order-opc #columns div.row{
    margin-right: 0 !important;
}*/
#onepagecheckoutps_step_two #indabox{
    display: none;
}
#onepagecheckoutps_step_two_container .packetery_prestashop_branch_list{
    display: inline-block;
    width: 100%;
}
#onepagecheckoutps_step_two_container .packetery_prestashop_branch_list select{
    width: 100% !important;
}
#onepagecheckoutps_step_two_container .inpost{
    display: inline-block !important;
    margin-left: 0 !important;
    padding: 10px;
    width: 100%;
}
#onepagecheckoutps_step_two_container .packetery-branch-list{
    overflow: auto !important;
}
#onepagecheckoutps_step_three #payment_method_container{
    overflow: auto;
    max-height: 550px;
}
#onepagecheckoutps_step_three #payment_method_container .payment_module.pc-eidition{
    padding: 10px;
}
#onepagecheckoutps_step_three #payment_method_container .title_accept{
    margin: 0;
    font-size: 18px !important;
}
div#onepagecheckoutps #onepagecheckoutps_step_two #soliberte_description_address{
    display: none !important;
}
/*div#onepagecheckoutps div#onepagecheckoutps_step_review #container_express_checkout{
    display: none;
}*/
div#onepagecheckoutps div#onepagecheckoutps_step_review #crossselling{
    width: 100%;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review .megacart_quantity_delete{
    font-size: inherit;
}
div#onepagecheckoutps #onepagecheckoutps_step_two #kialapicker{
    display: none !important;
}
div#onepagecheckoutps #onepagecheckoutps_step_three #payment_method_container iframe {
    width: 100% !important;
}
div#onepagecheckoutps #onepagecheckoutps_step_two .trMRSelected{
    display: block;
    height: 200px;
    overflow: auto;
}
div#onepagecheckoutps #onepagecheckoutps_step_two #myCollectionPlacesContent{
    display: none !important;
}
div#onepagecheckoutps #onepagecheckoutps_step_three #payment_method_container .stripe-payment-16{
    padding: 20px;
}
div#onepagecheckoutps #onepagecheckoutps_step_three #payment_method_container #paypal-express-checkout #paypal-express-checkout-btn-product{
    width: 100%;
}
div#onepagecheckoutps #onepagecheckoutps_step_review #csoc-container{
    width: 100%;
}
div#onepagecheckoutps #onepagecheckoutps_step_review #csoc-container h2{
    font-size: 17px !important;
    padding: 8px !important;
}
div#onepagecheckoutps #onepagecheckoutps_step_review #csoc-container #PM_CSOC{
    padding: 10px 0;
}
div#onepagecheckoutps #onepagecheckoutps_step_three .mp-form {
	width: 100% !important;
}
div#onepagecheckoutps #onepagecheckoutps_step_three .mp-module .col {
	float: none !important;
}
div#onepagecheckoutps #onepagecheckoutps_step_three .mp-module .standard {
	margin: 0 !important;
}
div#onepagecheckoutps #onepagecheckoutps_step_three .mp-module .standard::after {
	display: none;
}
div#onepagecheckoutps #onepagecheckoutps_step_three .minofpaymentopc {
	margin-bottom: 8px !important;
}

div#onepagecheckoutps #deliverydays p,
div#onepagecheckoutps #deliverydays h3{
    padding: 0 !important;
    margin: 0 !important;
}
/*****************************END Support modules*****************************/

/*****************************Globals*****************************/
div#onepagecheckoutps{
    text-align: left;
    font-size: 1em;
    color: #000;
    background: #fff;
    margin-bottom: 15px;
    position: relative;
}
/*div#onepagecheckoutps p{
    padding-bottom: 0;
}*/
div#onepagecheckoutps div#onepagecheckoutps_contenedor{
    border: 1px solid #d6d4d4;
    border-radius: 13px;
    padding: 10px 0;
    display: inline-block;
}
div#onepagecheckoutps div#onepagecheckoutps_header{
    margin: 8px 0;
}
div#onepagecheckoutps div#onepagecheckoutps_header #div_onepagecheckoutps_info h2,
div#onepagecheckoutps div#onepagecheckoutps_header #div_onepagecheckoutps_info h4{
    padding: 0;
}
div#onepagecheckoutps label{
    font-weight: normal;
	padding: 0;
    min-width: auto;
}
div#onepagecheckoutps i.fa{
    vertical-align: middle;
    font-style: normal;
}
div#onepagecheckoutps btn i.fa{
    cursor: pointer;
}
div#onepagecheckoutps #onepagecheckoutps_step_two,
div#onepagecheckoutps #onepagecheckoutps_step_three,
div#onepagecheckoutps #onepagecheckoutps_step_review{
    margin-top: 10px;
}
div#onepagecheckoutps span.tax{
    display: block;
}
div#onepagecheckoutps div#div_onepagecheckoutps_login p a {
    background: none;
    color: inherit;
    font-size: 13px;
    line-height: 28px;
    position: static;
    float: none;
    text-indent: initial;
    height: auto;
}
div#onepagecheckoutps #form_login #txt_login_email,
div#onepagecheckoutps #form_login #txt_login_password{
    width: 100%;
}
div#onepagecheckoutps span.read{
    cursor: pointer;
}
div#onepagecheckoutps span.read:hover{
    text-decoration: underline;
}
#cms_modal .modal-body *,
#payment_modal .modal-body *{
    font-size: 100% !important;
}
#payment_modal .modal-body h1,
#payment_modal .modal-body h2,
#payment_modal .modal-body h3{
    margin: 0;
}
#payment_modal .modal-body button.btn i{
    margin: 0 2px;
    vertical-align: middle;
}
#payment_modal .modal-body .box{
    border: none;
    background: none;
    margin-bottom: 5px;
    padding: 4px;
}
div#onepagecheckoutps #onepagecheckoutps_step_one_container,
div#onepagecheckoutps #onepagecheckoutps_step_review_container,
div#onepagecheckoutps #onepagecheckoutps_step_three_container,
div#onepagecheckoutps #onepagecheckoutps_step_review_container{
    position: relative;
    min-height: 200px;
}
div#onepagecheckoutps .onepagecheckoutps_p_step {
    padding-bottom: 4px;
    border-bottom: 1px solid #d6d4d4;
    cursor: default;
    text-transform: initial;
    vertical-align: middle;
    clear: both;
}
div#onepagecheckoutps .onepagecheckoutps_p_step i.fa{
    margin-right: 5px;
}
div#onepagecheckoutps input,
div#onepagecheckoutps select{
    text-align: left;
    vertical-align: middle;
    margin: 0;
    max-width: none !important;
	height: auto;
    position: inherit;
    left: auto;
}
div#onepagecheckoutps #opc_show_login i.fa,
div#onepagecheckoutps .panel-title i.fa{
    margin-right: 5px;
    cursor: default;
}
div#onepagecheckoutps #opc_temporal{
    display: none!important;
    visibility: hidden!important;
}
div#onepagecheckoutps div#div_onepagecheckoutps_info h2{
    margin: 0;
    padding: 0;
    text-align: left;
}
body#order-opc .modal-backdrop,
body#orderopc .modal-backdrop{
    display: none;
}
body#order-opc.modal-open{
    overflow: auto;
}
div#onepagecheckoutps .modal .modal-dialog {
    top: 40% !important;
    background: rgba(255, 255, 255, 1);
    padding: 0;
    position: static;
}
div#onepagecheckoutps .modal {
    top: 0 !important;
    padding-top: 10rem;
    /*opacity: 0.8;*/
    background: rgba(255,255, 255, 0.8);
    width: auto;
    margin: auto;
    position: absolute;
}
div#onepagecheckoutps input[type="radio"],
div#onepagecheckoutps input[type="checkbox"]{
    cursor: pointer;
}
div#onepagecheckoutps div.clear{
    height: auto;
    visibility: visible;
    line-height: normal;
}
/*compatibilidad para safari*/
/*div#onepagecheckoutps div.clear{
    display: inline-block;
    float: left;
}*/
/*****************************END Globals*****************************/

/*****************************Validation fields*****************************/
div#onepagecheckoutps input.valid{
    background: url(../../img/form-ok.png) no-repeat 99% 50% !important;
    padding-right: 24px !important;
}
div#onepagecheckoutps input.error{
    background: url(../../img/form-error.png) no-repeat 99% 50% !important;
    padding-right: 24px !important;
    color: inherit !important;
}
div#onepagecheckoutps span.form-error{
    color: red;
    font-size: 85%;
    margin: 0;
    padding: 0;
    text-align: right;
}
/*****************************END Validation fields*****************************/

/*****************************One Page Checkout Step: ONE*****************************/
div#onepagecheckoutps #onepagecheckoutps_step_one div.form-group{
    margin: 4px 0;
    clear: none;
}
div#onepagecheckoutps #onepagecheckoutps_step_one div.form-group checkbox,
div#onepagecheckoutps #onepagecheckoutps_step_one div.form-group radio{
    height: auto;
    margin-top: 0;
    width: auto;
    vertical-align: middle;
    cursor: pointer;
}

div#onepagecheckoutps #onepagecheckoutps_step_one div.form-group label {
    display: inline;
    vertical-align: middle;
    width: auto;
    font-size: 100%;
}

div#onepagecheckoutps #onepagecheckoutps_step_one #customer_container{
    margin-bottom: 10px;
}

div#onepagecheckoutps #onepagecheckoutps_step_one div.tab-content{
    display: block;
    margin: 0;
    padding: 8px 0;
    clear: both;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

div#onepagecheckoutps #onepagecheckoutps_step_one div.tab-content .page-product-box{
    float: none;
}

div#onepagecheckoutps #onepagecheckoutps_step_one .fields_container{
    position: relative;
}
div#onepagecheckoutps #onepagecheckoutps_step_one ul.nav{
    background: none;
    z-index: 0;
}
div#onepagecheckoutps #onepagecheckoutps_step_one ul.nav-tabs li a{
    font-weight: bold;
    font-size: 90%;
    padding: 6px;
    text-transform: initial;
    background: inherit;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
div#onepagecheckoutps #onepagecheckoutps_step_one ul.nav-tabs li.active a{
    background-color: #ffffff;
    color: inherit !important;
}
div#onepagecheckoutps #onepagecheckoutps_step_one ul.nav-tabs li a:hover{
    color: inherit;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
div#onepagecheckoutps #onepagecheckoutps_step_one #opc_show_login{
    font-weight: bold;
    margin-top: 10px;
    margin-right: 5px;
	width: auto;
}
/*div#onepagecheckoutps #onepagecheckoutps_step_one div.row:after,
div#onepagecheckoutps #onepagecheckoutps_step_one div.row:before {
    content: "";
    display: none !important;
}*/
div#onepagecheckoutps #onepagecheckoutps_step_one .tab-pane{
    border: none;
    background: none;
    padding: 0;
	max-height: none;
}
div#onepagecheckoutps #onepagecheckoutps_step_one #field_customer_id{
    display: none;
}
div#onepagecheckoutps #module_sociallogin .btn-social{
	padding-left: 44px;
	margin: 4px;
	color: white;
}
/*****************************END One Page Checkout Step: ONE*****************************/

/*****************************One Page Checkout Step: TWO*****************************/
div#onepagecheckoutps #onepagecheckoutps_step_two #shipping_container .row{
    margin-bottom: 6px;
}
div#onepagecheckoutps #onepagecheckoutps_step_two #shipping_container .delivery_option .delivery_option_title{
    font-weight: bold;
}
div#onepagecheckoutps #onepagecheckoutps_step_two #shipping_container .delivery_option_logo img{
    width: 86px;
    cursor: pointer;
}
div#onepagecheckoutps #onepagecheckoutps_step_three #payment_method_container p{
    margin: 0;
}
div#onepagecheckoutps #onepagecheckoutps_step_two div.delivery_option{
    float: left;
    width: 100%;
    margin-bottom: 5px;
    cursor: pointer;
}
div#onepagecheckoutps #onepagecheckoutps_step_two .delivery_options_address{
    border: none;
}
div#onepagecheckoutps #onepagecheckoutps_step_two .delivery_option > div > label > div {
    display: inline-block;
}
div#onepagecheckoutps #onepagecheckoutps_step_two .delivery_option > div > label {
    display: inline-block;
    width: 100%;
}
div#onepagecheckoutps #onepagecheckoutps_step_two .delivery_option > div{
    margin-bottom: 0;
}
div#onepagecheckoutps #onepagecheckoutps_step_two .delivery_option .carrier_info_container:before,
div#onepagecheckoutps #onepagecheckoutps_step_two .delivery_option .carrier_info_container:after {
    display: none !important;
}
div#onepagecheckoutps #onepagecheckoutps_step_two .delivery_option .carrier_info_container {
    margin: 3px 0 0 !important;
}
div#onepagecheckoutps #onepagecheckoutps_step_two .delivery_option .delivery_option_radio {
    position: relative;
    top: 50% !important;
    margin: 0;
    float: none;
    left: auto;
}
div#onepagecheckoutps #onepagecheckoutps_step_two label:after,
div#onepagecheckoutps #onepagecheckoutps_step_two label:before,
div#onepagecheckoutps #onepagecheckoutps_step_two div.delivery_option:after,
div#onepagecheckoutps #onepagecheckoutps_step_two div.delivery_option:before
{
    content: none !important;
}
/*****************************END One Page Checkout Step: TWO*****************************/

/*****************************One Page Checkout Step: THREE*****************************/
div#onepagecheckoutps #onepagecheckoutps_step_three #payment_method_container .row{
    margin-bottom: 6px;
}
div#onepagecheckoutps #onepagecheckoutps_step_three #payment_method_container p{
    padding: 0;
}
div#onepagecheckoutps #onepagecheckoutps_step_three #payment_method_container .payment_content span{
    font-weight: bold;
}
div#onepagecheckoutps #onepagecheckoutps_step_three #payment_method_container p.payment_module a{
    background: none;
    font-size: 100%;
    padding: 0 8px;
}
div#onepagecheckoutps #onepagecheckoutps_step_three #payment_method_container .payment_image img{
    width: 86px;
    cursor: pointer;
}
/*div#onepagecheckoutps #onepagecheckoutps_step_three #payment_method_container p.payment_module a img{
    display: none;
}*/
div#onepagecheckoutps #onepagecheckoutps_step_three .payment_module h3{
    font-size: 120% !important;
}
div#onepagecheckoutps #onepagecheckoutps_step_three #payment_method_container p.payment_module a:after{
    content: none;
}
div#onepagecheckoutps #onepagecheckoutps_step_three #payment_method_container .module_payment_container:before {
    content: "";
    display: inline-block;
}
div#onepagecheckoutps #onepagecheckoutps_step_three #payment_method_container .module_payment_container {
    width: 100%;
    cursor: pointer;
}
div#onepagecheckoutps #onepagecheckoutps_step_three #payment_method_container .module_payment_container.selected {
    padding: 2px;
}
div#onepagecheckoutps #onepagecheckoutps_step_three #payment_method_container .module_payment_container .payment_input,
div#onepagecheckoutps #onepagecheckoutps_step_three #payment_method_container .module_payment_container .payment_image,
div#onepagecheckoutps #onepagecheckoutps_step_three #payment_method_container .module_payment_container .payment_content{
    cursor: pointer;
}
div#onepagecheckoutps #onepagecheckoutps_step_three label:after,
div#onepagecheckoutps #onepagecheckoutps_step_three label:before,
div#onepagecheckoutps #onepagecheckoutps_step_three div.row:after,
div#onepagecheckoutps #onepagecheckoutps_step_three div.row:before
{
    content: none !important;
}
/*****************************END One Page Checkout Step: THREE*****************************/

/*****************************One Page Checkout Step: REVIEW*****************************/
div#onepagecheckoutps div#onepagecheckoutps_step_review #div_leave_message{
    width: 100%;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review #div_leave_message #message{
    width: 100% !important;
    height: auto !important;
    min-height: auto;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review .cart_quantity i.fa{
    cursor: pointer;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review .cart_item {
    margin-bottom: 5px;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review .cart_item .s_title_block{
    margin: 0;
    padding-bottom: 0;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review .cart_quantity .cart_quantity_button{
    border: none;
    width: auto;
    top: auto;
    display: block;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review .cart_quantity .cart_quantity_button > div > .input-group:last-child {
    float: right;
    padding-top: 7px;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review .cart_quantity .cart_quantity_button .input-group,
div#onepagecheckoutps div#onepagecheckoutps_step_review .cart_quantity .cart_quantity_button .input-group > * {
    display: inline;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review .cart_quantity .cart_quantity_button .input-group span:last-child {
    margin-left: -4px;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review .cart_quantity .cart_quantity_button .input-group span:first-child {
    margin-right: -4px;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review .cart_quantity .cart_quantity_button .input-group-btn {
    display: inline-table !important;
    font-size: inherit;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review .cart_quantity .cart_quantity_button .cart_quantity_up,
div#onepagecheckoutps div#onepagecheckoutps_step_review .cart_quantity .cart_quantity_button .cart_quantity_down,
div#onepagecheckoutps div#onepagecheckoutps_step_review .cart_quantity .cart_quantity_button .megacart_quantity_up,
div#onepagecheckoutps div#onepagecheckoutps_step_review .cart_quantity .cart_quantity_button .megacart_quantity_down{
    background: none;
    max-width: 100%;
    margin: 0;
    top: 0;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review .cart_quantity .cart_quantity_button .cart_quantity_input {
    text-align: center;
    width: 40px!important;
    float: none;
    position: initial;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review .cart_quantity .cart_quantity_button a{
    width: auto;
    height: auto;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review .cart_quantity .cart_quantity_button span{
    float: none !important;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review .cart_quantity .cart_quantity_delete,
div#onepagecheckoutps div#onepagecheckoutps_step_review .cart_quantity .megacart_quantity_delete {
    margin-left: 4px;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review .old-price {
    text-decoration: line-through;
	float: none;
	margin: 0;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review .price {
    font-size: 100%;
    margin: 0;
    padding: 0;
    color: #000000;
    font-weight: normal;
    line-height: normal;
	white-space: normal;
    /*text-align: right;*/
}
div#onepagecheckoutps div#onepagecheckoutps_step_review .cart_item img.img-thumbnail{
    border: 1px solid #d6d4d4;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review  h5{
    text-decoration: underline;
}
div#onepagecheckoutps #onepagecheckoutps_step_review #div_leave_message{
    margin: 5px 0;
}
div#onepagecheckoutps #onepagecheckoutps_step_review #div_leave_message > p{
    padding: 0;
    margin: 0;
}
div#onepagecheckoutps #onepagecheckoutps_step_review i.cart_quantity_delete,
div#onepagecheckoutps #onepagecheckoutps_step_review i.megacart_quantity_delete {
    font-size: 1.23em;
    cursor: pointer;
}
div#onepagecheckoutps #onepagecheckoutps_step_review .cart_item .cart_quantity_delete i,
div#onepagecheckoutps #onepagecheckoutps_step_review .cart_item .megacart_quantity_delete i {
    font-size: 1.4em;
}
div#onepagecheckoutps #onepagecheckoutps_step_review .price-percent-reduction {
    background: inherit !important;
    border: none;
    font-weight: normal;
    color: inherit !important;
}
div#onepagecheckoutps #onepagecheckoutps_step_review #list-voucher-allowed #display_cart_vouchers ul li:hover span {
    text-decoration: underline;
}
div#onepagecheckoutps #onepagecheckoutps_step_review #list-voucher-allowed #discount_name {
    text-align: center;
}
div#onepagecheckoutps #onepagecheckoutps_step_review #list-voucher-allowed .row:before,
div#onepagecheckoutps #onepagecheckoutps_step_review #list-voucher-allowed .row:after
{
    content: none !important;
}
div#onepagecheckoutps #onepagecheckoutps_step_review #list-voucher-allowed > div {
    float: left !important;
}
div#onepagecheckoutps #onepagecheckoutps_step_review #list-voucher-allowed > div div {
    margin-bottom: 0.8rem;
}
div#onepagecheckoutps #onepagecheckoutps_step_review #list-voucher-allowed #display_cart_vouchers li {
    list-style: none;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review p{
    padding-bottom: 0;
}
div#onepagecheckoutps #onepagecheckoutps_step_review #list-voucher-allowed {
    margin-top: 1em;
    margin-bottom: 1em;
}
div#onepagecheckoutps .pts-middle-o {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
div#onepagecheckoutps .pts-middle {
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
}
div#onepagecheckoutps .pts-middle-15 {
    transform: translateY(15%);
    -webkit-transform: translateY(15%);
    -moz-transform: translateY(15%);
    -ms-transform: translateY(15%);
    -o-transform: translateY(15%);
}
div#onepagecheckoutps .pts-middle-25 {
    transform: translateY(25%);
    -webkit-transform: translateY(25%);
    -moz-transform: translateY(25%);
    -ms-transform: translateY(25%);
    -o-transform: translateY(25%);
}
div#onepagecheckoutps .pts-middle-100 {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
}

div#onepagecheckoutps #onepagecheckoutps_step_review .cod_fee,
div#onepagecheckoutps #onepagecheckoutps_step_review .bnkplus_discount,
div#onepagecheckoutps #onepagecheckoutps_step_review .paypal_fee,
div#onepagecheckoutps #onepagecheckoutps_step_review .tpv_fee
{
    display: none;
}
div#onepagecheckoutps #onepagecheckoutps_step_review .cart_navigation {
    display: none;
}
div#onepagecheckoutps .onepagecheckoutps_p_step_four {
    background-color: #eeeeee;
    padding-bottom: 0 !important;
    padding-left: 5px;
    border: 1px #d3d3d3 solid;
/*    -moz-box-shadow: 0px 0px 15px 0px #dedede;
    -webkit-box-shadow: 0px 0px 15px 0px #dedede;
    box-shadow: 0px 0px 15px 0px #dedede;*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
div#onepagecheckoutps #onepagecheckoutps_step_review #order-detail-content .item_total{
    height: 20px;
}
div#onepagecheckoutps #onepagecheckoutps_step_review #order-detail-content .cart_item:after,
div#onepagecheckoutps #onepagecheckoutps_step_review #order-detail-content .cart_item:before {
    content: "";
    display: none !important;
}
div#onepagecheckoutps #onepagecheckoutps_step_review #order-detail-content .cart_free_shipping {
    font-size: 80%;
}
div#onepagecheckoutps #onepagecheckoutps_step_review #order-detail-content .total_price {
    text-transform: uppercase;
}
div#onepagecheckoutps #onepagecheckoutps_step_review #buttons_footer_review{
    margin-top: 8px;
}
/*div#onepagecheckoutps #onepagecheckoutps_step_review .order_total_items > div:after,
div#onepagecheckoutps #onepagecheckoutps_step_review .order_total_items > div:before
{
    display: none;
}*/
/*div#onepagecheckoutps #onepagecheckoutps_step_review .item_total > div{
    white-space: nowrap;
}*/
div#onepagecheckoutps #onepagecheckoutps_step_review_container{
    margin-top: 8px;
}
div#onepagecheckoutps #onepagecheckoutps_step_review_container.col-xs-12{
    clear: both;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review #HOOK_SHOPPING_CART h2{
    font-size: inherit !important;
    margin: 0;
    padding: 8px 0;
	border: none;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review .row{
    height: auto;
    padding: 0;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review #order-detail-content > .row{
    display: inline-block;
    width: 100%;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review #btn_place_order,
div#onepagecheckoutps div#onepagecheckoutps_step_review #btn_continue_shopping{
    width: auto;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review #btn_place_order:hover,
div#onepagecheckoutps div#onepagecheckoutps_step_review #btn_continue_shopping:hover{
    opacity: 0.8;
    filter: alpha(opacity=80);
}
div#onepagecheckoutps div#onepagecheckoutps_step_review .cart_item.customization{
    border-bottom: 1px solid #d6d4d4;
    padding-bottom: 5px;
}
div#onepagecheckoutps div#onepagecheckoutps_step_review .cart_item .quantity_custom{
    display: block;
    text-align: center;
}

@media (max-width: 992px) {
    div#onepagecheckoutps #onepagecheckoutps_step_review #buttons_footer_review > div .btn {
        width: 100%;
        margin: 0.4rem 0;
    }
    div#onepagecheckoutps #onepagecheckoutps_step_review #buttons_footer_review > div {
        float: left !important;
        width: 100%;
    }
}
/************************END One Page Checkout Step: REVIEW*****************************/

/*****************************Login*****************************/
div#onepagecheckoutps div#opc_login .forget_password{
    text-align: right;
    margin-top: 10px;
    font-size: 80%;
}

@media (max-width: 768px) {
    .custom-information {
        border-top: 1px solid #d6d4d4;
        padding-top: 6px;
    }
    .hidden-xs {
        visibility: hidden;
    }
}

.custom-information {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 3px;
}

.last_custom {
    border-bottom: 1px solid #d6d4d4;
}
/*****************************END Login*****************************/

/*****************************Tools*****************************/
div.loading_small,
div.loading_big{
    background-color: #FFFFFF;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
    display: none;
}
.loading_small i.fa,
.loading_big i.fa{
    left: 48%;
    top: 50%;
    position: absolute;
}
div.lock_controls {
    background-color: #FFF;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
    display: block;
}
.modal-backdrop {
    background-color: #FFF;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1030;
}
.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.8;
}
.pts .modal{
    overflow: hidden !important;
}
.pts .modal-body{
    max-height: 460px;
    overflow-y: auto;
}
.pts .modal-header{
    padding: 8px !important;
}
.pts label{
    margin-bottom: 2px !important;
}
.alert.alert-danger:before{
    content: '' !important;
}
/*header#header{
    position: inherit !important;
}*/
.white-space-normal {
    white-space: normal;
}
.pts .bold {
    font-weight: bold;
}
.pts .nopadding {
    padding: 0 !important;
}
.pts .nopadding-right {
    padding-right: 0 !important;
}
.pts .nopadding-left {
    padding-right: 0 !important;
}

.pts-vtop,
.pts-vcenter {
   display: table !important;
   width: 100%;
   /*white-space: nowrap;*/
}

.pts-vtop > div,
.pts-vcenter > div {
    display: inline-block !important;
    float: none !important;
    white-space: normal;
}

.pts-vcenter > div {
    vertical-align: middle !important;
}
.pts-vtop > div {
    vertical-align: top !important;
}

.pts sup{
	font-size: 75% !important;
}
/*****************************END Tools*****************************/

