/**
 * We offer the best and most useful modules PrestaShop and modifications for your online store.
 *
 * We are experts and professionals in PrestaShop
 *
 * @category  PrestaShop
 * @category  Module
 * @author    PresTeamShop.com <support@presteamshop.com>
 * @copyright 2011-2015 PresTeamShop
 * @license   see file: LICENSE.txt
 */

@media (max-width: 768px) {
    div#onepagecheckoutps #onepagecheckoutps_step_review .cart_item > div {
        margin-bottom: 0.5em;
    }
    .nopadding-xs {
        padding: 0 !important;
    }
    div#onepagecheckoutps #onepagecheckoutps_step_review #order-detail-content .item_total{
        height: auto;
    }
}