/* dhtmlxToolbar, DHX SKYBLUE, 2009 */
/* base */
.dhx_toolbar_base_dhx_skyblue {
	white-space: nowrap;
	overflow: hidden;
	height: 27px;
	background-image: url("../imgs/dhxtoolbar_dhx_skyblue/dhxtoolbar_bg.gif");
	background-repeat: repeat-x;
	position: relative;
	padding-left: 5px;
	padding-right: 5px;
	cursor: default;
}
/* align feature */
.dhx_toolbar_base_dhx_skyblue div.float_left {
	position: relative;
	float: left;
}
.dhx_toolbar_base_dhx_skyblue div.float_right {
	position: relative;
	float: right;
}
/* skin lines */
.dhx_toolbar_base_dhx_skyblue div.dhxtoolbar_hdrline_ll {
	position: absolute;
	height: 27px;
	border-left: #a4bed4 1px solid;
	left: 0px;
	top: 0px;
	-moz-user-select: none;
}
.dhx_toolbar_base_dhx_skyblue div.dhxtoolbar_hdrline_l {
	position: absolute;
	height: 25px;
	border-left: #ffffff 1px solid;
	left: 1px;
	top: 1px;
	-moz-user-select: none;
}
.dhx_toolbar_base_dhx_skyblue div.dhxtoolbar_hdrline_rr {
	position: absolute;
	height: 27px;
	border-right: #a4bed4 1px solid;
	right: 0px;
	top: 0px;
	-moz-user-select: none;
}
.dhx_toolbar_base_dhx_skyblue div.dhxtoolbar_hdrline_r {
	position: absolute;
	height: 25px;
	border-right: #ffffff 1px solid;
	right: 1px;
	top: 1px;
	-moz-user-select: none;
}

/* vertical lines in layout cell mode */
.dhx_toolbar_base_dhx_skyblue.in_layoutcell {
	background-image: url("../imgs/dhxtoolbar_dhx_skyblue/dhxtoolbar_bg_layoutcell.gif") !important;
}
.dhx_toolbar_base_dhx_skyblue.in_layoutcell div.dhxtoolbar_hdrline_ll { display: none; }
.dhx_toolbar_base_dhx_skyblue.in_layoutcell div.dhxtoolbar_hdrline_rr { display: none; }
.dhx_toolbar_base_dhx_skyblue.in_layoutcell div.dhxtoolbar_hdrline_l { left: 0px !important; }
.dhx_toolbar_base_dhx_skyblue.in_layoutcell div.dhxtoolbar_hdrline_r { right: 0px !important; }

/* vertical lines in acc cell mode */
.dhx_toolbar_base_dhx_skyblue.in_acccell {
	background-image: url("../imgs/dhxtoolbar_dhx_skyblue/dhxtoolbar_bg_acccell.gif") !important;
}
.dhx_toolbar_base_dhx_skyblue.in_acccell div.dhxtoolbar_hdrline_ll { display: none; }
.dhx_toolbar_base_dhx_skyblue.in_acccell div.dhxtoolbar_hdrline_rr { display: none; }
.dhx_toolbar_base_dhx_skyblue.in_acccell div.dhxtoolbar_hdrline_l { left: 0px !important; }
.dhx_toolbar_base_dhx_skyblue.in_acccell div.dhxtoolbar_hdrline_r { right: 0px !important; }

/* vertical lines in tabbar cell mode */
.dhx_tabbar_zone_dhx_skyblue .dhx_toolbar_base_dhx_skyblue div.dhxtoolbar_hdrline_ll { display: none; }
.dhx_tabbar_zone_dhx_skyblue .dhx_toolbar_base_dhx_skyblue div.dhxtoolbar_hdrline_rr { display: none; }
.dhx_tabbar_zone_dhx_skyblue .dhx_toolbar_base_dhx_skyblue div.dhxtoolbar_hdrline_l { left: 0px !important; }
.dhx_tabbar_zone_dhx_skyblue .dhx_toolbar_base_dhx_skyblue div.dhxtoolbar_hdrline_r { right: 0px !important; }

/* rtl base */
.dhx_toolbar_base_dhx_skyblue.rtl {
	direction: rtl;
	unicode-bidi: bidi-override;
}
/* in window, layout, accordion */
/*
.dhtmlx_skin_dhx_skyblue div.dhtmlx_wins_body_inner .dhx_toolbar_base_dhx_skyblue,
.dhx_acc_base_dhx_skyblue .dhx_toolbar_base_dhx_skyblue,
table.dhtmlxLayoutPolyContainer_dhx_skyblue td.dhtmlxLayoutSinglePoly .dhx_toolbar_base_dhx_skyblue {
	border: none;
}
*/
/* separator */
.dhx_toolbar_base_dhx_skyblue div.dhx_toolbar_sep {
	position: relative;
	float: left;
	height: 25px;
	width: 2px;
	top: 1px;
	font-size: 1px;
	margin-right: 1px;
	margin-left: 0px;
	background-image: url("../imgs/dhxtoolbar_dhx_skyblue/dhxtoolbar_sep_bg.gif");
	background-position: top;
	background-repeat: no-repeat;
	-moz-user-select: none;
}
.dhx_toolbar_base_dhx_skyblue.rtl div.dhx_toolbar_sep {
	float: right;
	margin-right: 0px;
	margin-left: 1px;
}
/* text */
.dhx_toolbar_base_dhx_skyblue div.dhx_toolbar_text {
	position: relative;
	float: left;
	vertical-align: middle;
	font-family: Tahoma;
	font-size: 11px;
	color: #000000;
	margin-top: 7px;
	margin-right: 1px;
	margin-left: 0px;
	padding: 0px 4px;
	-moz-user-select: none;
}
.dhx_toolbar_base_dhx_skyblue.rtl div.dhx_toolbar_text {
	float: right;
	margin-right: 0px;
	margin-left: 1px;
	direction: rtl;
	unicode-bidi: bidi-override;
}
/* button */
.dhx_toolbar_base_dhx_skyblue div.dhx_toolbar_btn {
	position: relative;
	float: left;
	margin-top: 2px;
	color: #000000;
	padding: 3px;
	padding-bottom: 2px;
	margin-right: 1px;
	-moz-user-select: none;
}
.dhx_toolbar_base_dhx_skyblue.rtl div.dhx_toolbar_btn {
	float: right;
}
.dhx_toolbar_base_dhx_skyblue div.dhx_toolbar_btn.dis {
	color: #999999;
}
.dhx_toolbar_base_dhx_skyblue div.dhx_toolbar_btn.over {
	border: #ffb552 1px solid;
	padding: 2px;
	padding-bottom: 1px;
	background-image: url("../imgs/dhxtoolbar_dhx_skyblue/dhxtoolbar_bg_over.gif");
	background-position: top;
	background-repeat: repeat-x;
}
.dhx_toolbar_base_dhx_skyblue div.dhx_toolbar_btn.pres {
	border: #ffbe51 1px solid;
	padding: 2px;
	padding-bottom: 1px;
	background-image: url("../imgs/dhxtoolbar_dhx_skyblue/dhxtoolbar_bg_pressed.gif");
	background-position: top;
	background-repeat: repeat-x;
}
/* button select arrow */
.dhx_toolbar_base_dhx_skyblue div.dhx_toolbar_arw {
	position: relative;
	float: left;
	margin-top: 2px;
	color: #000000;
	padding: 3px;
	padding-bottom: 2px;
	margin-right: 1px;
	margin-left: -2px;
	-moz-user-select: none;
}
.dhx_toolbar_base_dhx_skyblue.rtl div.dhx_toolbar_arw {
	margin-left: 1px;
	margin-right: -2px;
	float: right;
}
.dhx_toolbar_base_dhx_skyblue div.dhx_toolbar_arw.over {
	border: #ffb552 1px solid;
	padding: 2px;
	padding-bottom: 1px;
	background-image: url("../imgs/dhxtoolbar_dhx_skyblue/dhxtoolbar_bg_over.gif");
	background-position: top;
	background-repeat: repeat-x;
}
.dhx_toolbar_base_dhx_skyblue div.dhx_toolbar_arw.pres {
	border: #ffbe51 1px solid;
	padding: 2px;
	padding-bottom: 1px;
	background-image: url("../imgs/dhxtoolbar_dhx_skyblue/dhxtoolbar_bg_pressed.gif");
	background-position: top;
	background-repeat: repeat-x;
}
/* arrow image */
.dhx_toolbar_base_dhx_skyblue div.dhx_toolbar_arw div.arwimg {
	background-image: url("../imgs/dhxtoolbar_dhx_skyblue/dhxtoolbar_btnarrow.gif");
	background-repeat: no-repeat;
	background-position: center;
	font-size: 11px;
	font-family: Tahoma;
	height: 16px;
	margin: 2px 0px 0px 0px;
	width: 7px;
	position: relative;
	float: left;
}
.dhx_toolbar_base_dhx_skyblue div.dhx_toolbar_arw.dis div.arwimg {
	background-image: url("../imgs/dhxtoolbar_dhx_skyblue/dhxtoolbar_btnarrow_dis.gif");
}
.dhx_toolbar_base_dhx_skyblue div.dhx_toolbar_btn img {
	position: relative;
	float: left;
	width: 18px;
	height: 18px;
	margin: 0px 1px;
	-moz-user-select: none;
}
.dhx_toolbar_base_dhx_skyblue.rtl div.dhx_toolbar_btn img {
	float: right;
}
.dhx_toolbar_base_dhx_skyblue div.dhx_toolbar_btn div {
	font-family: Tahoma;
	font-size: 11px;
	position: relative;
	float: left;
	margin: 2px 2px 0px 2px;
	height: 16px;
	-moz-user-select: none;
}
.dhx_toolbar_base_dhx_skyblue.rtl div.dhx_toolbar_btn div {
	direction: rtl;
	unicode-bidi: bidi-override;
}
/* input */
.dhx_toolbar_base_dhx_skyblue div.dhx_toolbar_btn .inp {
	position: relative;
	float: left;
	border: #a4bed4 1px solid;
	font-family: Tahoma;
	font-size: 11px;
	padding: 1px;
	margin: 0px;
}
/* slider */
.dhx_toolbar_base_dhx_skyblue div.dhx_toolbar_btn div.sl_bg_l {
	background-image: url("../imgs/dhxtoolbar_dhx_skyblue/dhxtoolbar_slider_left.gif");
	background-position: right;
	background-repeat: no-repeat;
	width: 2px;
	font-size: 1px;
	margin-right: 0px;
}
.dhx_toolbar_base_dhx_skyblue div.dhx_toolbar_btn.dis div.sl_bg_l {
	background-image: url("../imgs/dhxtoolbar_dhx_skyblue/dhxtoolbar_slider_left_dis.gif");
}
.dhx_toolbar_base_dhx_skyblue div.dhx_toolbar_btn div.sl_bg_m {
	background-image: url("../imgs/dhxtoolbar_dhx_skyblue/dhxtoolbar_slider_middle.gif");
	background-position: center;
	background-repeat: repeat-x;
	font-size: 1px;
	margin-left: 0px;
	margin-right: 0px;
}
.dhx_toolbar_base_dhx_skyblue div.dhx_toolbar_btn.dis div.sl_bg_m {
	background-image: url("../imgs/dhxtoolbar_dhx_skyblue/dhxtoolbar_slider_middle_dis.gif");
}
.dhx_toolbar_base_dhx_skyblue div.dhx_toolbar_btn div.sl_bg_r {
	background-image: url("../imgs/dhxtoolbar_dhx_skyblue/dhxtoolbar_slider_right.gif");
	background-position: left;
	background-repeat: no-repeat;
	width: 2px;
	font-size: 1px;
	margin-left: 0px;
}
.dhx_toolbar_base_dhx_skyblue div.dhx_toolbar_btn.dis div.sl_bg_r {
	background-image: url("../imgs/dhxtoolbar_dhx_skyblue/dhxtoolbar_slider_right_dis.gif");
}
.dhx_toolbar_base_dhx_skyblue div.dhx_toolbar_btn div.sl_pen {
	position: absolute;
	top: 2px;
	width: 15px;
	height: 15px;
	background-repeat: no-repeat;
	-moz-user-select: none;
	cursor: default;
	background-image: url("../imgs/dhxtoolbar_dhx_skyblue/dhxtoolbar_slider_pen_def.gif");
	border: none;
}
.dhx_toolbar_base_dhx_skyblue div.dhx_toolbar_btn div.sl_pen.over {
	background-image: url("../imgs/dhxtoolbar_dhx_skyblue/dhxtoolbar_slider_pen_over.gif");
}
.dhx_toolbar_base_dhx_skyblue div.dhx_toolbar_btn.dis div.sl_pen {
	background-image: url("../imgs/dhxtoolbar_dhx_skyblue/dhxtoolbar_slider_pen_dis.gif");
}
div.dhx_toolbar_slider_label_dhx_skyblue {
	position: absolute;
	border: #ffb052 1px solid;
	background-color: #ffe5ad;
	font-family: Tahoma;
	font-size: 10px;
	color: #000000;
	font-weight: normal;
	padding: 0px 2px 0px 2px;
	cursor: default;
	-moz-user-select: none;
	z-index: 8422;
}
div.dhx_toolbar_slider_label_dhx_skyblue.rtl {
	direction: rtl;
	unicode-bidi: bidi-override;
}
/* button select polygon */
div.dhx_toolbar_poly_dhx_skyblue {
	position: absolute;
	margin: 0px;
	padding-bottom: 1px;
	border: #a4bed4 1px solid;
	background-color: #eaf2fb;
	overflow: hidden;
	cursor: default;
	-moz-user-select: none;
}
div.dhx_toolbar_poly_dhx_skyblue div.btn_sep {
	font-size: 1px;
	cursor: default;
	border-top: #FFFFFF 1px solid;
	background-color: #c7d4df;
	padding-top: 1px;
	-moz-user-select: none;
}
div.dhx_toolbar_poly_dhx_skyblue img {
	position: absolute;
	width: 16px;
	height: 16px;
	top: 1px;
	right: auto;
	left: 3px;
	-moz-user-select: none;
}
div.dhx_toolbar_poly_dhx_skyblue.rtl img {
	left: auto;
	right: 3px;
}
div.dhx_toolbar_poly_dhx_skyblue div.btn_item {
	position: relative;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	cursor: default;
	white-space: nowrap;
	-moz-user-select: none;
	color: #333333;
	margin: 1px 0px 0px 0px;
	padding: 2px 14px 2px 0px;
	border-top: #eaf2fb 1px solid;
	border-bottom: #eaf2fb 1px solid;
	background-repeat: repeat-x;
	-moz-user-select: none;
}
div.dhx_toolbar_poly_dhx_skyblue div.btn_item span {
	margin-left: 23px;
	margin-right: 0px;
}
div.dhx_toolbar_poly_dhx_skyblue.rtl div.btn_item {
	padding: 2px 0px 2px 14px;
	text-align: right;
	direction: rtl;
	unicode-bidi: bidi-override;
}
div.dhx_toolbar_poly_dhx_skyblue.rtl div.btn_item span {
	margin-left: 0px;
	margin-right: 23px;
}
div.dhx_toolbar_poly_dhx_skyblue div.btn_item.over {
	background-image: url("../imgs/dhxtoolbar_dhx_skyblue/dhxtoolbar_subbg_over.gif");
	border-top: #ffc651 1px solid;
	border-bottom: #ffa952 1px solid;
}
div.dhx_toolbar_poly_dhx_skyblue div.btn_item.sel {
	background-image: url("../imgs/dhxtoolbar_dhx_skyblue/dhxtoolbar_subbg_sel.gif");
	border-top: #ffc651 1px solid;
	border-bottom: #ffa852 1px solid;
}
div.dhx_toolbar_poly_dhx_skyblue div.btn_item.dis {
	color: #999999;
}
