/*****************************************************************************************************************************************************************
								dhtmlxToolbar "DHX BLUE" skin
*****************************************************************************************************************************************************************/
.dhtmlxToolbar_dhx_blue {
	white-space: nowrap;
	overflow: hidden;
	height: 25px;
	background-color: #D3E2E5;
	position: relative;
}
.dhtmlxToolbar_dhx_blue table.dhtmlxToolbarTable_dhx_blue {
	height: 100%;
}
table.dhtmlxToolbarTable_dhx_blue td {
	white-space: nowrap;
	position: relative;
}
/* td with item's icon and text */
table.dhtmlxToolbarTable_dhx_blue td.dhtmlxToolbarIMG {
	padding: 0px 2px;
	width: 18px;
	height: 18px;
	-moz-user-select: none;
}
table.dhtmlxToolbarTable_dhx_blue td.dhtmlxToolbarIMG img {
	width: 18px;
	height: 18px;
}
table.dhtmlxToolbarTable_dhx_blue td.dhtmlxToolbarTEXT {
	padding: 2px;
	padding-right: 5px;
	-moz-user-select: none;
	text-align: left;
}
/* item states */
table.dhtmlxToolbarTable_dhx_blue table.itemDefault {
	height: 22px;
	border: #D3E2E5 1px solid;
	background: none;
	cursor: default;
	color: #000000;
}
table.dhtmlxToolbarTable_dhx_blue table.itemDisabled {
	height: 22px;
	border: #D3E2E5 1px solid;
	background: none;
	cursor: default;
	color: #999999;
}
table.dhtmlxToolbarTable_dhx_blue table.itemOver {
	border: #C2D5DC 1px solid;
	height: 22px;
	cursor: default;
	color: #000000;
	background-image: url("../imgs/dhxtoolbar_dhx_blue/dhtmlxtoolbar_bgover.png");
	background-position: top;
	background-repeat: repeat-x;
}
table.dhtmlxToolbarTable_dhx_blue table.itemPressed {
	border: #ADC9D4 1px solid;
	background: none;
	height: 22px;
	cursor: default;
	color: #000000;
	background-color: #BDCFD3;
}

table.dhtmlxToolbarTable_dhx_blue td.dhtmlxToolbarItem {
	
}
table.dhtmlxToolbarTable_dhx_blue td.dhtmlxToolbarItem span {
	font-family: Tahoma;
	font-size: 12px;
}
/* separator */
table.dhtmlxToolbarTable_dhx_blue td.dhtmlxToolbarItem div.dhtmlxToolbarSep {
	width: 0px;
	height: 19px;
	font-size: 2px;
	margin-left: 1px;
	margin-right: 0px;
	margin-top: 1px;
	#margin-right: -1px;
	border-left: #C2D5DC 1px solid;
	-moz-user-select: none;
}
table.dhtmlxToolbarTable_dhx_blue td.dhtmlxToolbarItem .dhtmlxToolbarInp {
	position: relative;
	border-top: #C0C0C0 1px solid;
	border-left: #C0C0C0 1px solid;
	border-right: #FFFFFF 1px solid;
	border-bottom: #FFFFFF 1px solid;
	background-color: #FEFEFE;
	font-family: Tahoma;
	font-size: 11px;
	@margin-top:2px;
}
/* select button arrow */
td.dhtmlxToolbarArrow {
	-moz-user-select: none;
}
div.dhtmlxToolbarArrow {
	width: 9px;
	-moz-user-select: none;
	background-repeat: no-repeat;
	background-position: center center;
}
table.dhtmlxToolbarTable_dhx_blue td.dhtmlxToolbarItem table.itemDefault div.dhtmlxToolbarArrow {
	background-image: url("../imgs/dhxtoolbar_dhx_blue/dhtmlxtoolbar_btnarrow.gif");
}
table.dhtmlxToolbarTable_dhx_blue td.dhtmlxToolbarItem table.itemOver div.dhtmlxToolbarArrow {
	background-image: url("../imgs/dhxtoolbar_dhx_blue/dhtmlxtoolbar_btnarrow.gif");
}
table.dhtmlxToolbarTable_dhx_blue td.dhtmlxToolbarItem table.itemPressed div.dhtmlxToolbarArrow {
	background-image: url("../imgs/dhxtoolbar_dhx_blue/dhtmlxtoolbar_btnarrow.gif");
}
table.dhtmlxToolbarTable_dhx_blue td.dhtmlxToolbarItem table.itemDisabled div.dhtmlxToolbarArrow {
	background-image: url("../imgs/dhxtoolbar_dhx_blue/dhtmlxtoolbar_btnarrow_dis.gif");
}
/* button select polygon */
div.dhtmlxToolbarPoly_dhx_blue {
	position: absolute;
	margin: 0px;
	padding: 0px;
	border-top: #A7C7DF 1px solid;
	border-left: #A7C7DF 1px solid;
	border-right: #739DCC 1px solid;
	border-bottom: #739DCC 1px solid;
	background-color: #F9FDFF;
	overflow: hidden;
	cursor: default;
}
div.dhtmlxToolbarPoly_dhx_blue div.buttonItem {
	position: relative;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	cursor: default;
	white-space: nowrap;
	-moz-user-select: none;
	color: #333333;
	margin: 0px 0px 0px 0px;
	padding: 2px 12px 2px 18px;
}
div.dhtmlxToolbarPoly_dhx_blue div.buttonItemDis {
	position: relative;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	cursor: default;
	white-space: nowrap;
	-moz-user-select: none;
	color: #999999;
	margin: 0px 0px 0px 0px;
	padding: 2px 12px 2px 18px;
}
div.dhtmlxToolbarPoly_dhx_blue div.buttonItemOver {
	position: relative;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	cursor: default;
	white-space: nowrap;
	-moz-user-select: none;
	color: #333333;
	background-color: #C5DCED;
	margin: 0px 0px 0px 0px;
	padding: 2px 12px 2px 18px;
}
div.dhtmlxToolbarPoly_dhx_blue div.buttonItemSelected {
	position: relative;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	cursor: default;
	white-space: nowrap;
	-moz-user-select: none;
	color: #333333;
	/*background-color: #FFEB0F;*/
	background-color: #D3E2E5;
	margin: 0px 0px 0px 0px;
	padding: 2px 12px 2px 18px;
}
div.dhtmlxToolbarPoly_dhx_blue div.buttonSeparator {
	position: relative;
	border-top: #A7C7DF 1px solid;
	font-size: 1px;
}
div.dhtmlxToolbarPoly_dhx_blue img.buttonImage {
	position: absolute;
	width: 12px;
	height: 12px;
	top: 2px;
	margin-left: -16px;
}
/* slider */
table.dhtmlxToolbarTable_dhx_blue td.dhtmlxToolbarItem table.itemDefault td.dhtmlxToolbarSliderBarLeft {
	background-image: url("../imgs/dhxtoolbar_dhx_blue/dhtmlxtoolbar_slider_hor_left.gif");
}
table.dhtmlxToolbarTable_dhx_blue td.dhtmlxToolbarItem table.itemDefault td.dhtmlxToolbarSliderBarMiddle {
	background-image: url("../imgs/dhxtoolbar_dhx_blue/dhtmlxtoolbar_slider_hor_middle.gif");
}
table.dhtmlxToolbarTable_dhx_blue td.dhtmlxToolbarItem table.itemDefault td.dhtmlxToolbarSliderBarRight {
	background-image: url("../imgs/dhxtoolbar_dhx_blue/dhtmlxtoolbar_slider_hor_right.gif");
}
table.dhtmlxToolbarTable_dhx_blue td.dhtmlxToolbarItem table.itemDisabled td.dhtmlxToolbarSliderBarLeft {
	background-image: url("../imgs/dhxtoolbar_dhx_blue/dhtmlxtoolbar_slider_hor_left_dis.gif");
}
table.dhtmlxToolbarTable_dhx_blue td.dhtmlxToolbarItem table.itemDisabled td.dhtmlxToolbarSliderBarMiddle {
	background-image: url("../imgs/dhxtoolbar_dhx_blue/dhtmlxtoolbar_slider_hor_middle_dis.gif");
}
table.dhtmlxToolbarTable_dhx_blue td.dhtmlxToolbarItem table.itemDisabled td.dhtmlxToolbarSliderBarRight {
	background-image: url("../imgs/dhxtoolbar_dhx_blue/dhtmlxtoolbar_slider_hor_right_dis.gif");
}
table.dhtmlxToolbarTable_dhx_blue td.dhtmlxToolbarItem td.dhtmlxToolbarSliderBarLeft {
	font-size: 2px;
	width: 3px;
	background-repeat: no-repeat;
	background-position: right center;
}
table.dhtmlxToolbarTable_dhx_blue td.dhtmlxToolbarItem td.dhtmlxToolbarSliderBarMiddle {
	font-size: 2px;
	height: 20px;
	background-repeat: repeat-x;
	background-position: center center;
}
table.dhtmlxToolbarTable_dhx_blue td.dhtmlxToolbarItem td.dhtmlxToolbarSliderBarRight {
	font-size: 2px;
	width: 3px;
	background-repeat: no-repeat;
	background-position: left center;
}
table.dhtmlxToolbarTable_dhx_blue td.dhtmlxToolbarItem table.itemDefault div.dhtmlxToolbarBarSliderPen {
	background-image: url("../imgs/dhxtoolbar_dhx_blue/dhtmlxtoolbar_slider_hor_pen.gif");
}
table.dhtmlxToolbarTable_dhx_blue td.dhtmlxToolbarItem table.itemDisabled div.dhtmlxToolbarBarSliderPen {
	background-image: url("../imgs/dhxtoolbar_dhx_blue/dhtmlxtoolbar_slider_hor_pen_dis.gif");
}
table.dhtmlxToolbarTable_dhx_blue td.dhtmlxToolbarItem div.dhtmlxToolbarBarSliderPen {
	position: absolute;
	top: 3px;
	width: 7px;
	height: 16px;
	background-repeat: no-repeat;
	-moz-user-select: none;
	cursor: default;
}
table.dhtmlxToolbarTable_dhx_blue td.dhtmlxToolbarItem div.dhtmlxToolbarBarSliderPenOver {
	position: absolute;
	top: 3px;
	width: 7px;
	height: 16px;
	background-image: url("../imgs/dhxtoolbar_dhx_blue/dhtmlxtoolbar_slider_hor_pen_over.gif");
	background-repeat: no-repeat;
	-moz-user-select: none;
	cursor: default;
}
div.dhtmlxToolbarSliderPenLabel_dhx_blue {
	position: absolute;
	border: #A3A172 1px solid;
	background-color: #FFF992;
	font-family: Tahoma;
	font-size: 10px;
	color: #000000;
	font-weight: normal;
	padding: 0px 2px 0px 2px;
	cursor: default;
	-moz-user-select: none;
	z-index: 8422;
}
