@import "compass";
@import "theme_variables";

/* lnk on detail product page */
/* #wishlist_button_nopop {
	font-weight: 500;
	&:before{
		content: "\f08a";
		font: 700 15px/30px $font-icon;
		width: 18px;
		text-align: center;
		display: inline-block;
		height: 28px;
		margin: 0 6px 0 0;
		@include border-radius(50px);
	}
	&:hover {
		&:before { color: $theme-color-secondary;}
	}
} */

/* wishlist block */
#wishlist_block {
	#wishlist_block_list {
		margin: 0 0 20px 0;
		dl {
			font-weight: 400;
			&.products.no-products {
				font-weight: 700;
				padding: 0 0 15px 0;
				border-bottom: $main-border;
				dt {
					padding: 0;
					border-top: none;
				}
				dd{
					display: none;
				}
			}
			&.products {
				border-bottom: $main-border;
				dt {
					padding: 20px 0 0;
					border-top: $main-border;
				}
				dd {
					padding: 0 0 20px 0;
				}
				dt.first_item {
					padding: 0;
					border-top: none;
				}
			}
			dt {
				position: relative;
				padding-right: 0;
			}
			dd {
				margin: 0 0 0 24px; 
			}
		}
	} 
	.ajax_cart_block_remove_link {
		font-size: 14px;
		line-height: 14px;
		color: #d3d2d2;
		width: 14px;
		height: 14px;
		@include rtl-float-right ();
		&:hover {
			color: $link-hover-color;
		}
	}
	.cart_block_product_name {
		width: 85%;	
		display: inline-block;
		font-weight: bold;
	}
	.quantity-formated {
		@include rtl-float-left();
		margin: 0 5px 0 0;
		width: 15px;
	}
}
#wishlist_block_list .price {
	@include rtl-float-right ();
}

/* page in my account ************************************************************************* */
#mywishlist {
	td.wishlist_delete a {
		font-size: 15px;
	}
}

/* wishlistLinkTop */
#module-blockwishlist-mywishlist {
	#block-order-detail #hideSendWishlist {
		display: inline-block;
	}
}
#module-blockwishlist-mywishlist .wishlistLinkTop ul.display_list {
	border-bottom: $main-border;
	margin-bottom: 20px;
	a  {
		display: inline-block;
		margin: 10px 10px 10px 0px;
		font-weight: bold;
	}
}

#module-blockwishlist-mywishlist .wishlistLinkTop li {
	@include rtl-float-left ();
}

#module-blockwishlist-mywishlist .wishlistLinkTop #hideSendWishlist {
	@include rtl-float-right ();
}
#module-blockwishlist-mywishlist .wishlistLinkTop #showBoughtProducts,
#module-blockwishlist-mywishlist .wishlistLinkTop #hideBoughtProductsInfos {
	display: none;
}

/* wlp_bought ****************************************** */

/* wlp_bought_list */
ul.wlp_bought_list li {
	margin: 0 0 30px 0;
	.product_image {
		padding: 9px;
		border: $main-border;
		margin: 0 0 20px 0;
		max-width: 270px;
	}
	.product-name {
		margin: 0 0 10px 0;
		padding: 0 20px 0 0;
		small {
			display: block;
			font-size: 11px;
			a {
				font-size: 11px;	
			}
		}
	}
	.product_infos {
		position: relative;	
	}
	.btn_action .btn {
		margin: 0 0 10px 0;
		font-size: 12px;
	}
	/*> 992px*/
	@media (min-width: $screen-md) {
		&.first-in-line {
			clear: left;
		}	
	}
	/*768px x 991px*/
	@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
		&.first-item-of-tablet-line  {
			clear: left;
		}	
	}
}
.wishlistLinkTop {
	.submit {
		margin: 0 0 30px 0;	
	}
}
ul.wlp_bought_list li .lnkdel {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	font-size: 14px;
}

.wl_send {
	padding: 20px;
	@include box-shadow(0 1px 5px #272727);
}
