/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/** CHECKOUT BY STEP */
#categories_block_top {
  clear: both;
  position: relative;
  top: 30px;
}
#categories_block_top .sf-menu {
  position: relative;
}
#categories_block_top .sf-menu > li {
  position: static;
}
#categories_block_top .sf-menu > li > ul {
  width: 100%;
  top: 60px;
  margin: 0 20px;
}
#categories_block_top .sf-menu > li > ul > li {
  display: block;
  float: left;
  width: 20%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}
.rtl #categories_block_top .sf-menu > li > ul > li {
  float: right;
}
#categories_block_top .sf-menu > li > ul > .category_thumb {
  display: block;
  clear: both;
  overflow: hidden;
  width: 100%;
}
#categories_block_top .sf-menu > li > ul > .category_thumb img {
  display: inline-block;
  width: 33%;
}
#categories_block_top .sf-menu > li h4 a {
  font-size: 1.1em;
}
#categories_block_top .sf-menu > li h4 a:before {
  display: none;
}
#categories_block_top .sf-menu > li .main-level-submenus {
  position: relative;
  display: block !important;
  visibility: visible !important;
  top: 0;
  background: none;
  box-shadow: none;
  padding: 0;
  left: 0;
}
.rtl #categories_block_top .sf-menu > li .main-level-submenus {
  right: 0;
  left: auto;
}
#categories_block_top .sf-menu .category_thumb {
  display: none;
}

#categories_block_left li span.grower {
  display: inline-block;
  cursor: pointer;
  font-family: "FontAwesome";
  font-size: 14px;
  width: 16px;
  height: 16px;
  z-index: 999;
  position: absolute;
  right: 0;
}
.rtl #categories_block_left li span.grower {
  left: 0;
  right: auto;
}
#categories_block_left li span.grower.OPEN:before, #categories_block_left li span.grower.CLOSE:before {
  content: "\f068";
  display: block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  color: #8a8a8a;
  line-height: 18px;
  text-align: center;
}
#categories_block_left li span.grower.CLOSE:before {
  content: "\f067";
  color: #8a8a8a;
}
#categories_block_left li .leo-qty {
  margin-right: 20px;
}
.rtl #categories_block_left li .leo-qty {
  margin-left: 20px;
  margin-right: inherit;
}
#categories_block_left li span.grower:hover {
  color: #e24647;
}
#categories_block_left li ul {
  margin-top: 3px;
}
#categories_block_left li ul li {
  padding: 6px 0 6px 20px;
}
.rtl #categories_block_left li ul li {
  padding: 6px 20px 6px 0;
}
#categories_block_left li ul li a:before {
  display: none;
}
#categories_block_left li ul li li {
  padding: 6px 0 6px 20px;
}
.rtl #categories_block_left li ul li li {
  padding: 6px 20px 6px 0;
}
