<p>{l s='There is an error with your order on' mod='paybox'} <span class="bold">{$shop_name}</span>
	<br /><br />
	<br /><br />{l s='For any questions or for further information, please contact our' mod='paybox'} <a href="{$base_dir_ssl}contact-form.php">{l s='customer support' mod='paybox'}</a>.
</p>
		