/* block top search */
#search_block_top {
	position:relative;
	margin-top: 10px;
width: 900px;float: left;margin-left: calc(50% - 450px);
}
#search_block_top p {padding:0; }
#search_block_top #search_query_top {
	padding:0 5px;
	height:42px;
	border:none;
    font-family: 'dekarregular'; 
	font-size: 22px;
	text-transform:uppercase;
	width:900px;/* 310 */
	/*border:1px solid #666;
	border-right: 0 !important;*/
	color:#2b7de0;
	background: #f1f1f1;
	/*background:url(img/bg_search_input.png) repeat-x 0 0 #fff;*/
	margin: 0 auto;
}


#search_block_top .button {
	border:none;
	border-radius:0;
	color:#fff;
	text-transform:uppercase;
	background:url(img/bg_search_submit.png) repeat-x 0 0 #101010;
	float: left;
	height: 25px;
}

form#searchbox{padding-top:5px; margin:0 auto; width: 900px;}
form#searchbox label{color:#333;margin-bottom:1px}
form#searchbox input#search_query_block{
	border: 1px solid #CCCCCC;
	-webkit-border-radius:3px !important;
	-moz-border-radius:3px !important;
	border-radius:3px !important;
    height: 18px;
	margin-top:10px;
}
form#searchbox input#search_button{padding: 1px 4px;}

form#searchbox ::-webkit-input-placeholder {color:#2b7de0;}
form#searchbox ::-moz-placeholder {color:#2b7de0;} 
form#searchbox :-ms-input-placeholder {color:#2b7de0;} 
form#searchbox input:-moz-placeholder {color:#2b7de0;}