<fieldset>
<p>
{l s='Congratulation, opart slideshow is now installed.' mod='opartslideshow'}<br />
{l s='You will find a new tab in your admin menu named "OP\'ART SLIDESHOW", please use it for create your slideshow' mod='opartslideshow'}
</p>
</fieldset>