<br />
<fieldset>
	<legend>{l s='Find more help on the readme file (in french)' mod='opartslideshow'}</legend>
	<a style="color:red" href="../modules/opartslideshow/readme_fr.pdf" target="blank">{l s='Click here to open help file' mod='opartslideshow'}</a>	
</fieldset><br />
<fieldset>
	<legend>{l s='Stay in touch' mod='opartslideshow'}</legend>
	<table style="width:100%">
	<tr>
		<td style="width:25%; text-align:center;">
			<div class="fb-like-box" data-href="https://www.facebook.com/opart.agence.web" data-width="202" data-height="102" data-colorscheme="light" data-show-faces="false" data-header="true" data-stream="false" data-show-border="true">&nbsp;</div>
			<div id="fb-root" style="display:inline-block">&nbsp;</div>
			{literal}
			<script>// <![CDATA[
			(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&appId=458318920918141&version=v2.0";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
			// ]]></script>
		</td>
		<td style="width:25%; text-align:center;">
			<!--  badge twitter -->
			<a class="twitter-follow-button" href="https://twitter.com/maniT4c" data-show-count="false" data-lang="fr">Suivre @maniT4c</a>
		</td>
                <td style="width:25%; text-align:center;">
			<!-- Placez ce code à l&#39;endroit où vous souhaitez voir le badge s&#39;afficher. -->
                    <a href="//plus.google.com/u/0/102677973610252515419?prsrc=3"
                       rel="publisher" target="_top" style="text-decoration:none;display:inline-block;color:#333;text-align:center; font:13px/16px arial,sans-serif;white-space:nowrap;">
                    <img src="//ssl.gstatic.com/images/icons/gplus-64.png" alt="" style="border:0;width:64px;height:64px;"/><br />
                    <span style="font-weight:bold;">Olivier CLEMENCE<br />développeur Prestashop</span><br /><span>sur Google+</span>
                    </a>
               </td>
		<td style="width:25%; text-align:center;">
			{/literal}<a href="http://www.youtube.com/user/OlivierClemence" title="{l s='youtube channel' mod='opartslideshow'}" target="blank"><img src="../modules/opartslideshow/views/img/youtube.png" alt="{l s='youtube channel' mod='opartslideshow'}" width="120" /></a>{literal}
		</td>
	</tr>
	</table>
	<script>// <![CDATA[
	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
	// ]]></script>
	{/literal}<br />
</fieldset>
<br />
<fieldset>
	<legend>{l s='wan\'t more ?' mod='opartslideshow'}</legend>
	<p>{l s='You can also read my blog (in french)' mod='opartslideshow'}: <a href="http://www.blog.manit4c.com?utm_source=module&utm_medium=liens">blog.manit4c.com</a></p>
</fieldset>