@import "compass";
@import "theme_variables";

.container {
	display: block;
	margin: 0px auto;
}

#iview {
	display: block;
	min-width: 300px;
	background: #000;
	background: rgba(0, 0, 0, 0.7); 
	position: relative; 
	overflow: hidden;
	max-width: 100%;
	.iviewSlider {
		display: block;
		overflow: hidden;
		width: 100%;
	}
	div {
		&.iview-directionNav {
			position: absolute;
			top: 47%;
			left: 0px;
			z-index: 9;
			width: 100%;
			a {
				display: block;
				cursor: pointer;
				position: absolute;
				width: 38px;
				height: 38px;
				@include border-radius(0);
				&.iview-nextNav {
					right: -38px;
					@include transition-property(left,right);
					@include transition(right 0.3s ease-in-out);
				}
				&.iview-prevNav {
					left: -38px;
					@include transition-property(left,right);
					@include transition(left 0.3s ease-in-out);
				}
			}
		}
	}
	&.iview-hover {
		div {
			&.iview-directionNav {
				a {
					&.iview-nextNav {
						right: 55px;
					}
					&.iview-prevNav {
						left: 55px;
					}
				}
			}
		}
	}
}

.iview-directionNav {
	a {
		border: 2px solid $black;
		@include rgba($white, 0.5);
		&:before {
			font-size: 18px;
			color: $black;
		}
		&:hover {
			background: $theme-color-default;
			&:before {
				color: $white;
			}
		}
	}
}

.tp-caption.data-link:hover{cursor: pointer;}
 
#iview-preloader {
	border: #666 1px solid;
	width: 150px
}

#iview-preloader div {
	background: #666;
}
#iview-timer {
	border-radius: 10px;
}

#iview-timer div {
	border-radius: 10px;
}