{capture name=path}{l s='Accessories' mod='pfupsell'}{/capture}
{if isset($products) && $products}
	<div class="upsell-checkout">
		<a href="{$link->getPageLink('order')}" class="button btn btn-default standard-checkout button-medium"> 
			<span>  {l s='Proceed to checkout' mod='pfupsell'}<i class="icon-chevron-right right"></i> </span>  
		</a> 
	</div>
	{if $page_name !='index' && $page_name !='product'}
		{assign var='nbItemsPerLine' value=3}
		{assign var='nbItemsPerLineTablet' value=2}
		{assign var='nbItemsPerLineMobile' value=3}
	{else}
		{assign var='nbItemsPerLine' value=4}
		{assign var='nbItemsPerLineTablet' value=3}
		{assign var='nbItemsPerLineMobile' value=2}
	{/if}

	{assign var='nbLi' value=$products|@count}
	{math equation="nbLi/nbItemsPerLine" nbLi=$nbLi nbItemsPerLine=$nbItemsPerLine assign=nbLines}
	{math equation="nbLi/nbItemsPerLineTablet" nbLi=$nbLi nbItemsPerLineTablet=$nbItemsPerLineTablet assign=nbLinesTablet}

		<ul{if isset($id) && $id} id="{$id}"{/if} class="product_list grid row{if isset($class) && $class} {$class}{/if}">
			{foreach from=$products item=product name=products}
				{math equation="(total%perLine)" total=$smarty.foreach.products.total perLine=$nbItemsPerLine assign=totModulo}
				{math equation="(total%perLineT)" total=$smarty.foreach.products.total perLineT=$nbItemsPerLineTablet assign=totModuloTablet}
				{math equation="(total%perLineT)" total=$smarty.foreach.products.total perLineT=$nbItemsPerLineMobile assign=totModuloMobile}
				{if $totModulo == 0}{assign var='totModulo' value=$nbItemsPerLine}{/if}
				{if $totModuloTablet == 0}{assign var='totModuloTablet' value=$nbItemsPerLineTablet}{/if}
				{if $totModuloMobile == 0}{assign var='totModuloMobile' value=$nbItemsPerLineMobile}{/if}
				<li class="ajax_block_product
					{if $page_name == 'index' || $page_name == 'product'} 
						
						col-xs-12 col-sm-4 col-md-3
					{else}
						col-xs-12 col-sm-6 col-md-4
					{/if}
					{if $smarty.foreach.products.iteration%$nbItemsPerLine == 0} 
						last-in-line
					{elseif $smarty.foreach.products.iteration%$nbItemsPerLine == 1} 
						first-in-line
					{/if}
					{if $smarty.foreach.products.iteration > ($smarty.foreach.products.total - $totModulo)}
						last-line
					{/if}
					{if $smarty.foreach.products.iteration%$nbItemsPerLineTablet == 0}
						last-item-of-tablet-line
					{elseif $smarty.foreach.products.iteration%$nbItemsPerLineTablet == 1} 
						first-item-of-tablet-line
					{/if}
				
					{if $smarty.foreach.products.iteration%$nbItemsPerLineMobile == 0}
						last-item-of-mobile-line
					{elseif $smarty.foreach.products.iteration%$nbItemsPerLineMobile == 1}
						first-item-of-mobile-line
					{/if}
					{if $smarty.foreach.products.iteration > ($smarty.foreach.products.total - $totModuloMobile)}
					last-mobile-line
					{/if}
				">
					<div class="product-container" itemscope itemtype="http://schema.org/Product">
						<div class="left-block">
							<div class="product-image-container">
								<a class="product_img_link"	href="{$link->getProductLink({$product->id_product})|escape:'htmlall':'UTF-8'}" title="{$product->name|escape:'html':'UTF-8'}" itemprop="url">
									<img class="replace-2x img-responsive" src="{$protocol}{$product->img_link}" alt="{if !empty($product->legend)}{$product->legend|escape:'html':'UTF-8'}{else}{$product->name|escape:'html':'UTF-8'}{/if}" title="{if !empty($product->legend)}{$product->legend|escape:'html':'UTF-8'}{else}{$product->name|escape:'html':'UTF-8'}{/if}" {if isset($homeSize)} width="{$homeSize.width}" height="{$homeSize.height}"{/if} itemprop="image" />
								</a>
								{if isset($quick_view) && $quick_view}
									<div class="quick-view-wrapper-mobile">
											<a class="quick-view-mobile" href="{$link->getProductLink({$product->id_product})|escape:'htmlall':'UTF-8'}" 	rel="{$link->getProductLink({$product->id_product})|escape:'htmlall':'UTF-8'}">
											<i class="icon-eye-open"></i>
										</a>
									</div>
									<a class="quick-view" href="{$link->getProductLink({$product->id_product})|escape:'htmlall':'UTF-8'}" rel="{$link->getProductLink({$product->id_product})|escape:'htmlall':'UTF-8'}">
										<span>{l s='Quick view' mod='pfupsell'}</span>
									</a>
								{/if}
								{if (!$PS_CATALOG_MODE AND ((isset($product->show_price) && $product->show_price) || (isset($product->available_for_order) && $product->available_for_order)))}
									<div class="content_price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
										{if isset($product->show_price) && $product->show_price && !isset($restricted_country_mode)}
											<span itemprop="price" class="price product-price">
												{if !$priceDisplay}{convertPrice price=$product->price}{else}{convertPrice price=$product->price_tax_exc}{/if}
											</span>
											<meta itemprop="priceCurrency" content="{$currency->iso_code}" />
												{if isset($product->specificPrice) && $product->specificPrice && isset($product->specificPrice.reduction) && $product->specificPrice.reduction > 0}
												{hook h="displayProductPriceBlock" product=$product type="old_price"}
												<span class="old-price product-price">
													{displayWtPrice p=$product->price_without_reduction}
												</span>
												{if $product->specificPrice.reduction_type == 'percentage'}
													<span class="price-percent-reduction">-{$product->specificPrice.reduction * 100}%</span>
												{/if}
											{/if}										
											{hook h="displayProductPriceBlock" product=$product type="price"}
											{hook h="displayProductPriceBlock" product=$product type="unit_price"}
										{/if}
									</div>
								{/if}
								{if isset($product->new) && $product->new == 1}
									<a class="new-box" href="{$link->getProductLink({$product->id_product})|escape:'htmlall':'UTF-8'}">
										<span class="new-label">{l s='New' mod='pfupsell'}</span>
									</a>
								{/if}
								{if isset($product->on_sale) && $product->on_sale && isset($product->show_price) && $product->show_price && !$PS_CATALOG_MODE}
									<a class="sale-box" href="{$link->getProductLink({$product->id_product})|escape:'htmlall':'UTF-8'}">
										<span class="sale-label">{l s='Sale!' mod='pfupsell'}</span>
									</a>
								{/if}
							</div> <!-- .product-image-container -->
							{hook h="displayProductDeliveryTime" product=$product}
							{hook h="displayProductPriceBlock" product=$product type="weight"}
						</div> <!-- .left-block -->
						
						<div class="right-block">
							<h5 itemprop="name">
								{if isset($product->pack_quantity) && $product->pack_quantity}{$product->pack_quantity|intval|cat:' x '}{/if}  
								<a class="product-name" href="{$link->getProductLink({$product->id_product})|escape:'htmlall':'UTF-8'}" title="{$product->name|escape:'html':'UTF-8'}" itemprop="url" >
									{$product->name|truncate:45:'...'|escape:'html':'UTF-8'}
								</a>
							</h5>
						<p class="product-desc" itemprop="description">
							{$product->description_short|strip_tags:'UTF-8'|truncate:360:'...'}
						</p>
						{if (!$PS_CATALOG_MODE AND ((isset($product->show_price) && $product->show_price) || (isset($product->available_for_order) && $product->available_for_order)))}
							<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="content_price">
								{if isset($product->show_price) && $product->show_price && !isset($restricted_country_mode)}
									<span itemprop="price" class="price product-price">
										{if !$priceDisplay}{convertPrice price=$product->price}{else}{convertPrice price=$product->price_tax_exc}{/if}
									</span>
									<meta itemprop="priceCurrency" content="{$currency->iso_code}" />
									{if isset($product->specificPrice) && $product->specificPrice && isset($product->specificPrice.reduction) && $product->specificPrice.reduction > 0}
										{hook h="displayProductPriceBlock" product=$product type="old_price"}
										<span class="old-price product-price">
											{displayWtPrice p=$product->price_without_reduction}
										</span>
										{hook h="displayProductPriceBlock" id_product=$product->id_product type="old_price"}
										{if $product->specificPrice.reduction_type == 'percentage'}
											<span class="price-percent-reduction">-{$product->specificPrice.reduction * 100}%</span>
										{/if}
									{/if}
									{hook h="displayProductPriceBlock" product=$product type="price"}
									{hook h="displayProductPriceBlock" product=$product type="unit_price"}
								{/if}
							</div>
						{/if}
						<div class="button-container">
							{if ($product->id_product_attribute == 0 || (isset($add_prod_display) && ($add_prod_display == 1))) && $product->available_for_order && !isset($restricted_country_mode) && $product->customizable != 2 && !$PS_CATALOG_MODE}
								{if (!isset($product->customization_required) || !$product->customization_required) && ($product->allow_oosp || $product->quantity > 0)}
									{capture}add=1&amp;id_product={$product->id_product|intval}{if isset($static_token)}&amp;token={$static_token}{/if}{/capture}
									<a class="button ajax_add_to_cart_button btn btn-default" href="{$link->getPageLink('cart', true, NULL, $smarty.capture.default, false)|escape:'html':'UTF-8'}" rel="nofollow" title="{l s='Add to cart' mod='pfupsell'}" data-id-product="{$product->id_product|intval}" data-minimal_quantity="{if isset($product->product_attribute_minimal_quantity) && $product->product_attribute_minimal_quantity > 1}{$product->product_attribute_minimal_quantity|intval}{else}{$product->minimal_quantity|intval}{/if}">
										<span>{l s='Add to cart' mod='pfupsell'}</span>
									</a>
								{else}
									<span class="button ajax_add_to_cart_button btn btn-default disabled">
										<span>{l s='Add to cart' mod='pfupsell'}</span>
									</span>
								{/if}
							{/if}
							<a itemprop="url" class="button lnk_view btn btn-default" href="{$link->getProductLink({$product->id_product})|escape:'htmlall':'UTF-8'}" title="{l s='View' mod='pfupsell'}">
								<span>{if (isset($product->customization_required) && $product->customization_required)}{l s='Customize' mod='pfupsell'}{else}{l s='More' mod='pfupsell'}{/if}</span>
							</a>
						</div>
						
						{if isset($product->color_list)}
							<div class="color-list-container">{$product->color_list}</div>
						{/if}
						
						<div class="product-flags">
							{if (!$PS_CATALOG_MODE AND ((isset($product->show_price) && $product->show_price) || (isset($product->available_for_order) && $product->available_for_order)))}
								{if isset($product->online_only) && $product->online_only}
									<span class="online_only">{l s='Online only' mod='pfupsell'}</span>
								{/if}
							{/if}
							
							{if isset($product->on_sale) && $product->on_sale && isset($product->show_price) && $product->show_price && !$PS_CATALOG_MODE}
							{elseif isset($product->reduction) && $product->reduction && isset($product->show_price) && $product->show_price && !$PS_CATALOG_MODE}
								<span class="discount">{l s='Reduced price!' mod='pfupsell'}</span>
							{/if}
						</div>
						{if (!$PS_CATALOG_MODE && $PS_STOCK_MANAGEMENT && ((isset($product->show_price) && $product->show_price) || (isset($product->available_for_order) && $product->available_for_order)))}
							{if isset($product->available_for_order) && $product->available_for_order && !isset($restricted_country_mode)}
								<span itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="availability">
									{if ($product->allow_oosp || $product->quantity > 0)}
										<span class="{if $product->quantity <= 0 && !$product->allow_oosp} out-of-stock {else} available-now {/if}">
											<link itemprop="availability" href="http://schema.org/InStock" />
											{if $product->quantity <= 0}
												{if $product->allow_oosp}
													{if isset($product->available_later) && $product->available_later}
														{$product->available_later} 
													{else} 
														{l s='In Stock' mod='pfupsell'}
													{/if} 
												{else}
													{l s='Out of stock' mod='pfupsell'}
												{/if} 
											{else} 
												{if isset($product->available_now) && $product->available_now}
													{$product->available_now}
												{else}
													{l s='In Stock' mod='pfupsell'}
												{/if}
											{/if}
										</span>
									{elseif (isset($product->quantity_all_versions) && $product->quantity_all_versions > 0)}
										<span class="available-dif">
											<link itemprop="availability" href="http://schema.org/LimitedAvailability" />{l s='Product available with different options' mod='pfupsell'}
										</span>
									{else}
										<span class="out-of-stock">
											<link itemprop="availability" href="http://schema.org/OutOfStock" />{l s='Out of stock' mod='pfupsell'}
										</span>
									{/if}
								</span>
							{/if}
						{/if}
						</div> <!-- right-block -->
					</div> <!-- .product-container> -->	
				</li>
			{/foreach}
		</ul>
		<div  class="upsell-checkout">
			<a href="{$link->getPageLink('order')}" class="button btn btn-default standard-checkout button-medium"> 
				<span> {l s='Proceed to checkout' mod='pfupsell'}<i class="icon-chevron-right right"></i> </span>  
			</a> 
		</div>
	{addJsDefL name=min_item}{l s='Please select at least one product' mod='pfupsell' js=1}{/addJsDefL}
	{addJsDefL name=max_item}{l s='You cannot add more than %d product(s) to the product comparison' mod='pfupsell' sprintf=$comparator_max_item js=1}{/addJsDefL}
	{addJsDef comparator_max_item=$comparator_max_item}
	{addJsDef comparedProductsIds=$compared_products}	
{/if}



	












