.tabs-menu {
  background-color: #F8F8F8;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 10px;
    clear:both; 
    max-width: 100%;
}

.tabs-menu li {
   list-style: none;
   list-style-type: none;
   display:inline-block;
   min-width:50px;
   height:60px;
   line-height: 20px;
   margin: 5px 15px 5px;
   cursor: pointer;
   text-align: center;
   font-weight: bold;
}

.nobootstrap {
	min-width:600px!important;
}


.icon-awesome{
  font-size: 50px;
  color: #2e7da3;
	
}

.tabs-menu a li {
    padding: 10px;
    text-transform: uppercase;
    color: #2e7da3;
    text-decoration: none; 
}

.tabs-menu  a li:hover {
    color: #555;
}

.tabs-menu .icon-awesome:hover {
    color: #555;
}

.tabs-menu .icon-awesome:active {
    color: #555;
}

.tabs-menu a li.current {
    color: #555;
}

#tab-1 {
 display: block;   
}

#infoSpe{
    float:left;
}
.barcent{
    width:100%
}
.fooel{
    clear:both;
    margin-top: 10px;
    text-align:center;
}

.footerel {
    background-color: #F8F8F8;
    border: 1px solid #CCC;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 10px;
    clear: both;
}

.alert-success {
    position: relative;
    border-width: medium medium medium 3px;
    border-style: none none none solid;
    border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #7CC67C;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    padding-left: 50px;

    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #3C763D;
}

.alert-info{
    padding-left: 50px;
    position: relative;
    color: #31B0D5;
    border: 1px solid #C5E9F3;
    background-color: #F8FCFE;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    color: #31708F;
}

.alert{
    padding: 15px;
    margin-bottom: 17px;
    border: 1px solid transparent;
    border-radius: 3px;
	margin-top: 17px;
}


.alert-info::before {

    position: absolute;
    top: 6px;
    left: 7px;
    display: block;
    height: 25px;
    width: 25px;
    color: #81CFE6;
	background-image:url(file:../img/alert-info.png)
    font-size: 3em;

}

.button {
    cursor: pointer;
    background: transparent -moz-linear-gradient(center top , #F9F9F9, #E3E3E3) repeat scroll 0px 0px;
    border-color: #CCC #BBB #A0A0A0;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    color: #000;
    margin: 5px 0px;
    outline: medium none;
    padding: 3px 8px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-shadow: 0px 1px 0px #FFF;
    text-decoration: none;
}

select {
    padding:6px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
	width: 100%;
}

div {
	clear: both;
	margin: 0px;
}

label {
  width: 200px;
  border-radius: 3px;
  border: 1px solid #D1D3D4
}

/* hide input */
input.radio:empty {
	margin-left: -999px;
}

/* style label */
input.radio:empty ~ label {
	position: relative;
	float: left;
	line-height: 2.5em;
	text-indent: 3.25em;
	margin-top: 2em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.radio:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #C2C2C2;
	text-align: initial;
}

input.radio:hover:not(:checked) ~ label {
	color: #888;
}

/* toggle on */
input.radio:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #9CE2AE;
	background-color: #4DCB6D;
	text-align: initial;
}

input.radio:checked ~ label {
	color: #777;
}

/* radio focus */
input.radio:focus ~ label:before {
	box-shadow: 0 0 0 3px #999;
}

#catalogue label {position:relative}
#catalogue label:after {
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
#catalogue label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    #catalogue select {padding-right:18px}
}

