.hide{
	display: none;
}
#product_form{
	margin-left: 0px;
}
#divPackItems li span{
	display: block;
	margin-top: 5px;
}
.upsell_pr_list li{
	float: left;
	width: 125px;
	height: 190px;
	margin-left: 6px;
	text-align: center;
	border: solid 1px #AAA;
	box-shadow: 1px 1px 2px #AAA;
	overflow: hidden;
	position: relative;
	margin-bottom: 10px;
	margin-right: 10px;
	-webkit-border-radius: 4px;
	border-radius: 4px;	
}
.upsell_pr_title,.upsell_pr_ref{
	display: block;
	margin-top:5px;
}
.delete_upsell_pr{
	position: absolute;
	top: 1px;
	right: 3px;
}

