/*******************************************************
Product list Styles
********************************************************/
.upsell-checkout{
	margin: 10px 5px 20px 0px;
	text-align: center;
	clear: left;
}
ul.product_list .product-name {
	display: inline-block;
	width: 100%;
	overflow: hidden; 
}
ul.product_list .availability span {
	display: inline-block;
	color: #fff;
	font-weight: bold;
	padding: 3px 8px 4px 8px;
	margin-bottom: 20px;
}
ul.product_list .availability span.available-now {
    background: #55c65e;
    border: 1px solid #36943e;
}
ul.product_list .availability span.out-of-stock {
    background: #fe9126;
    border: 1px solid #e4752b; 
}
ul.product_list .availability span.available-dif {
    background: #fe9126;
    border: 1px solid #e4752b;
}
ul.product_list .color-list-container {
  margin-bottom: 12px; 
}
ul.product_list .color-list-container ul li {
    display: inline-block;
    border: 1px solid #d6d4d4;
    width: 26px;
    height: 26px; 
}
ul.product_list .color-list-container ul li a {
	display: block;
	width: 22px;
	height: 22px;
	margin: 1px; 
}
ul.product_list .color-list-container ul li a img {
	display: block;
	width: 22px;
	height: 22px;
}
ul.product_list .product-image-container {
  text-align: center;
}
  ul.product_list .product-image-container img {
    margin: 0 auto; 
}
ul.product_list .product-image-container .quick-view-wrapper-mobile {
	display: none; 
}
ul.product_list .product-image-container .quick-view-wrapper-mobile .quick-view-mobile {
	display: none;
}
@media (max-width: 1199px) {
	ul.product_list .product-image-container .quick-view-wrapper-mobile .quick-view-mobile {
		display: block;
		position: relative;
		background-color: rgba(208, 208, 211, 0.57);
		height: 130px;
		width: 85px;
		top: 80px;
		right: -162px;
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		zoom: 1;
		pointer-events: all; 
	}
	ul.product_list .product-image-container .quick-view-wrapper-mobile .quick-view-mobile i {
		position: relative;
		top: 48px;
		left: -20px;
		font-size: x-large;
		color: black; 
	}
	ul.product_list .product-image-container .quick-view-wrapper-mobile .quick-view-mobile i:before {
		-moz-transform: rotate(315deg);
		-o-transform: rotate(315deg);
		-webkit-transform: rotate(315deg);
		-ms-transform: rotate(315deg);
		transform: rotate(315deg); 
	}
}
@media (max-width: 1199px) {
	ul.product_list .product-image-container .quick-view-wrapper-mobile .quick-view-mobile:hover {
        background-color: rgba(167, 167, 167, 0.57);
	} 
}
@media (max-width: 1199px) {
	ul.product_list .product-image-container .quick-view-wrapper-mobile {
		display: block;
        background-color: transparent;
        height: 155px;
        width: 215px;
        position: absolute;
        overflow: hidden;
        pointer-events: none;
        bottom: 0px;
        right: 0px; 
	}
}
ul.product_list .product-image-container .quick-view {
	font: 700 13px/16px Arial, Helvetica, sans-serif;
    color: #777676;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -21px 0 0 -53px;
    padding: 13px 0 0;
    background: rgba(255, 255, 255, 0.82);
    width: 107px;
    height: 43px;
    text-align: center;
    -moz-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px; 
}
@media (max-width: 1199px) {
	ul.product_list .product-image-container .quick-view {
        display: none; 
	}
}
@media (min-width: 1200px) {
	ul.product_list .product-image-container .quick-view {
        display: none; } }
@media (max-width: 767px) {
	ul.product_list .product-image-container .quick-view {
        display: none; 
	}
}

/*******************************************************
Product list(Grid) Styles
********************************************************/

ul.product_list.grid > li {
	padding-bottom: 20px;
	text-align: center;
}
@media (min-width: 480px) and (max-width: 767px) {
    ul.product_list.grid > li {
		width: 50%;
		float: left;
	} 
}
ul.product_list.grid > li .product-container {
    padding: 0;
    position: relative; 
	margin-bottom: 20px;
}
ul.product_list.grid > li .product-container .product-image-container {
	border: 1px solid #d6d4d4;
	padding: 9px;
	margin-bottom: 13px;
	position: relative;
}
@media (max-width: 767px) {
	ul.product_list.grid > li .product-container .product-image-container {
		max-width: 290px;
		margin-left: auto;
		margin-right: auto;
	}
}
ul.product_list.grid > li .product-container .product-image-container .content_price {
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 100%;
	background: url(../img/price-container-bg.png);
	padding: 9px 0;
	display: none; 
}
ul.product_list.grid > li .product-container .product-image-container .content_price span {
	color: #fff; 
}
ul.product_list.grid > li .product-container .product-image-container .content_price span.old-price {
	color: #b1b0b0; 
}
ul.product_list.grid > li .product-container h5 {
	padding: 0 15px 7px 15px;
	min-height: 53px; 
}
ul.product_list.grid > li .product-container .product-desc {
	display: none; }
ul.product_list.grid > li .product-container .content_price {
	padding-bottom: 9px;
	line-height: 21px; 
}
ul.product_list.grid > li .product-container .old-price,
ul.product_list.grid > li .product-container .price,
ul.product_list.grid > li .product-container .price-percent-reduction {
	display: inline-block;
}
ul.product_list.grid > li .product-container .product-flags {
	display: none;
}
ul.product_list.grid > li .product-container .old-price {
	margin-right: 5px; 
}
ul.product_list.grid > li .product-container .button-container {
	margin-bottom: 14px; 
}
ul.product_list.grid > li .product-container .button-container .ajax_add_to_cart_button,
ul.product_list.grid > li .product-container .button-container span.button,
ul.product_list.grid > li .product-container .button-container .lnk_view {
	margin: 0 6px 10px 6px; 
}
@media (min-width: 1200px) {
    ul.product_list.grid > li.hovered .product-container {
		-moz-box-shadow: rgba(0, 0, 0, 0.17) 0 0 13px;
		-webkit-box-shadow: rgba(0, 0, 0, 0.17) 0 0 13px;
		box-shadow: rgba(0, 0, 0, 0.17) 0 0 13px;
		position: relative;
		z-index: 10; 
	}
	ul.product_list.grid > li.hovered .product-container .content_price {
		display: none;
	}
	ul.product_list.grid > li.hovered .product-container .product-image-container .content_price {
		display: block;
	}
	ul.product_list.grid > li.hovered .product-container .product-image-container .quick-view {
		display: block; 
	}
	ul.product_list.grid > li.hovered .product-container .button-container {
		display: block;
	} 
}

/*******************************************************
Product list(List) Styles
********************************************************/
@media (max-width: 479px) {
	ul.product_list.list > li .left-block {
		width: 100%; 
	} 
}
ul.product_list.list > li .product-container {
	border-top: 1px solid #d6d4d4;
	padding: 30px 0 30px; 
}
ul.product_list.list > li .product-image-container {
	position: relative;
	border: 1px solid #d6d4d4;
	padding: 9px; 
}
@media (max-width: 479px) {
    ul.product_list.list > li .product-image-container {
		max-width: 290px;
		margin: 0 auto;
	} 
}
ul.product_list.list > li .product-image-container .content_price {
	display: none !important; 
}
ul.product_list.list > li .product-flags {
	color: #333;
	margin: -5px 0 10px 0;
}
ul.product_list.list > li .product-flags .discount {
	color: #f13340; 
}
ul.product_list.list > li h5 {
	padding-bottom: 8px; 
}
ul.product_list.list > li .product-desc {
	margin-bottom: 15px;
}
@media (max-width: 479px) {
	ul.product_list.list > li .center-block {
		width: 100%; 
	}
}
ul.product_list.list > li .center-block .comments_note {
  margin-bottom: 12px;
}
@media (min-width: 992px) {
	ul.product_list.list > li .right-block .right-block-content {
		margin: 0;
		border-left: 1px solid #d6d4d4;
		padding-left: 15px;
		padding-bottom: 16px;
	} 
}
@media (max-width: 991px) {
	ul.product_list.list > li .right-block .right-block-content {
		padding-top: 20px; 
	} 
}
@media (max-width: 479px) {
	ul.product_list.list > li .right-block .right-block-content {
		padding-top: 5px;
	}
}
ul.product_list.list > li .right-block .right-block-content .content_price {
	padding-bottom: 10px; 
}
@media (max-width: 991px) {
    ul.product_list.list > li .right-block .right-block-content .content_price {
		padding-top: 13px;
		padding-bottom: 0;
	} 
}
@media (max-width: 479px) {
    ul.product_list.list > li .right-block .right-block-content .content_price {
		padding-top: 0;
		width: 100%; 
	} 
}
ul.product_list.list > li .right-block .right-block-content .content_price span {
    display: inline-block;
    margin-top: -4px;
    margin-bottom: 14px; 
}
ul.product_list.list > li .right-block .right-block-content .content_price span.old-price {
	margin-right: 8px;
}
ul.product_list.list > li .right-block .right-block-content .button-container {
	overflow: hidden;
	padding-bottom: 20px; 
}
@media (max-width: 479px) {
    ul.product_list.list > li .right-block .right-block-content .button-container {
		width: 100%;
	} 
}
ul.product_list.list > li .right-block .right-block-content .button-container .btn {
    margin-bottom: 10px; 
}
@media (min-width: 992px) {
	ul.product_list.list > li .right-block .right-block-content .button-container .btn {
		float: left;
        clear: both;
	}
}
@media (min-width: 1200px) {
	ul.product_list.list > li:hover .product-image-container .quick-view {
		display: block;
	}
}
@media (max-width: 479px) {
	ul.product_list.list > li {
		text-align: center; 
	}
}
	
