/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/** CHECKOUT BY STEP */
/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/
.owl-row {
  margin: 0 -15px;
}

.owl-carousel .owl-item {
  padding: 0 9px;
}

/* Styling Pagination*/
.owl-theme .owl-controls {
  text-align: center;
}
.owl-theme .owl-controls.clickable {
  /* Use it for non-touch hover action */
}
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  text-decoration: none;
}
.owl-theme .owl-controls .owl-pagination {
  padding: 10px 0 5px;
}
.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span {
  display: block;
  background: white;
  margin: 0 4px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: 0 -1px 0 1px #cdcdcd;
  box-shadow: 0 -1px 0 1px #cdcdcd;
}
.owl-theme .owl-controls .owl-page span.owl-numbers {
  /* If PaginationNumbers is true */
  height: 12px;
  width: 12px;
  color: #FFF;
  font-size: 0;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls .owl-page:hover span {
  background: #e24647;
  -webkit-box-shadow: 0 -1px 0 1px #c4362b;
  box-shadow: 0 -1px 0 1px #c4362b;
}
.owl-theme .owl-controls .owl-buttons div {
  /* Styling Next and Prev buttons */
  position: absolute;
  top: 35%;
  left: -30px;
  height: 56px;
  width: 56px;
  color: white;
  font-size: 40px;
  line-height: 46px;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  background: #e24647;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}
.owl-theme .owl-controls .owl-buttons div.owl-next {
  right: -30px;
  left: auto;
}
.owl-theme .owl-controls .owl-buttons div:hover {
  color: #FFF;
  background: #00bcd4;
}

/* preloading images */
.owl-item.loading {
  min-height: 150px;
  background: url(../img/AjaxLoader.gif) no-repeat center center;
}
