/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/** CHECKOUT BY STEP */
/********************************************************************
					Compare Page Styles
********************************************************************/
table#product_comparison tbody tr td.product-block {
  vertical-align: top;
  padding: 14px 19px 19px;
  text-align: center;
}
table#product_comparison tbody tr td.td_empty,
table#product_comparison tbody tr td.feature-name, table#product_comparison tbody tr.comparison_header {
  background: transparent;
}
table#product_comparison tbody tr td.comparison_infos {
  text-align: center;
  background: transparent;
}
table#product_comparison tbody tr td.comparison_infos div.center {
  margin: 0 auto;
  width: 80px;
}
table#product_comparison tbody tr td.comparison_infos img {
  width: 100%;
}
table#product_comparison tbody tr td.comparison_infos .comparison_product_infos {
  margin-top: 20px;
}
table#product_comparison tbody tr td.td_empty {
  vertical-align: bottom;
}
table#product_comparison tbody tr td.td_empty > span {
  text-transform: uppercase;
  color: #555454;
}
table#product_comparison .remove {
  text-align: right;
  padding: 0 0 15px 0;
}
.rtl table#product_comparison .remove {
  text-align: left;
}
table#product_comparison .remove a {
  font-size: 23px;
  line-height: 23px;
  color: #c0c0c0;
}
table#product_comparison .remove a:hover {
  color: #e24647;
}
table#product_comparison .comparison_unit_price {
  font-size: 17px;
  font-family: "Lato", sans-serif;
  font-style: italic;
}
table#product_comparison .product-rating {
  width: 90px;
  margin: 0 auto;
  overflow: hidden;
}

.footer_link {
  margin: 0 0 20px 0;
}

#stOCClose {
  width: 29px !important;
  height: 29px !important;
}

.stButton .stFb,
.stButton .stTwbutton,
.stButton .stMainServices,
.stButton .stButton_gradient {
  height: 22px !important;
}

.share strong {
  display: block;
  margin-bottom: 10px;
}
.share > div {
  margin-bottom: 8px;
}
@media (min-width: 1200px) {
  .share {
    position: relative;
    top: -350px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .share {
    position: relative;
    top: -260px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .share {
    position: relative;
    top: -245px;
  }
}

.stArrow {
  display: none !important;
}

/***** IE code ****/
.ie8 table#product_comparison .product-image-block .product_image img {
  width: auto;
}

/**** responsive code ******/
@media (max-width: 992px) {
  #columns table#product_comparison tbody tr td.td_empty span {
    font-size: 14px;
  }
  #columns table#product_comparison tbody tr td.product-block {
    padding: 14px;
  }
  #columns table#product_comparison .button.ajax_add_to_cart_button,
  #columns table#product_comparison .button.lnk_view {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  #product_comparison table,
  #product_comparison thead,
  #product_comparison tbody,
  #product_comparison th,
  #product_comparison td,
  #product_comparison tr {
    display: block;
  }

  #product_comparison thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  #product_comparison tr {
    overflow: hidden;
  }
  #product_comparison tr:last-child {
    border-bottom: none;
  }
  #product_comparison tr:last-child td {
    border-bottom: none;
  }

  #product_comparison td {
    border: none;
    position: relative;
    white-space: normal;
    float: left;
    width: 33.33%;
  }
  .rtl #product_comparison td {
    float: right;
  }
  #product_comparison td.td_empty {
    width: 100% !important;
    clear: both;
  }
  #product_comparison td:last-child {
    border-bottom: none;
  }

  #product_comparison .comparison_feature .feature-name {
    width: 100%;
    float: none;
    clear: both;
  }
}
@media (max-width: 480px) {
  #product_comparison td {
    float: none;
    width: 100%;
  }

  #product_comparison .comparison_feature td {
    float: left;
    width: 50%;
  }
  .rtl #product_comparison .comparison_feature td {
    float: right;
  }
  #product_comparison .comparison_feature .feature-name {
    width: 100%;
    clear: both;
  }
  #product_comparison .comparison_feature .product-name {
    width: 50%;
    float: left;
    display: block;
  }
  .rtl #product_comparison .comparison_feature .product-name {
    float: right;
  }
}
