/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/** CHECKOUT BY STEP */
/* primary_block ***************************************************************************** */
.product-heading-h5 {
  color: #999999;
  font-weight: 200;
  margin: 3px 0 8px;
  font-size: 19px;
  font-family: "Oswald", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

/* .pb-left-column ***************************************************************************** */
.pb-left-column {
  text-align: center;
  /* miniatures */
}
.pb-left-column:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 98%;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-bottom: 1px solid #dddddd;
}
.pb-left-column .p-label {
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
}
.pb-left-column h1 {
  font-size: 40px;
  font-weight: 300;
  margin-top: 0;
}
.pb-left-column > p {
  display: inline-block;
  margin: 0 10px;
}
.pb-left-column > p label {
  font-weight: 400;
}
.pb-left-column > p span {
  font-weight: 700;
}
.pb-left-column #image-block {
  position: relative;
  margin-bottom: 10px;
  width: 55%;
  margin: 0 auto;
}
.pb-left-column #image-block img {
  width: 100%;
}
.pb-left-column #image-block #view_full_size {
  display: block;
  cursor: pointer;
  text-align: center;
}
.pb-left-column #image-block #view_full_size a {
  display: inline-block;
}
.pb-left-column #image-block #view_full_size .span_link {
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
  width: 32px;
  padding: 4px;
  margin: 0 auto;
  line-height: 20px;
  display: block;
  text-align: center;
}
.pb-left-column #image-block #view_full_size .span_link:after {
  font-family: "FontAwesome";
  color: #c0c0c0;
  font-size: 20px;
  line-height: 20px;
  content: "\f00e";
  font-weight: normal;
  margin: 0 0 0 2px;
}
.rtl .pb-left-column #image-block #view_full_size .span_link:after {
  margin: 0 2px 0 0;
}
.pb-left-column #image-block #view_full_size .span_link:hover:after {
  color: white;
}
.pb-left-column #image-block a.jqzoom div div img {
  width: auto;
  max-width: 10000px;
}
.pb-left-column #image-block a.jqzoom div div .zoomWrapper {
  border: none;
}
.pb-left-column #image-block .zoomPad {
  z-index: auto!important;
}
.pb-left-column #views_block {
  position: relative;
  margin: 20px auto;
  width: 55%;
}

#thumbs_list {
  overflow: hidden;
  margin: 0 auto;
  width: 400px;
}
#thumbs_list ul#thumbs_list_frame {
  list-style-type: none;
  padding-left: 0;
  overflow: hidden;
  margin: 0;
  height: 63px;
}
.rtl #thumbs_list ul#thumbs_list_frame {
  padding-right: 0;
  padding-left: inherit;
}
#thumbs_list li {
  float: left;
  height: 63px;
  width: 92px;
  cursor: pointer;
  margin-right: 8px;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.rtl #thumbs_list li {
  float: right;
}
.rtl #thumbs_list li {
  margin-left: 8px;
  margin-right: inherit;
}
#thumbs_list li:first-child {
  margin: 0 9px 0 0;
}
.rtl #thumbs_list li:first-child {
  margin: 0 0 0 9px;
}
#thumbs_list li.last {
  margin-right: 0;
}
.rtl #thumbs_list li.last {
  margin-left: 0;
  margin-right: inherit;
}
#thumbs_list li a {
  display: block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  text-align: center;
}
#thumbs_list li a.fancybox {
  opacity: 0.3;
  filter: alpha(opacity=30);
}
#thumbs_list li a.fancybox:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
#thumbs_list li img {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#view_scroll_left,
#view_scroll_right {
  height: 20px;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  position: absolute;
  top: 45%;
  z-index: 1000;
}
#view_scroll_left:before,
#view_scroll_right:before {
  color: black;
  font-family: "FontAwesome";
  font-size: 20px;
  line-height: 22px;
}
#view_scroll_left:hover:before,
#view_scroll_right:hover:before {
  color: #e24647;
}

#view_scroll_right {
  right: 80px;
}
.rtl #view_scroll_right {
  left: 80px;
  right: auto;
}
#view_scroll_right:before {
  content: "\f054";
}

#view_scroll_left {
  left: 80px;
}
.rtl #view_scroll_left {
  right: 80px;
  left: auto;
}
#view_scroll_left:before {
  content: "\f053";
}

.resetimg {
  /* width: 100%;
  margin: 0 !important;
  border-bottom: $main-border; */
}
.resetimg #resetImages i {
  margin-right: 6px;
}
.rtl .resetimg #resetImages i {
  margin-left: 6px;
  margin-right: inherit;
}

/* link list */
#usefull_link_block {
  list-style-type: none;
  display: inline-block;
}
#usefull_link_block li a {
  position: relative;
  padding-left: 25px;
  line-height: 22px;
  display: inline-block;
  font-weight: 500;
}
.rtl #usefull_link_block li a {
  padding-right: 25px;
  padding-left: inherit;
}
#usefull_link_block li a:before {
  font-family: "FontAwesome";
  font-size: 16px;
  line-height: 24px;
  position: absolute;
  left: 0;
  font-weight: normal;
}
.rtl #usefull_link_block li a:before {
  right: 0;
  left: auto;
}
#usefull_link_block li a:hover:before {
  color: #e24647;
}
#usefull_link_block li.print a:before {
  content: "\f02f";
}
#usefull_link_block li.sendtofriend a:before {
  content: "\f003";
}
#usefull_link_block li#left_share_fb {
  clear: both;
  float: none;
}
#usefull_link_block li#left_share_fb a {
  padding-left: 18px;
}
#usefull_link_block li#left_share_fb a:before {
  content: "\f09a";
}
#usefull_link_block li#favoriteproducts_block_extra_remove, #usefull_link_block li#favoriteproducts_block_extra_add, #usefull_link_block li#favoriteproducts_block_extra_removed, #usefull_link_block li#favoriteproducts_block_extra_added {
  cursor: pointer;
  clear: both;
  float: none;
  margin: 0 0 8px 0;
  border: none;
  padding: 0;
  position: relative;
}
#usefull_link_block li#favoriteproducts_block_extra_remove:before, #usefull_link_block li#favoriteproducts_block_extra_add:before, #usefull_link_block li#favoriteproducts_block_extra_removed:before, #usefull_link_block li#favoriteproducts_block_extra_added:before {
  font-family: "FontAwesome";
  font-size: 19px;
  line-height: 24px;
  position: absolute;
  top: -2px;
  left: 0;
  font-weight: normal;
  content: "\f08a";
}
.rtl #usefull_link_block li#favoriteproducts_block_extra_remove:before, .rtl #usefull_link_block li#favoriteproducts_block_extra_add:before, .rtl #usefull_link_block li#favoriteproducts_block_extra_removed:before, .rtl #usefull_link_block li#favoriteproducts_block_extra_added:before {
  right: 0;
  left: auto;
}
#usefull_link_block li#favoriteproducts_block_extra_removed:before {
  content: "\f004";
}

/* pb-right-column ********************************************************************************/
.pb-right-column {
  /* form */
}
.pb-right-column #buy_block {
  min-height: 290px;
  padding: 20px;
  border-right: #cccccc;
  border-style: none solid none none;
  border-width: 0 1px 0 0;
}
.rtl .pb-right-column #buy_block {
  border-left: #cccccc;
  border-right: inherit;
}
.rtl .pb-right-column #buy_block {
  border-style: none none none solid;
}
.rtl .pb-right-column #buy_block {
  border-width: 0 0 0 1px;
}
.pb-right-column #buy_block label {
  display: inline-block;
  width: 125px;
  font-weight: 700;
  font-size: 12px;
  text-align: right;
}
.rtl .pb-right-column #buy_block label {
  text-align: left;
}
.pb-right-column #buy_block p.price {
  padding: 0;
}
.pb-right-column #color_picker p {
  padding-bottom: 5px;
  font-weight: 700;
}

/* pb-centercolumn ********************************************************************************/
.pb-centercolumn {
  text-align: center;
  padding-bottom: 30px;
}

/* pb-center-column ****************************************************************************** */
.pb-center-column {
  padding-top: 30px;
  text-align: left;
}
.rtl .pb-center-column {
  text-align: right;
}
.pb-center-column #product_reference {
  margin-bottom: 6px;
}

#product p#loyalty {
  padding: 17px 0 15px 35px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  margin: 10px 0 -5px;
  position: relative;
}
.rtl #product p#loyalty {
  padding: 17px 35px 15px 0;
}
#product p#loyalty:before {
  content: "\f024";
  font-family: "FontAwesome";
  color: #cfcccc;
  font-size: 26px;
  line-height: 28px;
  position: absolute;
  top: 16px;
  left: 0;
}
.rtl #product p#loyalty:before {
  right: 0;
  left: auto;
}

#attributes fieldset {
  margin-bottom: 20px;
}
#attributes fieldset label {
  vertical-align: top;
  display: inline-block;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 0;
  margin-right: 20px;
}
.rtl #attributes fieldset label {
  margin-left: 20px;
  margin-right: inherit;
}
#attributes .attribute_list {
  display: inline-block;
}
#attributes .attribute_list .form-control {
  max-width: 230px;
  height: 36px;
  position: relative;
  border: 1px solid #272727;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
#attributes .attribute_list .form-control option {
  color: #8a8a8a;
}
#attributes .attribute_list ul {
  clear: both;
}
#attributes .attribute_list ul li {
  display: inline-block;
  text-align: right;
}
.rtl #attributes .attribute_list ul li {
  text-align: left;
}
#attributes .attribute_list input.attribute_radio {
  float: left;
  margin-left: 3px;
}
.rtl #attributes .attribute_list input.attribute_radio {
  float: right;
}
.rtl #attributes .attribute_list input.attribute_radio {
  margin-right: 3px;
  margin-left: inherit;
}
#attributes .attribute_list div.radio,
#attributes .attribute_list div.radio span,
#attributes .attribute_list div.radio input {
  float: none;
  display: inline-block;
}
#attributes .attribute_list #color_to_pick_list {
  list-style-type: none;
  margin-bottom: 0;
}
#attributes .attribute_list #color_to_pick_list li {
  float: left;
  padding: 1px;
  clear: none;
}
.rtl #attributes .attribute_list #color_to_pick_list li {
  float: right;
}
#attributes .attribute_list #color_to_pick_list li a.color_pick {
  display: block;
  height: 30px;
  width: 30px;
  cursor: pointer;
  border: 2px solid transparent;
}
#attributes .attribute_list #color_to_pick_list li.selected a {
  border: 2px solid #272727;
}

.box-cart-bottom > div {
  display: inline-block;
}
.box-cart-bottom .btn {
  text-transform: uppercase;
  border: 1px solid transparent;
  color: #8a8a8a;
  padding: 8px 12px;
}
.box-cart-bottom .btn.btn-inverse {
  color: #FFF;
  padding: 8px 30px;
}
.box-cart-bottom .btn:hover {
  border: 1px solid #272727;
  color: #272727;
}
.box-cart-bottom .btn:hover.btn-outline {
  background: none;
}

#short_description_block {
  padding-top: 20px;
  border-top: 1px solid #dddddd;
  margin-bottom: 20px;
  /* display: none; */
}

/* table_data_sheet */
.table-data-sheet {
  border-bottom: 1px solid #dddddd;
  width: 100%;
  margin: 0 0 20px;
}
.table-data-sheet tr {
  border-top: 1px solid #dddddd;
}
.table-data-sheet tr.even {
  background: #f9f9f9;
}
.table-data-sheet tr td {
  padding: 10px 20px 11px;
}
.table-data-sheet tr td:first-child {
  border-right: 1px solid #dddddd;
  width: 30%;
  font-weight: 500;
}

/* table product-discounts */
table.table-product-discounts {
  border: none;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  width: 50%;
  margin: 0 0 20px;
}
@media (max-width: 767px) {
  table.table-product-discounts {
    width: 100%;
  }
}
table.table-product-discounts tr th {
  background: transparent;
  font-weight: 700;
  border: none;
  font-weight: 700;
}
table.table-product-discounts tr td,
table.table-product-discounts tr th {
  border-left: 1px solid #dddddd;
  width: 33%;
  padding: 10px 20px 11px;
  border-top: 1px solid #dddddd;
  border-right: none;
  text-shadow: none;
  text-transform: none;
  font-weight: 13px;
  line-height: 18px;
  border-bottom: none;
}

/* accessories  */
.accessories-block .block_description {
  display: none;
}
.accessories-block .exclusive span {
  font-size: 13px;
  line-height: 18px;
  padding: 2px 8px 3px;
  text-decoration: none;
}
.accessories-block .exclusive span:focus, .accessories-block .exclusive span:active {
  text-decoration: none;
}
.accessories-block .page-subheading {
  margin-bottom: 0;
}

/* quantity_wanted */
#quantity_wanted_p {
  position: relative;
  margin-bottom: 20px;
}
#quantity_wanted_p input {
  width: 64px;
  height: 36px;
  border: 1px solid #272727;
  padding: 0 0 0 10px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  text-align: left;
}
.rtl #quantity_wanted_p input {
  padding: 0 10px 0 0;
}
.rtl #quantity_wanted_p input {
  text-align: right;
}
#quantity_wanted_p label {
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 20px;
}
.rtl #quantity_wanted_p label {
  margin-left: 20px;
  margin-right: inherit;
}
#quantity_wanted_p .product_quantity_up,
#quantity_wanted_p .product_quantity_down {
  width: 30px;
  height: 18px;
  text-align: center;
  padding: 0;
  font-size: 10px;
  line-height: 18px;
  position: absolute;
  border: none;
  display: none;
  right: 0;
}
.rtl #quantity_wanted_p .product_quantity_up, .rtl
#quantity_wanted_p .product_quantity_down {
  left: 0;
  right: auto;
}
#quantity_wanted_p .product_quantity_down {
  bottom: 0;
}
#quantity_wanted_p .product_quantity_up {
  top: 0;
}

/* availability_statut */
#availability_statut span#availability_label,
#availability_date_label {
  display: inline-block;
  font-weight: 400;
  text-align: right;
}
.rtl #availability_statut span#availability_label, .rtl
#availability_date_label {
  text-align: left;
}

#quantityAvailable {
  font-size: 13px;
  line-height: 18px;
}

#availability_value,
#last_quantities {
  line-height: 18px;
  display: inline-block;
  background-color: transparent;
  color: #8a8a8a;
  padding: 0;
  font-size: 14px;
}

#last_quantities {
  background: #6087d2;
  padding: 4px 8px 3px;
  position: relative;
  top: 1px;
}

#availability_statut,
#pQuantityAvailable {
  display: inline-block;
}

#pQuantityAvailable span {
  font-weight: 500;
}

#availability_statut #availability_value.warning_inline {
  margin: 0;
}

/* box-security */
/* prices */
.content_prices {
  padding: 0 0 5px 0;
}

.discount {
  display: none;
}

.our_price_display {
  color: #272727;
  font-size: 30px;
  font-family: "Oswald", sans-serif;
}

#old_price, .old-price {
  font-size: 16px;
  text-decoration: line-through;
  display: inline-block;
  line-height: 24px;
  font-family: "Oswald", sans-serif;
}

#reduction_percent,
#reduction_amount {
  display: inline-block;
  position: relative;
  top: -3px;
  margin: 0 5px;
  padding: 0 3px;
  font-size: 14px;
  line-height: 23px;
  color: #FFF;
  background: #f13340;
  border: 1px solid #d02a2c;
  font-family: "Oswald", sans-serif;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
#reduction_percent span,
#reduction_amount span {
  display: block;
}

/* online_only */
.pb-center-column p.online_only {
  font-weight: 700;
  color: #f13340;
}

.buttons_bottom_block {
  display: inline-block;
}

.box-info-product {
  text-align: right;
}
.rtl .box-info-product {
  text-align: left;
}
.box-info-product .content_prices p {
  display: inline-block;
}

#product_payment_logos {
  display: inline;
}
#product_payment_logos img {
  display: inline-block;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

/* SEND TO FRIEND (pop-in) ##################################################################### */
#send_friend_form {
  width: 555px;
  overflow: hidden;
}
#send_friend_form .product img {
  margin: 0 0 10px 0;
  border: 1px solid #dddddd;
}
#send_friend_form .product p {
  padding: 0;
}
#send_friend_form .product p .product_name {
  font-size: 12px;
  color: #000;
}
#send_friend_form .form_container {
  padding: 10px 15px;
  border: 1px solid #dddddd;
}
#send_friend_form .form_container p.intro_form {
  padding-bottom: 6px;
  font-weight: 700;
  font-size: 13px;
}
#send_friend_form .form_container p.txt_required {
  padding-bottom: 0;
  color: #666;
}
#send_friend_form .form_container .text {
  padding-bottom: 10px;
}
#send_friend_form .form_container .text label {
  display: block;
  padding: 0;
  width: 100%;
  font-size: 12px;
}
#send_friend_form .submit {
  margin-top: 20px;
  padding-bottom: 0;
  text-align: right;
}
.rtl #send_friend_form .submit {
  text-align: left;
}

/* PERSONNALISATION ##################################################################### */
p.infoCustomizable {
  margin-bottom: 30px;
}

ul#uploadable_files,
ul#text_fields {
  list-style-type: none;
}

.customizableProductsFile,
.customizableProductsText {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dddddd;
}

.customizationUploadLine {
  padding-bottom: 10px;
}
.customizationUploadLine label {
  display: block;
  vertical-align: top;
}
.customizationUploadLine textarea {
  width: 50%;
  border: 1px solid #dddddd;
  color: #8a8a8a;
}

.customizationUploadBrowse img + a {
  position: relative;
  top: -51px;
}

#customizedDatas {
  float: right;
}
.rtl #customizedDatas {
  float: left;
}

.accessories_block div ul li a {
  display: inline-block;
}
.accessories_block div ul li.s_title_block a, .accessories_block div ul li.s_title_block span {
  font-weight: 700;
}

/***** IE code ****/
.ie8 .pb-left-column #image-block #view_full_size .span_link {
  background: #fff;
  border: 1px solid #dddddd;
}
.ie8 .box-security {
  filter: none;
}

.socialsharing_product {
  margin-bottom: 20px;
}
.socialsharing_product button {
  border: 1px solid #dddddd;
}

/******************************************************************
Quick View Styles
******************************************************************/
.addsharethisinner .stButton .stArrow {
  display: none !important;
}

#product.content_only div.primary_block {
  margin-bottom: 0;
  padding: 10px;
}
@media (max-width: 991px) {
  #product.content_only div.primary_block {
    margin-right: 0;
  }
}
#product.content_only #leo-paneltool {
  display: none;
}

@media (max-width: 1050px) {
  #product.content_only div.primary_block div.pb-left-column, #product.content_only section.primary_block div.pb-left-column {
    width: 100%;
    padding-right: 15px;
  }
  #product.content_only div.primary_block div.pb-left-column #image-block, #product.content_only div.primary_block div.pb-left-column #views_block, #product.content_only section.primary_block div.pb-left-column #image-block, #product.content_only section.primary_block div.pb-left-column #views_block {
    max-width: 470px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  #product.content_only div.primary_block div.pb-left-column #thumbs_list li, #product.content_only section.primary_block div.pb-left-column #thumbs_list li {
    width: 90px;
    height: 90px;
  }
  #product.content_only div.primary_block div.pb-left-column #thumbs_list li img, #product.content_only section.primary_block div.pb-left-column #thumbs_list li img {
    width: 82px;
    height: 82px;
  }
  #product.content_only div.primary_block div.pb-center-column, #product.content_only section.primary_block div.pb-center-column {
    width: 50%;
    float: left;
    padding-left: 35px;
  }
  .rtl #product.content_only div.primary_block div.pb-center-column, .rtl #product.content_only section.primary_block div.pb-center-column {
    float: right;
  }
  .rtl #product.content_only div.primary_block div.pb-center-column, .rtl #product.content_only section.primary_block div.pb-center-column {
    padding-right: 35px;
    padding-left: inherit;
  }
  #product.content_only div.primary_block div.pb-right-column, #product.content_only section.primary_block div.pb-right-column {
    width: 50%;
    float: left;
  }
  .rtl #product.content_only div.primary_block div.pb-right-column, .rtl #product.content_only section.primary_block div.pb-right-column {
    float: right;
  }
}
.product .nav-tabs {
  text-align: center;
  border-top: 1px solid #dddddd;
}
.product .nav-tabs > li {
  float: none;
  display: inline-block;
}
.product .nav-tabs > li a {
  padding: 20px 15px;
  border: none;
  border-bottom: 3px solid transparent;
  background: none;
  color: #8a8a8a;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}
.product .nav-tabs > li.active a, .product .nav-tabs > li.active a:active, .product .nav-tabs > li.active a:focus {
  color: #272727;
  border: none;
  border-bottom: 3px solid #e24647;
}

.tab-content {
  padding: 20px 0;
  margin-bottom: 60px;
}
