/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/** CHECKOUT BY STEP */
/*******************************************************
Product list Styles
********************************************************/
@media (min-width: 992px) {
  #subcategories .row > div:nth-child(4n+1),
  .first-in-line {
    clear: both;
  }
}
@media (min-width: 480px) and (max-width: 991px) {
  #subcategories .row > div:nth-child(2n+1),
  .first-item-of-tablet-line {
    clear: both;
  }
}
@media (min-width: 1200px) {
  #blockpack ul > li.last-line {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  #blockpack ul > li.first-item-of-tablet-line {
    clear: none;
  }
  #blockpack ul > li.first-item-of-mobile-line {
    clear: left;
  }
}

/*******************************************************
Product list(List) Styles 
********************************************************/
.product_list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.product_list .nopadding {
  padding: 0;
}
.product_list .nomargin {
  margin: 0;
}
.product_list.nomargin {
  margin: 0;
}
.widget .product_list {
  border-right: none;
  border-left: none;
}
.widget .product_list .product-block {
  border-bottom: none;
}
.widget .product_list .row {
  border-bottom: 1px solid #dddddd;
}
.widget .product_list .row:last-child {
  border-bottom: none;
}
.product_list .last-in-line .product-block,
.product_list .product_block:nth-child(4n) .product-block {
  border-right: none;
}
.product_list .color-list-container {
  margin-bottom: 12px;
}
.product_list .color-list-container ul li {
  display: inline-block;
  border: 1px solid #dddddd;
}
.product_list .color-list-container ul li a {
  display: block;
  width: 23px;
  height: 23px;
  margin: 1px;
}

.product_list.grid > .ajax_block_product .product-desc {
  display: none;
}
.product_list.grid > .ajax_block_product .comments_note {
  display: none;
}
.product_list.grid > .ajax_block_product .product-block .name {
  height: 22px;
  line-height: 22px;
  overflow: hidden;
}
@media (max-width: 479px) {
  .product_list.list > .ajax_block_product .left-block {
    width: 100%;
  }
}
@media (max-width: 479px) {
  .product_list.list > .ajax_block_product .product-image-container {
    max-width: 290px;
    margin: 0 auto;
  }
}
@media (max-width: 479px) {
  .product_list.list > .ajax_block_product .center-block {
    width: 100%;
  }
}
@media (max-width: 479px) {
  .product_list.list > .ajax_block_product {
    text-align: center;
  }
}
.product_list.list .product-block .functional-buttons {
  width: 100%;
  left: 0;
  right: auto;
  top: auto;
  bottom: 0;
  opacity: 1;
  filter: alpha(opacity=100);
}
.product_list.list .product-block .product-desc {
  margin-bottom: 30px;
}
.product_list.list .product-block:hover .product-image-container .sale-box, .product_list.list .product-block:hover .product-image-container .new-box {
  opacity: 1;
  filter: alpha(opacity=100);
}
.product_list.list .ajax_add_to_cart_button {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  margin: 0;
}

/*******************************************************
Product list(Index page) Styles 
********************************************************/
/***** IE code *****/
.ie8 .quick-view {
  background: #fff;
  border: 1px solid #dddddd;
}
