.panel-heading-gomakoil{
  width: 100%;
  padding: 0px !important;
  height: 65px !important;
  margin-left: 0px !important;
  margin-top: 10px !important;
  margin-bottom: -6px !important;
}
.panel-heading-gomakoil .panel{
  height: 60px !important;
  padding-top: 15px !important;
  border-bottom: 0px;
  box-shadow: none!important;
  border-radius: 3px 3px 0px 0px!important;
  z-index: 111;
}
.import_products_true{
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  background: red;
  padding: 3px 15px;
  color: white;
  text-align: left;
  line-height: 35px;
  margin-left: 30px;
  font-style: italic;
}
.panel-step{
  float: left;
  margin-left: 30px;
}
.panel-step div{
  float: left;
  border-bottom: 0px !important;
  padding: 6px 25px;
  border-radius: 3px 3px 0 0;
  color: #00aff0;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 2px;
  font-size: 1.1em;
  font-family: "Ubuntu Condensed",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  background: #ffffff;
}
.panel-step div:hover{
  background: #e6e6e6;
}
.panel-step div.active:hover{
  background: #ffffff;
}
.panel-step div.active{
  border: 1px solid #dadada;
  color: #555;
}
.panel-heading-gomakoil .name_module{
  float: right;
}
.next_button_import, .button_import, .save_all_settings{
  padding: 6px 30px !important;
  font-size: 15px !important;
}
.settings_save{
  width: 50% !important;
}

.content_import_page #fieldset_1_1,.content_import_page #fieldset_0, .content_import_page #fieldset_1{
  border: none !important;
  box-shadow: none !important;
}
@media (max-width: 910px){
  .panel-heading-gomakoil .name_module{
   display: none;
  }
}

@media (max-width: 700px){
  .settings_save{
    width: 100% !important;
  }
}

.progres_bar_ex {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.6;
  z-index:1111;
}
.progres_bar_ex .loading{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 18060;
  background: #000;
  border-radius: 5px;
}
.progres_bar_ex .loading div {
  width: 44px;
  height: 44px;
  background: url('../img/loading.gif') center center no-repeat;
}
.step_1 #fieldset_0 .form-group:nth-child(3), .step_1 #fieldset_0 .form-group:nth-child(5){
  display: none;
}

.content_import_page #fieldset_2_2, .content_import_page #fieldset_4_4, .content_import_page #fieldset_6_6, .content_import_page #fieldset_8_8{
  background-color: #edf7fb !important;
}
.content_import_page #fieldset_2_2 .form-group, .content_import_page #fieldset_4_4 .form-group, .content_import_page #fieldset_6_6 .form-group, .content_import_page #fieldset_8_8 .form-group{
  margin-bottom: 0px !important;
}
.content_import_page #fieldset_10_10{
  border: none !important;
  box-shadow: none !important;
}
.content_import_page #fieldset_10_10 .col-lg-9{
  margin-left: 0px;
  text-align: center;
  width: 100%;
}
.chosen-single, .chosen-drop{
  width: 250px !important;
}

.one_category .count_cat{
  position: absolute;
  top: 7px;
  left: -12px;
}

.more_subcategory{
  margin-bottom: 10px;
}
.one_category{
  position: relative;
  margin-bottom: 5px;
}
.more_category{
  /*position: absolute;*/
  bottom: 10px;
  left: 140px;
}
.content_import_page #fieldset_0_0 a{
  cursor: pointer;
}
.content_import_page .chosen-container{
  width: 250px !important;
  margin-bottom: 5px !important;
}

.content_import_page #fieldset_1 .form-group{
  margin-bottom: 5px !important;
}
.content_import_page .col-lg-9 {
  padding-left: 10px !important;
}
.delete_one_category a{
  padding: 2px 5px !important;
}
.delete_one_category{
  margin-left: -40px;
  position: absolute;
  margin-top: 3px;
  cursor: pointer;
}
.delete_one_subcategory{
  position: absolute;
  margin-top: 0px;
  cursor: pointer;
  z-index: 111;
  right: 12px;
}
.delete_one_subcategory a{
  padding: 4px !important;
}
.one_subcategory{
  position: relative;
  width: 285px;
  float: left;
}
.save_scroll .delete_config{
  position: absolute;
  right: 20px;
  top: -2px;
}
.save_scroll li{
  margin-bottom: 5px;
  border-bottom: 1px solid #dadada;
  height: 34px;
  position: relative;
  font-size: 15px;
}
.your_saved_settings{
  margin-left: 10px !important;
}
.file_example_import{
  float: left;
  margin-left: 30px;
  margin-top: 5px;
}

@media (max-width: 1140px){
  .panel-heading-gomakoil .name_module span{
    display: none;
  }
}
.error_logs_import{
  font-size: 15px;
  margin-left: 50px;
}

.logo_myprestamodules{
  height: 37px;
}

.form-group.more .col-lg-9{
  margin-left: 0;
  width: 25%;
  text-align: right;
  cursor: pointer;
  text-decoration: underline;
  color: #218CC1;
  font-size: 14px;
}

.form-group.more .col-lg-9:hover{
  text-decoration: none;
}

.form-group.more{
  position: absolute;
  width: 100%;
  top: 0px;
}

.content_import_page #fieldset_1_1{
  margin: -35px 0 0 0;
  overflow: hidden;
  height: 0px;
  padding: 20px 0 0px 0 !important;

}

.content_import_page #fieldset_1_1.show_all{
  padding: 0px 0 50px 0 !important;
  height: 1230px;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  -moz-transition-duration: 1s;
  transition-duration: 1s;
}

.content_import_page #fieldset_1_1.show_all .form-group.more{
  bottom: -10px !important;
  top: inherit;
}