/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/** CHECKOUT BY STEP */
.shop-phone {
  float: left;
  margin: 6px 0;
  margin: 6px 5px 6px 5px;
}
.rtl .shop-phone {
  float: right;
}
.rtl .shop-phone {
  margin: 6px 5px 6px 5px;
}
@media (max-width: 767px) {
  .shop-phone {
    display: none;
  }
}
.shop-phone i {
  color: #8a8a8a;
}

#contact-link {
  float: left;
  margin: 6px 5px 6px 5px;
}
.rtl #contact-link {
  float: right;
}
.rtl #contact-link {
  margin: 6px 5px 6px 5px;
}
@media (max-width: 479px) {
  #contact-link {
    width: 25%;
    text-align: center;
  }
}

@media (max-width: 767px) {
  #contact_block {
    margin-bottom: 20px;
  }
}
#contact_block .label {
  display: none;
}
#contact_block .block_content {
  color: #888888;
}
#contact_block p {
  margin-bottom: 4px;
}
#contact_block p.tel {
  margin-bottom: 6px;
}
#contact_block p.tel i {
  font-size: 25px;
  vertical-align: -2px;
  padding-right: 10px;
}
