<div class="alert alert-info">
<img src="../modules/magasin/magasin.jpg" style="float:left; margin-right:15px;" width="86" height="49">
<p><strong>{l s="Ce module vous permet d'accepter le paiement au magasin." mod='magasin'}</strong></p>
<p>{l s="Si le client choisit ce mode de paiement, le statut sera 'Paiement au magasin.'" mod='magasin'}</p>
<p style="color:red;font-weight:bold;">{l s="Pour être disponible sur le front-office, votre transporteur doit impérativement porter le nom exact 'Retrait au magasin'" mod='magasin'}</p>
<p>{l s="Ceci permettra au module de n'être disponible que si le transporteur sélectionné porte ce nom." mod='magasin'}</p>
</div>
