#account-creation_form fieldset, fieldset.account_creation {
	padding:0 0 15px 0;
	border:1px solid #ccc;
	background:#f8f8f8;
}
#account-creation_form h3 {
	margin:0 0 15px 0;
	padding:8px;
	font-size:14px;
	color:#fff;
	text-transform:uppercase;
	background:#19bd9b;
}
#center_column #account-creation_form p {margin:0; padding:0 0 20px 0}
#account-creation_form p.required {color:#3b3b3b}
#account-creation_form p.required  sup {color:#19bd9b}
#account-creation_form p.radio span,
#account-creation_form p.text label,
#account-creation_form p.password label,
#account-creation_form p.select label,
#account-creation_form p.select span,
#account-creation_form p.textarea label {
	display:inline-block;
	padding:6px 15px;
	/*width:230px;/* 260 */
	font-size:14px;
	text-align:left;
	margin-left: 100px;

}
#account-creation_form p.radio label {
	float:none;
	padding-right:10px;
	width:auto;
	font-size:14px;
}
#account-creation_form p.radio input {
	position: relative;
	bottom: -3px;
}
#account-creation_form p.checkbox label {
	float:none;
	width:auto;
	font-size:12px;
}
#account-creation_form p.text input,
#account-creation_form p.password input,
#account-creation_form p.select input {
	padding:0 5px;
	height:30px;
	width:960px;/* 370 */
	border:1px solid #ccc;
	font-size: 12px;
	color:#666;
	margin-left: 115px;
	background:#fff;
}
#account-creation_form span.inline-infos{display:inline-block;
margin-left: 115px;
margin-top: 8px;
}
#account-creation_form p.checkbox input {
	margin-left:115px;
}
.dni{border:none!important;}
#account-creation_form p.select select {
	margin-right:10px;
	border:1px solid #ccc;
	font-size: 18px;
	color:#666;
	height: 30px;
	width:115px; 
	margin-left: 115px
}
#account-creation_form p.textarea textarea {
	height:80px;
	width:960px;
	border:1px solid #ccc;
	font-size: 12px;
	color:#666;
	margin-left: 115px;
	padding: 0 5px;
}
#account-creation_form span.form_info, #account-creation_form p.inline-infos {
	display:block;
	margin:5px 0 0 115px!important;
	color:#666;
}
#account-creation_form .id_state, #account-creation_form .dni, #account-creation_form .postcode {
	display: none;
}
#center_column #account-creation_form p.cart_navigation {
	margin:20px 0;
}