
	#contact  fieldset {
		padding:0 0 15px 0;
		border:1px solid #ccc;
		background:#f8f8f8
	}
		#contact  h3 {
			margin:0 0 15px 0;
			padding:8px;
			font-size:14px;
			color:#fff;
			text-transform:uppercase;
			background: #19bd9b;
			/*background:url(../img/bg_form_h3.png) repeat-x 0 0 #989898*/
		}
		#contact #center_column p {margin:0; padding:0 0 20px 0;}
		#contact #center_column p.desc_contact { text-align: center; padding-left: 10px; padding-right: 10px; color: #2b7de0; width:600px; 
		margin-left:200px; }
		
		#contact p.text label,
		#contact p.select label,
		#contact p.select span,
		#contact p.textarea label {
			display:inline-block;
			padding:6px 15px;
			width:150px;/* 180 */
			font-size:12px;
			text-align:right;
			text-transform: uppercase;
		}
		#contact p.textarea label {vertical-align:top}
		#contact p.text input,
		#contact p.select input {
			padding:0 5px;
			height:30px;
			width:946px;/* 270 */
			border:1px solid #ccc;
			font-size: 12px;
			color:#666
		}
		#contact p.select select {
			margin-right:10px;
			border:1px solid #ccc;
			font-size: 12px;
			color:#666;
			text-transform: uppercase;
			padding:0px!important;
			height: 30px;
			width:960px !important;
		}
		#contact p.textarea textarea {
			height:80px;
			width:952px;
			border:1px solid #ccc;
			font-size: 12px;
			color:#666;
			padding-left: 5px;
		}
		.contact-input input{
			margin-left: 183px;
		}
		.contact-input textarea{
			margin-left: 183px;
		}
		#contact p.submit input {margin-right:57px; float: right;}