#identity #left_column {display:none}
#identity #center_column{width:100%; margin-bottom: 20px;}
#identity h3 {
	font-weight:normal;
	font-size:13px;
}
#identity p {
	padding-bottom:20px;
}
#identity form.std fieldset {
	margin-top:0;
	padding:10px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	background:#eee;
}
#identity .std p.required {color:#333}

#identity .std p.text label,
#identity .std p.password label,
#identity .std p.select label {
	display:inline-block;
	padding-right:10px;
	width:230px;/* 184 */
	font-weight:bold;
	font-size:12px;
	text-align:right;
	text-transform: uppercase;
}
#identity .std p.text label sup,
#identity .std p.password label sup,
#identity .std p.select label sup {color:#990000;}
#identity .std p.text input,
#identity .std p.password input {
	padding:0 5px;
	height:30px;
	width:960px;/* 263 */
	border:1px solid #ccc;
	background:url(../img/bg_input.png) repeat-x 0 0 #fff;
}
#identity .std p.select select {
	border:1px solid #ccc;
	height: 30px;
	margin-right: 30px;
	width: 150px;
	font-size: 14px;
}
.btn-identity input{
	float: right;

}
#identity .std p.radio span {
	display:inline-block;
	padding-right:10px;
	width:162px;/* 184 */
	font-weight:bold;
	font-size:12px;
	text-align:right;
	text-transform: uppercase;g19

}
#identity .std p.radio input {
	padding:0 5px;
	height:auto;
	width:auto;
	border:none;
	background:none;
	position: relative;
	bottom: -3px;
}
#identity .std p.checkbox input {
	position:relative;
	top:2px;
	left:0;
	margin:0 2px 0 187px;
}
#identity .std p.submit {padding:10px 0 50px 187px}
#identity .std p.submit .button {padding:12px 25px}
#identity .std #security_informations {
text-align: center;
color: #2b7de0;	
	font-size:11px;
	margin-top:50px;
}