
@media only screen and (min-device-width: 768px) and (orientation: portrait), screen and (max-width: 994px) { 
    #menumobb{display:none;}
    #leftcol {
    float: left;
    margin-left: 5%;
    margin-top: 50px;
    width: 90%;
}
#centercol {
    width: 100%;
    float: left;
}
.catpar {
    margin-top: 12px;
    display: block;
}
.catpar a{text-align: center;background-color:  #19BC9A!important}
#header_center{display:none;}
#header_right {float: right;width: 50%}
.btn-navbar {display: block;}
.bloksearch{width: 90%;}
.btn {
    margin: 22px 8px 6px;
    line-height: 18px;
    color: #333;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 4px;
    text-decoration: none;
}
#bg-promo {
    background: url('../img/ett-promo.png') no-repeat scroll 0% 0% transparent;
    position: absolute;
    width: 289px;
    height: 124px;
    right: 5%;
    margin: 0;
    left: auto;
}
#identity .std p.text input, #identity .std p.password input {width: 90%}

.info-input input {
    margin-left: 5%;
}
#identity .std p.select label {width: 100%;float: left;margin-left: 0;text-align: left;}
#identity p {width: 80%;margin-left: 5%}
.btn-identity {
    width: 90%;
    margin: 0px auto;
}
#identity .std p.select select {width: 20%;margin-top: 25px}
table#cart_summary .cart_description {
    text-align: center;
    max-width: 130px;
    width: 0px;
}
table#cart_summary .cart_unit {
    width: 0;
    text-align: center;
    max-width: 100px;
}
#order-detail-content {
    margin-bottom: 20px;
    width: 94%;
    margin-left: 3%;
}
.cart_navigation {
    
    width: 94%;
    float: left;
    margin-left: 3%;
}
ul.address {width: 94% !important;margin-left: 3%;margin-bottom: 15px}
table#cart_summary .cart_product {
    max-width: 40px;}
.s_title_block a {font-size: 12px;}
table#cart_summary td {padding:2px;width: 40px}

#search_block_top {
    position: relative;
    margin:0;
    float: left;
    margin-left: 5%;
    width: 90%;
}
form#searchbox {
    padding-top: 5px;
    margin:0;
    width: 100%;
}
#search_block_top #search_query_top {width: 100%}
.btn-navbar {
    float: right;
    padding: 4px;
    margin-right: 4.5%;
   
    
    background-repeat: repeat-x;
    border-color:#fff;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset, 0px 1px 0px rgba(255, 255, 255, 0.075);
}
.icon-bar {
    display: block;
    width: 30px;
    margin: 5px;
    height: 3px;
    background-color: #F5F5F5;
    border-radius: 1px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
}
#header{background-color: #3A3A38;}
#pro {width: 27%;border-right: 1px solid #FFF;}
#sub {width: 27%;}
#cmt {width: 27%;}
#pan {width: 27%;border-right: 1px solid #FFF;}
#header_right {
    float: right;
    width: 60%;
}
.sf-menu {
    height: auto;
    margin-bottom: 0;
}
.clearfix:before, .clearfix:after {
    float: left;
}
.sf-menu li {
    width: 100%;
}
.sf-right {height: 0px}
.nivoSlider {height: auto!important;}
#slide_holder {height: auto!important;}
#boxes {width: 100%}
#box2 {margin-right: 50px;}
#box1 {margin-left:50px;}
.foo{width: 90%;}
#contact_block .mail {width: 50%;float: left}
#contact_block .tel {width: 50%;float: left}
#contact_block {width: 100%}
#contact_block .number {width: 80%;font-size: 30px;}
#contact_block a {font-size: 30px;}
#category-name {width: 100%}
ul#product_list{width: 90%;margin-left: 5%;float: left}
#address_invoice {float: left;}
#product_list li{margin-bottom: 20px}
#bady {width: 96%}
.decaler {margin-left: 60px}
.address_add {
    padding: 20px 0px;
    width: 90%;
    float: left;
    margin-left: 5%;
}
.content_sortPagiBar {
    margin: 20px 0px 20px 5%;
    width: 90%;
    float: left;
}
.sortPagiBar #productsSortForm {
    float: left;
}
#productsSortForm_bottom{float: left}
.paiement_block {width: 96%}
#ordermsg p.txt {
    float: left;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 10px;
}
#ordermsg .textarea textarea {width: 90%;float: left;margin-left: 5%}
.addresses ul.address {width: 90%;margin-left: 5%}
.breadcrumb {width: 100%}
#create-account_form, #authentication #login_form {width: 80%;margin-left: 10%}
#account-creation_form p.text input, #account-creation_form p.password input, #account-creation_form p.select input {width: 80%;margin-left: 10%}
#account-creation_form p.textarea textarea {width: 80%;margin-left: 10%}
.cart_navigation .exclusive{margin-right: 1%}
#account-creation_form p.select span{width: 80%;float: left;margin-left: 10%}
#account-creation_form p.select select {width: 18%;margin-left: 10%}
ul.step li {margin-right: 30px}
ul.step {width: 100%}
ul.step li {width: 15%;height: 100%;background-size: 100% ;margin-left: 10px}
ul.step li.step_current {background-size: 100%}
.img-pan {margin-top: 50%;
margin-left: 30%;}
.img-iden {
    margin-left: 30%;
margin-top: 40%;
}
.img-adrress {
    margin-left: 30%;
margin-top: 40%;
}
.img-liv {
    margin-left: 30%;
margin-top: 40%;
}
.img-pai {
    margin-left: 30%;
margin-top: 40%; 
}
.quat {margin-left: 0}
.paireprod{margin-left: 7%}
.impaireprod{}
#footer {margin-top: 80px}
#add_address fieldset {
width: 90%;
margin-left: 5%;
}
#add_address p.text input, #add_address p.password input, #add_address select, #add_address p.select input {width: 90%;}
.file-input input {
    margin-left: 5%;
}
#add_address p.select select {width: 93%}
#add_address p.textarea textarea {width: 90%}
.file-input textarea {margin-left: 5%}
.file-input select {margin-left: 5%}
#address p.inline-infos {width: 90%;margin-left: 5%!important}
.submit2 {
    float: left;
    margin: 60px 0px 60px 5%;
    width: 90%;
}
#submitAddress{float: right;}
#primary_block {
    width: 100%;
    margin: 15px auto;
}
#pb-right-column {
    float: none;
    width: 550px;
    margin:0 auto;
}
#bigpic{width: 100%;height: auto;}
#pb-right-column #image-block #view_full_size {
    display: block;
    cursor: pointer;
    margin: 0px auto;
    width: 50%;
}
#pb-right-column #image-block {
    position: relative;
    background: url('../img/bg-prod.png') no-repeat scroll 0% 0% transparent;
    height: 550px;
    width: 550px;
    background-size: 100% 680px;
    padding-top: 160px;
}
#pb-left-column {
    float: left;
    margin-left: 5%;
    width: 90%;
    margin-top: 20px;
}
#block-lft {
    float: left;
    margin-left: 0;
    width: 100%;
    background: none repeat scroll 0% 0% #F1F1F1;
    margin-top: 13px;
}
}


@media only screen  and (min-device-width : 280px) and (max-device-width: 640px) {
@font-face {
    font-family: "Flaticon";
    src: url("fonts/flaticon.eot");
    src: url("fonts/flaticon.eot#iefix") format("embedded-opentype"),
    url("fonts/flaticon.woff") format("woff"),
    url("fonts/flaticon.ttf") format("truetype"),
    url("/flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
#account-creation_form p.text input, #account-creation_form p.password input, #account-creation_form p.select input {
    width: 90%;
    margin-left: 4%;
}
#account-creation_form p.select select {
    margin-right: 10px;
    border: 1px solid #CCC;
    font-size: 18px;
    color: #666;
    height: 30px;
    width: 24%;
    margin-left: 6px;
}
#account-creation_form p.radio span, #account-creation_form p.text label, #account-creation_form p.password label, #account-creation_form p.select label, #account-creation_form p.select span, #account-creation_form p.textarea label {
    margin-left: 0
}
#account-creation_form p.checkbox input {
    margin-left: 8px;
}
#account-creation_form p.textarea textarea {width: 90%;margin-left: 4%}
form.std fieldset {
    border: 1px solid #CCC;
    margin: 20px 0px;
    width: 90%;
    margin: 20px auto;}
    .cart_navigation {
    margin: 45px auto;
    width: 90%;
    float: none;
}
#product_list li {margin-left: calc(50% - 148.5px);margin-bottom: 10px;
margin-left:-webkit-calc(50% - 148.5px);
margin-left:-moz-calc(50% - 148.5px);
padding: 0;
}
#account-creation_form span.inline-infos {margin-left: 4%}
#account-creation_form p.select span{width: 90%}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-size: 25px;
font-style: normal;
float: left;
color: #fff;
margin-left: 5px;
margin-top: 25px;
}.flaticon-approve:before {
    content: "\e000";
    font-size: 20px;
}
.flaticon-lock7:before {
    content: "\e001";
    font-size: 20px;
}
.flaticon-user58:before {
    content: "\e002";
}
.flaticonpan:before{font-size: 30px!important;}
.flaticonpan{font-family: Flaticon;

font-style: normal;
float: left;
color: #fff;
margin-left: 5px;
margin-top: 25px;}
.iconn{
    margin-left: 150px;
    float: left;
}
#create-account_form, #authentication #login_form {
    width: 96%;
margin-left: 2%;
}
#pb-right-column #image-block img {
    height: auto;
margin-top: 0;
width: 100%;
background-size: 100% auto;
}
#pb-right-column #image-block #view_full_size {
    display: block;
    cursor: pointer;
    margin: 0px auto;
    width: 90%;
}
#create-account_form #SubmitCreate, #login_form #SubmitLogin {
    float: left;
    width: calc(100% + 11px);
    padding-right: 11px;
    margin-bottom: 10px;
}
.clearfix:before, .clearfix:after {float: left;}
#create-account_form #email_create, #login_form #email, #login_form #passwd, #login_form #login_email, #login_form #login_passwd {
    width: 100%
}
#bady {float: left;width: 100%;margin: 0;}
	#search_block_top {width: 90%;}
	form#searchbox {width: 100%;float: left}
	#search_block_top #search_query_top {width: 90%;
padding: 0 5%;}
	.foo {width: 100%}
	#contact_block {width: 100%}
	#contact_block .tel {width: 90%;margin-left: 5%}
	#contact_block .number {width: 70%;font-size: 30px;text-align: left;margin-left: 100px;}
	#contact_block .mail {
		width: 90%;
float: left;
margin-left: 5%;
margin-top: 10px;
	}
    #identity .std p.text input, #identity .std p.password input { width: 90%;}
    .info-input input {margin-left: 5%}
    .btn-identity {width: 90%}
    div.addresses {padding: 0}
#contact_block a {
	font-size: 30px;
	margin-left: 100px;
	float: left;
}
#identity .std p.select label {
    display: inline-block;
    padding-right: 10px;
    width: 100%;
    font-weight: bold;
    font-size: 12px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 10px;
}
#identity .std p.select select {width: 19%}
#header{display: none;}
#headermob {
  float:left;
  height:60px;
  position:relative;
  width:100%;
  background-color: #3B3B3B;
  display: block;
}
#header_logo img {
    height: 60px !important;
    width: 128px !important;
}
.nivo-caption {font-size: 30px!important;width: 100%!important;text-align: center;padding:0 !important;}
.nivoSlider {height: auto !important}
#slide_holder {height: auto!important;}
#header_logo {
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 1;
}
 .btn-navbar {
    display: block;
}
.btn-navbar {
    
    float: right;
    padding: 3px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: #2C2C2C;
    background-image: -moz-linear-gradient(center top , #333, #222);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset, 0px 1px 0px rgba(255, 255, 255, 0.075);
}
.btn{
margin: 13px 8px 6px;
line-height: 18px;
color: #333;
text-align: center;
text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75);
vertical-align: middle;
cursor: pointer;
border-width: 1px;
border-style: solid;
-moz-border-top-colors: none;
-moz-border-right-colors: none;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
border-image: none;
border-radius: 4px;
text-decoration: none;
}
.icon-bar {
    display: block;
    width: 30px;
margin: 5px;
    height: 3px;
    background-color: #F5F5F5;
    border-radius: 1px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
}
.imgbox1{display: none;}
.imgbox2{display: none;}
#box-vert{width: 100%;height: auto;}
#boxes{width: 100%;float: left;}
#box1 {float: none;margin: 0 auto;background: url('../img/box1m.png') no-repeat scroll left top transparent;width: 269px;height: 400px}
#box2 {float: none;margin: 0 auto;width: 269px;background: url('../img/box2m.png') no-repeat scroll left top transparent;}
.supar{width: 100%;height: 320px;float: left;display: block;}
.text-box1 {margin-top: 10px}
.text-box2 {margin-top: 10px}
ul#product_list {
    width: 90%;
    float: left;
    margin-left: 5%;
}

#footer{display: block;float: left;
width: 100%;
margin-top: 50px;}
#category-name{width: 100%}

#s-menumob{display: block;}
.sf-menu {height: auto;}
.sf-menu li {width: 100%}
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
  background-position: 0px 0px; /* arrow hovers for modern browsers*/
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
  left:     0!important;
  top:      0px!important; /* match top ul list item height */
  z-index:    99!important;
  width:auto!important;
}
.social li img {
    width: 76px;
    margin-left: 0;
    height: auto;
}
ul.social {
    height: 50px;
  margin-left: calc(50% - 120px);
    float: left;
    width: 240px;
    margin-top: 0;
padding-top: 5px;
}
#social_block li {
  padding-left: 0!important;
}
.copyright {
    font-size: 15px;
    width: 260px;
    margin: 0px auto;
    height: 50px;
    font-family: 'bebas_neuebook';
    float: left;
    margin-left: calc(50% - 130px);
}
.breadcrumb {width: 100%}
h1 {padding: 4px}
#pb-left-column {
    float: left;
    width: 96%;
    margin-left: 2%;
}
#block-lft {
    float: left;
    margin-left: 0;
    background: none repeat scroll 0% 0% #F1F1F1;
    margin-top: 13px;
    width: 100%;
    padding-bottom: 70px;
}
#primary_block {
    width: 100%;
    margin: 15px auto;
}
#pb-right-column {
    float: left;
    width: 96%;
    margin-left: 2%;
}
#pb-right-column #image-block {
  width: 90%;
background: #F1F1F1;
padding: 0px;
height: auto;
margin-left: 5%;
padding: 20px 0;
}
#pb-left-column #tit h1 {font-size: 18px;padding: 5px 10px;margin-bottom: 10px;}
#product_reference {font-size: 12px}
#product_reference {font-size: 10px}
#pb-left-column #short_description_block {font-size: 14px}
#availability_statut {
    margin: 6%;
    width: 88%;
}
.content_prices #add_to_cart {
    position: relative;
    float: left;
    padding: 0px;
    margin: 0px 40px 20px 0px;
    width: 80%;
    margin-left: 10%;
}
#product_reference {
    margin: 0 40px;
    padding: 4px 10px;}
.content_prices #add_to_cart .exclusive{width: 100%; padding: 15px 10px;}
#reseau-soc {
    width: 88%;
    float: left;
    margin: 6%;
    border-top: 1px solid #1ABC9C;
}
.catpar{margin-top: 12px;display: block;}
.steppc{display: none;}
.stepmob{display: block;width: 100%;float:left;}

@font-face {
    font-family: "Flaticone";
    src: url("fonts/panier/flaticon.eot");
    src: url("fonts/panier/flaticon.eot#iefix") format("embedded-opentype"),
    url("fonts/panier/flaticon.woff") format("woff"),
    url("fonts/panier/flaticon.ttf") format("truetype"),
    url("fonts/panier/flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  
}.flaticon-black218:before {
        font-family: Flaticone;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
color: #fff;
margin: 0;float: none;
display: block;

    content: "\e000";
     font-size: 40px;
}
.flaticon-grocery6:before {
        font-family: Flaticone;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
color: #fff;
margin: 0;float: none;
display: block;

    content: "\e001";
    font-size: 40px;

}
.flaticon-logistics3:before {
        font-family: Flaticone;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
color: #fff;
margin: 0;float: none;
display: block;

    content: "\e002";
     font-size: 40px;
}
.flaticon-male12:before {
        font-family: Flaticone;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
color: #fff;
margin: 0;float: none;
display: block;

    content: "\e003";
     font-size: 40px;
}
.flaticon-ssl:before {
        font-family: Flaticone;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
color: #fff;
margin: 0;float: none;
display: block;

    content: "\e004";
     font-size: 40px;
}
ul.step li a{width: auto;}
ul.step{width: 100%}
ul.step li {
    height: 100%;
width: 15%;
background-size: 100% auto;
margin-right: 2%;
margin-left: 2%;
display: block;
}
ul.step li.step_current{
   background:transparent;
}
ul.step li.step_current.flatt{color:#19BD9B;}
.step_currenti:before {color:#19BD9B!important;margin-top: 12px}
.step_todoi:before {color:#DDDDDD!important;margin-top: 12px}
ul.step li { background:transparent;}
ul.step li.step_done{background:transparent;}
.step_donei:before{color:#2B7DE0}
ul.step li.step_current_end {background:transparent;}
.step_current_endi:before {color:#19BD9B!important;margin-top: 10px}
#order-detail-content {width: 100%;float: left;margin-left: 0}
.s_title_block a {font-size: 6px}
table#cart_summary td {padding: 2px;font-size: 6px;font-weight: normal;max-width: 30px}
table#cart_summary .cart_unit {
    width: auto;
    text-align: center;
}
.order_delivery .first_item {margin-left: 5%;margin-right: 0;margin-bottom: 20px}
.order_delivery .last_item{margin-left: 5%;margin-right: 0;float: left;margin-bottom: 20px;}
ul.address {width: 90%!important}
ul.step {height: auto;margin-bottom: 50px;}
.addresses ul.address {
   width: 90% !important;
margin-right: 0 !important;
margin-left: 5%;
}
#address_invoice {float: left;}
.address_add {float: right;}
#ordermsg .textarea textarea {width: 90%;margin-left: 5%;float: left;margin-bottom: 8px}
.address_select {
    border: 1px solid #CCC;
    width: 90%;
    height: 25px;
    margin-left: 5%;
}
.order_carrier_content {font-size: 9px}
label[for="id_address_delivery"], label[for="id_address_invoice"] {
    float: left;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 10px;
}
#ordermsg p.txt {
    float: left;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 10px;
}
.order_carrier_content {
    width: 90%;
    float: left;
    padding: 2%;
    margin-left: 2%;
    margin-bottom: 20px
}
.paiement_block {padding: 0}
.delivery_option_logo img{width: 90px}
#order .delivery_option label > table.resume td{padding-left: 0}
.delivery_options_address{width: 90%;float: left;margin-left: 4%}
#order .delivery_option label > table.resume {width: 100%}
.prodpan{display:block;width: 100%;float: left;height: 200px}
table#cart_summary th {padding: 14px 2px;}
table.std th{font-size: 8px;}
#total_price_container{max-width: 150px!important}
.payment_module {
    position: relative;
    text-transform: uppercase;
    width: 90%;
    height: auto;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 10px;
}
.cart_navigation .exclusive_large {
    float: left;
    margin-bottom: 10px
}
p{padding: 10px;}
#add_address fieldset {
width: 90%;
margin-left: 5%;
}
#add_address p.text input, #add_address p.password input, #add_address select, #add_address p.select input {width: 90%;}
.file-input input {
    margin-left: 5%;
}
#add_address p.select select {width: 93%}
#add_address p.textarea textarea {width: 90%}
.file-input textarea {margin-left: 5%}
.file-input select {margin-left: 5%}
#address p.inline-infos {width: 90%;margin-left: 5%!important}
#pb-right-column #views_block {
    margin: 0;
    width: 100%;
    float: left;
}
#thumbs_list {
    float: left;
    overflow: hidden;
    height: 221px;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px
}
.bloksearch{width: 90%;}
#identity .std p.checkbox input {margin: 0px 2px 0px 0px;}
#identity h3 {
    font-weight: normal;
    font-size: 13px;
    padding-left: 12px;
}
#centercol {width: 100%}
#leftcol {
    width: 90%;
margin: 5%;
}
#identity .std p.radio span {width: auto;}
#account-creation_form span.form_info, #account-creation_form p.inline-infos {margin: 5px 0px 0px 0 !important;}
.supp {
    background: url('../img/supp.png') no-repeat scroll center top transparent;
    width: 10px;
    height: 20px;
    background-size: 100% 100%;
}
.cart_total_price .total_price_container p {padding: 2px}
table#cart_summary .cart_total {
    width: 40px;
    text-align: center;
}
.cart_total_price .total_price_container span {
    display: block;
    padding: 2px;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
}
.cart_quantity .cart_quantity_button {margin-left: 0}
.cart_quantity_up img, .cart_quantity_down img{width: 15px;
height: 15px;}
.cart_quantity .cart_quantity_input {width: 10px;font-size: 12px}
.payment_module img{width: 100%;height: auto;}
.payment_module span {width: 100%}
.exclusive_disabled{width: 100%!important}
.catpar a{text-align: center;background-color:  #19BC9A!important;width: 100%;padding: 0}
.nyroModalCont{
    width: 80%;
    left: auto;
    float: left;
}
table.std th, table.table_block th {padding: 14px 2px;}
table.std td, table.table_block td {padding: 2px;font-size: 8px}
.oleacombitd{width: 60px!important}
.foqty_btn_updateqty_up, .foqty_btn_updateqty_down {padding: 2px 0px 1px 1px;}
.oleacombiqty {
    width: 8px;
}
.oleaqty_btnadd img {
    width: 15px!important;
    height: 15px!important;
}
.foqty_total_info{padding: 4px!important}
#li-smenu9 li a, #li-smenu8 li a, #li-smenu7 li a, #li-smenu6 li a {
    padding: 0!important;
}
}








