#product_list {
	list-style-type: none;
	width:1200px;
	margin: 40px auto;
}
#product_list li {
	/*margin-bottom: 14px;*/
	padding: 0px 8px;
	 width: 297px;
	 float: left;

}

.quat{
margin-left: 150px;
}

#product_list li a {
	/*color: #374853;*/
	text-decoration: none
}

#product_list li .left_block {
	float:left;
	padding-top:58px;
	width:15px
}
#product_list li .left_block  .compare label {display:none;}

#product_list li p.compare input {
	vertical-align: text-bottom
}
#product_list li .center_block {
float: left;
width: 297px;/* 356 */

}
#product_list a.product_img_link {
	overflow:hidden;
	position:relative;
	display:block;
	margin: 0px auto;
	width: 100%;
	padding: 53px 0px;
}
#product_list a.product_img_link img {
display: block;
margin-top: 30px;
}
#product_list li span.new {
	display: block;
	position: absolute;
	top: 15px;
	right:-30px;
	padding: 1px 4px;
	width: 101px;
	font-size:10px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform:rotate(45deg);
	background-color: #990000;
	transform: rotate(45deg); 
	-ms-transform: rotate(45deg);			/* Newer browsers */
}

.ie8 #product_list li span.new{top:111px;right:0;width:94%}
.ie7 #product_list li span.new {top:111px;right:0;width:94%}
#product_list li h3 {
	padding:0 0 10px 0;
	font-size:13px;
	color:#000
}
#product_list li a {
    /*color: #000;*/
	text-decoration: none;
}
#product_list li p.product_desc {
	overflow: hidden;
	padding:0;
	line-height:16px;
}
#product_list li p.product_desc,
#product_list li p.product_desc a {
	/*color:#666;*/
}

#product_list li .right_block {
position:relative;
float: left;
width: 145px;
text-align: right
}
#product_list li .discount, ul#product_list li .on_sale, ul#product_list li .online_only {
	display: block;
	font-weight: bold;
	color: #990000;
	text-transform: uppercase
}
#product_list li .discount {
	position:absolute;
	top:0;
	right:0;
	display: inline-block;
	font-weight: bold;
	padding: 1px 5px;
	font-size: 10px;
	color: #fff;
	text-transform: uppercase;
	background: none repeat scroll 0 0 #9B0000
}

#product_list li .online_only {
	margin:0 0 10px 0
}
#product_list li .content_price {
	margin:26px 0 15px 0;
}
#product_list li .price {
	display: block;
	margin-bottom: 15px;
	font-weight:bold;
	font-size: 18px;
	color:#990000
}
#product_list li span.availability {
	color: #488C40
}
#product_list li span.warning_inline {
	color: red
}
#product_list li .ajax_add_to_cart_button,#product_list li .ajax_add_to_cart_button2 {
	padding-left: 6px
}
/*#product_list li .ajax_add_to_cart_button span {
	display: block;
	position: absolute;
	top: -1px;
	left: -12px;
	height: 26px;
	width: 26px;
	background: url(../img/icon/pict_add_cart.png) no-repeat 0 0 transparent
}*/
#product_list li .lnk_view {
	display: block;
	margin-top:15px;
	padding:0 10px;
	border:none;
	font-weight:bold;
	color:#0088CC;
	background:url(../img/arrow_right_1.png) no-repeat 100% 4px transparent
}
#product_list li .lnk_view:hover {text-decoration:underline}


.ajax_block_product .products:hover  {
/*z-index: 99;*/
/* background:url("../img/hover.png") no-repeat;*/
}

.ajax_block_product .products:hover .image-res {
/*opacity: 0;*/
}/*
.ajax_block_product .products:hover .list-title a {
display: none !important; visibility: hidden; color:#2b7de0;
}*/
 div#Vhover{
position: absolute;
text-align: center;   
display: none;
width: 295px;
float: left;
height: 250px;


}
.ajax_block_product .products:hover #divhover{
    display: block !important;
}


.ajax_block_product #divhover{
    position: absolute;
    text-align: center;   
    margin: -100px 20px 20px 20px;  
    display: none;

}

#category-name{
	width: 1200px; 
	margin: 0 auto;
	text-transform: uppercase;
	font-size: 22px;
	color: #14bf9f;
	text-align: left;
	padding: 20px 0;
	font-family: 'nexa_light';
}

.ajax_block_product #divhover .product-tit a{
    font-size: 25px; 
    color: #ffffff;
    font-family: 'nexa_bold';
    text-transform: uppercase;
    text-decoration: none;
    z-index: 99999;

}

.ajax_block_product #divhover .product_dc{
color: #fff; 
font-size: 14px; 
line-height: 20px;
font-family: 'nexa_light';
height: 100px;
width: 255px;
cursor: pointer;
text-align: center;
margin-top: 10px;
padding: 10px;
z-index: 99999;
}









/*
#Vhover .product_dc{
color: #fff; 
font-size: 14px; 
line-height: 20px;
font-family: 'nexa_light';
height: 100px;
width: 255px;
cursor: pointer;
text-align: center;
margin-top: 10px;
padding: 10px;
z-index: 9999;
}
#Vhover .product_dc a{
color: #fff; 
font-size: 14px; 
line-height: 20px;
font-family: 'nexa_light';
height: 100px;
cursor: pointer;
}*/

.ajax_block_product .product-tit{
color: #fff; 
font-size: 18px; 
line-height: 20px;
font-family: 'nexa_bold';
margin-top: 70px;
}

.ajax_block_product .product-tit a{ color: #fff;}



/*********************************************** EUVAPOR *********************************************************/
.products{ 
background: url("../img/bg.png") no-repeat;  
width:297px; 
height:342px; 
float: left;
}

.images-res{
width:124px;
margin:0 auto;
height:124px;
padding-top:103px;
}

.list-button{ 
background: url("../img/bg-price.png") no-repeat; 
height: 85px; 
float: left; 
width: 295px; 
margin-top: -2px;
}

#pp{
background: url("../img/panier.png") no-repeat;
height: 27px; 
width: 27px;
margin:10px auto; 
z-index: 9999;
}

.ajax-add-cart{
	margin: 0px auto;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    padding: 15px 6px;
    width: 280px;
    position: absolute;
    text-transform: uppercase;
     font-family: 'nexa_bold';
    z-index: 1;
    text-align: center;
}

a.button.ajax_add_to_cart_button, a.button.ajax_add_to_cart_button2{
	margin: 0px auto;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    padding: 15px 6px;
    width: 280px;
    position: absolute;
    text-transform: uppercase;
     font-family: 'nexa_bold';
    z-index: 1;
    background: none;
    text-align: center;
}
.price-list{ 
	position: absolute; 
	z-index: 999; 
	width: 113px; 
	height: 113px;
	margin-left: 170px;
	margin-top: 10px;
	background: url("../img/bg-price2.png") no-repeat;
}

.list-title a{ color: #2b7de0!important;}
.list-title{
position: absolute;
color: #2b7de0;
width: 150px;
font-family: 'nexa_bold';
font-size: 12px;
text-transform: uppercase;
-webkit-transform: rotate(-30deg);
-moz-transform: rotate(-30deg);
-o-transform: rotate(-30deg);
-ms-transform: rotate(-30deg);
transform: rotate(-30deg);
margin-top: 50px;
}

.price-prod{
color: #ffffff;
font-family: 'bebas_neuebook';
font-size: 22px;
width: 113px; height: 113px;
-webkit-transform: rotate(30deg);
-moz-transform: rotate(30deg);
-o-transform: rotate(30deg);
-ms-transform: rotate(30deg);
transform: rotate(30deg);
position: absolute;
top:40px;
right:15px;
text-align: center;
}


    