
<!--div class="lof-featured {$theme}">
	<div class="featured-widget block">
		<div class="list-featured responsive">
			<ul id="loffeatured-{$moduleId}" class="featured-news clearfix">
				{counter start=0 assign=compteur}
				{foreach from=$listFeature item=item}{counter}
				{if $compteur <= 9}
				<li {if $compteur == 4 } class="quatre"{/if} >
					{if $show_price eq '1'}
						<p class="entry-price price_container "><span class="price lof-price">{$item.price}</span></p>
					{/if}	

					{if $show_title eq '1'}
						<div class="entry-title">
								<a href="{$item.link}" target="{$target}" title="{$item.name}">{$item.name|truncate:25}</a>
						</div>
					{/if}

					{if (($item.reduction) != ($item.price)) AND ($priceSpecial  eq '1')}
						<!--div class="entry-price-discount">{displayWtPrice p=$item.price_without_reduction}</div>
					{/if}
					<div class="product lof">
					<div class="featured-item box-hover clearfix">
						<div class="thumb img-product">
                         	<a href="{$item.link}" title="{$item.name|escape:html:'UTF-8'}" class="product_image">
								<img class="responsive-img" src="{$item.mainImge}" alt="{$item.name}"/>
							</a>
                        </div>
                           {if (($item.quantity > 0 OR $item.allow_oosp))}
                           <div id="lof-dd" class="lof-dd{$item.id_product}">
							        	{l s='Product added'}                                 
							</div>
							{/if}
				        <div id="divhover" >
				        		{if $show_title eq '1'}
						<div class="entry-title2">
								<a href="{$item.link}" target="{$target}" title="{$item.name}">{$item.name|truncate:15}</a>
						</div>
					{/if}
							{if $show_desc eq '1'}
								<p class="product_desc">{$item.description}</p>
							{/if}
                        </div>
                           
                            <div class="entry-content lof-button">&nbsp;
								 {if (($item.quantity > 0 OR $item.allow_oosp))}

									<a class="lof-add-cart ajax_add_to_cart_button" rel="ajax_id_product_{$item.id_product}" href="{$site_url}cart.php?add&amp;id_product={$item.id_product}&amp;token={$token}"><span>{l s='Ajouter au panier' mod='loffeatured'}</span> 
										<div id="ppn">&nbsp;</div></a>
								
								{else}
									<span class="lof-add-cart">{l s='Ajouter au panier' mod='loffeatured'}
									<div id="ppn">&nbsp;</div></span>
								{/if} 
							</div>
						</div>
					</div>				
				</li>
				{/if}
				{/foreach}
			</ul>		
			<div class="clear"></div>
			
		</div>
	</div>
</div-->
 
