/* block CONTACT ******************************************************************************* */
#contact_block .block_content {
	padding:20px 0 15px 0;
}

#contact_block  {
width: 900px;
float: left;
}

#contact_block .title_block,   #contact_block h4 {
	padding:6px 11px;
	font-size: 12px;
	line-height: auto
}
#contact_block .tel {
	height: 72px;
	width: 350px;
	float: left;
	background:top left url(images/tel.png) no-repeat;
}
#contact_block .number{
	padding-top:25px;
	font-family: 'bebas_neuebook'; 
	font-size: 50px;
	text-align: right;
	width: 350px;
	height: 72px;
	}
#contact_block .mail {
width: 420px;
height: 72px;
float: right;
	background: url(images/msg.png) no-repeat 0 0 transparent
}

#contact_block a {
	display:block;
	margin-left:60px;
	font-family: 'bebas_neuebook'; 
	font-size: 40px;
	color:#fff;
	padding-top: 25px;
	text-align: right;
	text-transform: uppercase;
	/*text-shadow:0 -1px 0 #000;
	text-transform:uppercase;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	/*background:url(images/bloc_contact_a_bg.png) repeat-x 0 0 #000*/
}
#contact_block a:hover {text-decoration:none}

#contact_block .label {display: none}
