/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/** CHECKOUT BY STEP */
/**********************************
HOME PAGE 4
**********************************/
/* header-top ********************/
#header-main {
  background: #F3F3F3;
  border-bottom: 1px solid #dddddd;
}

.menu-static {
  position: static;
}
.menu-static .leo-megamenu {
  position: static;
}

#leo-megamenu .navbar-nav > li > a {
  padding: 31px 8px;
}

#cart .heading {
  margin: 22px 10px 31px 10px;
}
.rtl #cart .heading {
  margin: 22px 10px 31px 10px;
}

/* product ************************/
.product-block .price {
  font-size: 14px;
}

/* footer ************************/
#footer {
  background-color: #FFF;
}
#footer #newsletter_block_left {
  margin: 0;
  position: fixed;
  bottom: 0;
  z-index: 999;
  min-width: 260px;
  background-color: black;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  right: 0;
}
.rtl #footer #newsletter_block_left {
  left: 0;
  right: auto;
}
#footer #newsletter_block_left .title_block {
  color: white;
  display: block;
  font-size: 16px;
  line-height: 40px;
  padding: 0;
  cursor: pointer;
  position: relative;
  font-family: "Lato", sans-serif;
}
#footer #newsletter_block_left .title_block:before {
  position: absolute;
  content: "\f00d";
  top: -20px;
  width: 40px;
  height: 40px;
  font-family: "FontAwesome";
  visibility: hidden;
  right: -20px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(260px, 0);
  -ms-transform: translate(260px, 0);
  transform: translate(260px, 0);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.rtl #footer #newsletter_block_left .title_block:before {
  left: -20px;
  right: auto;
}
#footer #newsletter_block_left .title_block .fa {
  padding: 12px 13px;
  background-color: #c1af8a;
  visibility: visible;
  position: absolute;
  left: 0;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  transform: translate(0px, 0);
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.rtl #footer #newsletter_block_left .title_block .fa {
  right: 0;
  left: auto;
}
#footer #newsletter_block_left form input[type="text"] {
  width: 220px;
}
#footer #newsletter_block_left form .btn {
  color: white;
  background-color: #333;
}
#footer #newsletter_block_left .block_content {
  display: none;
  margin-top: 10px;
}
#footer #newsletter_block_left.active {
  padding: 20px;
}
#footer #newsletter_block_left.active .title_block {
  cursor: normal;
}
#footer #newsletter_block_left.active .title_block .fa {
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-transform: translate(260px, 0);
  -ms-transform: translate(260px, 0);
  transform: translate(260px, 0);
}
#footer #newsletter_block_left.active .title_block:before {
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  transform: translate(0px, 0);
}

/* Appagebuilder *****************/
.testimonial .title_block {
  color: white;
}
.testimonial .block_carousel {
  padding-top: 100px;
}
.testimonial .block_carousel:after {
  position: absolute;
  top: 0;
  content: "\f10d";
  font-family: "FontAwesome";
  font-size: 40px;
  color: white;
  left: 0;
  right: 0;
}
.testimonial .descript,
.testimonial .text-centered {
  color: white;
  font-weight: 100;
  font-family: "Lato", sans-serif;
}
.testimonial .author {
  color: #999;
  font-size: 16px;
}

.box-html .ApImage {
  margin-bottom: 0;
}
.box-html .ApImage a {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.box-html .ApImage img {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.box-html .ApImage:hover .image_description h3 {
  letter-spacing: 2px;
}
.box-html .ApImage:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.box-html .image_description {
  margin: 5.5em 0 3.3em;
  text-align: center;
  width: 100%;
  height: 120px;
  padding: 0;
}
.box-html .image_description h3 {
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  position: relative;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.box-html .image_description h3:before {
  position: absolute;
  content: "";
  width: 35px;
  height: 1px;
  top: 35px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: black;
}
.box-html .image_description p {
  font-family: 'Crimson Text', serif;
  font-weight: 700;
  font-size: 18px;
  font-style: italic;
  color: black;
}

.ApProductCarousel .title_block {
  font-weight: 400;
  margin-bottom: 25px;
}

.ApProductList {
  padding: 70px 0 10px;
}
.ApProductList .title_block {
  font-size: 24px;
}
.ApProductList .title_block span {
  display: inline-block;
  position: relative;
}
.ApProductList .title_block span:before, .ApProductList .title_block span:after {
  content: "";
  position: absolute;
  width: 35px;
  height: 4px;
  top: 0;
  bottom: 0;
  margin: auto;
  left: -45px;
  border-top: 2px solid black;
  border-bottom: 1px solid black;
}
.ApProductList .title_block span:after {
  left: auto;
  right: -45px;
}
.ApProductList .product-block {
  text-align: center;
}
.ApProductList .product-block .name {
  height: 45px;
  line-height: 22px;
  overflow: hidden;
  text-transform: none;
}

.owl-theme .owl-controls .owl-buttons {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.owl-theme .owl-controls .owl-buttons div {
  display: inline-block;
  position: initial;
  margin: 0 3px;
  width: 30px;
  height: 30px;
  line-height: 23px;
  color: black;
  font-weight: 400;
  font-size: 28px;
  border: 1px solid black;
  background-color: white;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

.manufacturers_block .owl-theme .owl-controls .owl-buttons div {
  top: 38%;
  left: 9px;
}
.rtl .manufacturers_block .owl-theme .owl-controls .owl-buttons div {
  right: 9px;
  left: auto;
}
.manufacturers_block .owl-theme .owl-controls .owl-buttons div.owl-next {
  right: 9px;
  left: inherit;
}

/* page element ******************/
.media .icon-box {
  width: 86px;
  height: 86px;
  line-height: 83px;
  margin: 30px auto;
  background-color: #eeeeee;
  text-align: center;
  border: 3px solid transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.media h4 {
  font-size: 16px;
  font-weight: 600;
  font-family: "Lato", sans-serif;
}

.box-services1 .media .icon-box {
  color: white;
  margin: 0 auto;
  background-color: transparent;
  border: 3px solid #c1af8a;
  margin-right: 20px;
}
.rtl .box-services1 .media .icon-box {
  margin-left: 20px;
  margin-right: inherit;
}
.box-services1 .media h4 {
  margin-top: 24px;
}
.box-services1 .media h4 a {
  color: white;
}
.box-services1 .media h4 a:hover {
  color: #e24647;
}
.box-services1 .link-view {
  margin-top: 30px;
}
.box-services1 .link-view a {
  color: white;
  padding: 10px 30px;
  background-color: #c1af8a;
  text-transform: uppercase;
  font-weight: 600;
}
.box-services1 .link-view a:hover {
  background-color: #e24647;
}
.box-services1 .block {
  margin-bottom: 0;
}

.effect-banner1 h2, .effect-banner1 p {
  color: white;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}
.effect-banner1 h2 {
  font-size: 60px;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  margin: 50px 0 70px;
  position: relative;
}
.effect-banner1 h2:before, .effect-banner1 h2:after {
  position: absolute;
  content: "";
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -38px;
  width: 80px;
  height: 1px;
  background-color: #FFF;
  -webkit-transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}
.effect-banner1 h2 a {
  color: white;
}
.effect-banner1 h2 a:hover {
  color: #e24647;
}
.effect-banner1 p {
  font-size: 20px;
}
.effect-banner1:hover h2:before {
  -webkit-transform: translate3d(0, -50%, 0) rotate(45deg);
  -moz-transform: translate3d(0, -50%, 0) rotate(45deg);
  -ms-transform: translate3d(0, -50%, 0) rotate(45deg);
  -o-transform: translate3d(0, -50%, 0) rotate(45deg);
}
.effect-banner1:hover h2:after {
  -webkit-transform: translate3d(0, -50%, 0) rotate(-45deg);
  -moz-transform: translate3d(0, -50%, 0) rotate(-45deg);
  -ms-transform: translate3d(0, -50%, 0) rotate(-45deg);
  -o-transform: translate3d(0, -50%, 0) rotate(-45deg);
}
.effect-banner1:hover h2, .effect-banner1:hover p {
  letter-spacing: 2px;
}

.fs-style3 {
  padding-top: 70px;
  padding-bottom: 30px;
}

/* Responsive ****************************/
@media (min-width: 1200px) {
  .fs-style2:before,
  .fs-style3:before {
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
}
@media (max-width: 1024px) {
  .owl-theme .owl-controls .owl-buttons div {
    left: 46%;
  }

  .owl-theme .owl-controls .owl-buttons div.owl-next {
    right: 46%;
  }
}
@media (max-width: 991px) {
  .bannercontainer {
    margin: 0 !important;
  }

  .border-right {
    border: none;
  }

  #footer .footer-block {
    min-height: 230px;
  }

  .owl-theme .owl-controls .owl-buttons div {
    left: 45%;
  }

  .owl-theme .owl-controls .owl-buttons div.owl-next {
    right: 45%;
  }
}
@media (max-width: 767px) {
  #footer .footer-block {
    min-height: auto;
    margin-bottom: 0;
  }

  .owl-theme .owl-controls .owl-buttons div {
    left: 44%;
  }

  .owl-theme .owl-controls .owl-buttons div.owl-next {
    right: 44%;
  }
}
@media (max-width: 480px) {
  .owl-theme .owl-controls .owl-buttons div {
    left: 42%;
  }

  .owl-theme .owl-controls .owl-buttons div.owl-next {
    right: 42%;
  }
}
@media (max-width: 479px) {
  #footer #newsletter_block_left {
    min-width: 320px;
  }

  .owl-theme .owl-controls .owl-buttons div {
    left: 39%;
  }

  .owl-theme .owl-controls .owl-buttons div.owl-next {
    right: 39%;
  }
}
/* RTL *****************/
.rtl #layer_cart {
  right: inherit;
}
