/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/** CHECKOUT BY STEP */
/**********************************
HOME PAGE 4
**********************************/
body {
  background-color: #f3f3f3;
}

#page {
  background-color: #FFF;
}

#cart .heading {
  margin: 22px 10px 31px 10px;
}
.rtl #cart .heading {
  margin: 22px 10px 31px 10px;
}

/* header-top ********************/
.menu-static {
  position: static;
}
.menu-static .leo-megamenu {
  position: static;
}

#leo-megamenu .navbar-nav > li > a {
  padding: 31px 8px;
}

/* footer ************************/
#footer {
  background-color: #FFF;
}
#footer #newsletter_block_left {
  margin: 0;
  position: fixed;
  bottom: 0;
  z-index: 999;
  min-width: 260px;
  background-color: black;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  right: 0;
}
.rtl #footer #newsletter_block_left {
  left: 0;
  right: auto;
}
#footer #newsletter_block_left .title_block {
  color: white;
  display: block;
  font-size: 16px;
  line-height: 40px;
  padding: 0;
  cursor: pointer;
  position: relative;
  font-family: "Lato", sans-serif;
}
#footer #newsletter_block_left .title_block:before {
  position: absolute;
  content: "\f00d";
  top: -20px;
  width: 40px;
  height: 40px;
  font-family: "FontAwesome";
  visibility: hidden;
  right: -20px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(260px, 0);
  -ms-transform: translate(260px, 0);
  transform: translate(260px, 0);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.rtl #footer #newsletter_block_left .title_block:before {
  left: -20px;
  right: auto;
}
#footer #newsletter_block_left .title_block .fa {
  padding: 12px 13px;
  background-color: #c1af8a;
  visibility: visible;
  position: absolute;
  left: 0;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  transform: translate(0px, 0);
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.rtl #footer #newsletter_block_left .title_block .fa {
  right: 0;
  left: auto;
}
#footer #newsletter_block_left form input[type="text"] {
  width: 220px;
}
#footer #newsletter_block_left form .btn {
  color: white;
  background-color: #333;
}
#footer #newsletter_block_left .block_content {
  display: none;
  margin-top: 10px;
}
#footer #newsletter_block_left.active {
  padding: 20px;
}
#footer #newsletter_block_left.active .title_block {
  cursor: normal;
}
#footer #newsletter_block_left.active .title_block .fa {
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-transform: translate(260px, 0);
  -ms-transform: translate(260px, 0);
  transform: translate(260px, 0);
}
#footer #newsletter_block_left.active .title_block:before {
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  transform: translate(0px, 0);
}

/* Appagebuilder *****************/
.widget-category_image {
  padding: 50px 0 20px;
}
.widget-category_image .cate_content {
  overflow: hidden;
  margin-bottom: 40px;
}
.widget-category_image .cate_content .title_block {
  margin: 10px 0;
}
.widget-category_image .cate_content .title_block a {
  font-size: 16px;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  color: black;
  position: relative;
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.widget-category_image .cate_content .title_block a:hover {
  color: #e24647;
}
.widget-category_image .cate_content .title_block a:before, .widget-category_image .cate_content .title_block a:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: #999;
  top: 0px;
  bottom: 0px;
  margin: auto;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
  filter: alpha(opacity=0);
}
.widget-category_image .cate_content .title_block a:before {
  left: -30px;
  -webkit-transform: translate(-10px, 0px);
  -ms-transform: translate(-10px, 0px);
  transform: translate(-10px, 0px);
}
.widget-category_image .cate_content .title_block a:after {
  right: -30px;
  -webkit-transform: translate(10px, 0px);
  -ms-transform: translate(10px, 0px);
  transform: translate(10px, 0px);
}
.widget-category_image .cate_content > span {
  color: #666;
  height: 20px;
  text-transform: uppercase;
  display: inline-block;
}
.widget-category_image .cate_content img {
  display: inline-block;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}
.widget-category_image .cate_content:hover .title_block a {
  letter-spacing: 2px;
  color: #e24647;
}
.widget-category_image .cate_content:hover .title_block a:before, .widget-category_image .cate_content:hover .title_block a:after {
  opacity: 1;
  filter: alpha(opacity=100);
}
.widget-category_image .cate_content:hover .title_block a:before {
  -webkit-transform: translate(-20px, 0px);
  -ms-transform: translate(-20px, 0px);
  transform: translate(-20px, 0px);
}
.widget-category_image .cate_content:hover .title_block a:after {
  -webkit-transform: translate(20px, 0px);
  -ms-transform: translate(20px, 0px);
  transform: translate(20px, 0px);
}
.widget-category_image .cate_content:hover img {
  opacity: 0.6;
  filter: alpha(opacity=60);
  -webkit-transform: scale3d(1.1, 1.1, 1);
  -moz-transform: scale3d(1.1, 1.1, 1);
  -ms-transform: scale3d(1.1, 1.1, 1);
  -o-transform: scale3d(1.1, 1.1, 1);
}

/* page element ******************/
.media .icon-box {
  width: 86px;
  height: 86px;
  line-height: 83px;
  margin: 30px auto;
  background-color: #eeeeee;
  text-align: center;
  border: 3px solid transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.media h4 {
  font-size: 16px;
  font-weight: 600;
  font-family: "Lato", sans-serif;
}

.box-services1 .media .icon-box {
  color: white;
  margin: 0 auto;
  background-color: transparent;
  border: 3px solid #c1af8a;
  margin-right: 20px;
}
.rtl .box-services1 .media .icon-box {
  margin-left: 20px;
  margin-right: inherit;
}
.box-services1 .media .icon-box:hover {
  color: white;
}
.box-services1 .media h4 {
  margin-top: 24px;
  color: white;
}
.box-services1 .media h4 a {
  color: white;
}
.box-services1 .media h4 a:hover {
  color: #e24647;
}
.box-services1 .media p {
  color: #aaa;
}
.box-services1 .link-view {
  margin-top: 33px;
}
.box-services1 .link-view a {
  color: white;
  padding: 15px 30px;
  background-color: #c1af8a;
  text-transform: uppercase;
  font-weight: 600;
}
.box-services1 .link-view a:hover {
  background-color: #e24647;
}
.box-services1 .block {
  margin-bottom: 0;
}

.effect-banner1 h2, .effect-banner1 p {
  color: white;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}
.effect-banner1 h2 {
  font-size: 60px;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  margin: 50px 0 70px;
  position: relative;
}
.effect-banner1 h2:before, .effect-banner1 h2:after {
  position: absolute;
  content: "";
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -38px;
  width: 80px;
  height: 1px;
  background-color: #FFF;
  -webkit-transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}
.effect-banner1 h2 a {
  color: white;
}
.effect-banner1 h2 a:hover {
  color: #e24647;
}
.effect-banner1 p {
  font-size: 20px;
}
.effect-banner1:hover h2:before {
  -webkit-transform: translate3d(0, -50%, 0) rotate(45deg);
  -moz-transform: translate3d(0, -50%, 0) rotate(45deg);
  -ms-transform: translate3d(0, -50%, 0) rotate(45deg);
  -o-transform: translate3d(0, -50%, 0) rotate(45deg);
}
.effect-banner1:hover h2:after {
  -webkit-transform: translate3d(0, -50%, 0) rotate(-45deg);
  -moz-transform: translate3d(0, -50%, 0) rotate(-45deg);
  -ms-transform: translate3d(0, -50%, 0) rotate(-45deg);
  -o-transform: translate3d(0, -50%, 0) rotate(-45deg);
}
.effect-banner1:hover h2, .effect-banner1:hover p {
  letter-spacing: 2px;
}

/* forms ****************************/
.fs-style4:before {
  background-color: #f3f3f3;
}

/* Responsive ****************************/
@media (min-width: 1200px) {
  .fs-style2:before {
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
}
@media (max-width: 991px) {
  .box-services1 .link-view {
    float: none !important;
    text-align: center;
  }

  #footer .footer-block {
    min-height: 230px;
  }
}
@media (max-width: 767px) {
  #footer .footer-block {
    min-height: auto;
  }
}
@media (max-width: 479px) {
  #footer #newsletter_block_left {
    min-width: 320px;
  }
}
/* skin *****************************************/
.brown #footer .title_block a:hover {
  color: #8c817a;
}
.brown .effect-banner1 h2 a:hover {
  color: #8c817a;
}
.brown .box-services1 .media h4 a:hover {
  color: #8c817a;
}
.brown .box-services1 .link-view a:hover {
  background-color: #8c817a;
}
.brown .widget-category_image .cate_content .title_block a:hover {
  color: #8c817a;
}
.brown .widget-category_image .cate_content:hover .title_block a {
  color: #8c817a;
}
.brown .ApHtml .media h4:hover,
.brown .ApHtml .media a:hover,
.brown .ApHtml .media .icon-box:hover,
.brown .ApRawHtml .media h4:hover,
.brown .ApRawHtml .media a:hover,
.brown .ApRawHtml .media .icon-box:hover {
  color: #8c817a;
}

.orange #footer .title_block a:hover {
  color: #f36611;
}
.orange .effect-banner1 h2 a:hover {
  color: #f36611;
}
.orange .box-services1 .media h4 a:hover {
  color: #f36611;
}
.orange .box-services1 .link-view a:hover {
  background-color: #f36611;
}
.orange .widget-category_image .cate_content .title_block a:hover {
  color: #f36611;
}
.orange .widget-category_image .cate_content:hover .title_block a {
  color: #f36611;
}
.orange .ApHtml .media h4:hover,
.orange .ApHtml .media a:hover,
.orange .ApHtml .media .icon-box:hover,
.orange .ApRawHtml .media h4:hover,
.orange .ApRawHtml .media a:hover,
.orange .ApRawHtml .media .icon-box:hover {
  color: #f36611;
}

/* RTL *****************/
.rtl #layer_cart {
  right: inherit;
}
