div.addresses {
   position:relative;
   padding:15px;
   border:1px solid #ccc;
	font-size:12px;
   background:#f8f8f8
}

ul.address {
   list-style-type:none;
   float:left;
   position:relative;
   background: #dddddd;
   padding-bottom: 10px;
   float: left;
   width:518px !important
}
#address_delivery {margin-right:35px;}
#address_invoice {float: right;}
#delivery_address {margin-right:65px;}

ul.address li {
	padding:0 15px;
	font-weight:bold;
	line-height:18px;
	text-transform:uppercase;
	color: #3b3b3b;
}

ul.address li.address_title {
   height: 29px;
   font-weight: bold;
   line-height:29px;
   color:#fff;
   background: #19bd9b;
    /* text-shadow:0 1px 0 #666;
  background:url(../img/bg_table_th.png) repeat-x 0 -10px #999*/
}
ul.address .address_alias {
	font-weight: normal;
	text-transform: none;
}
ul.address >li:first-child + li {
	margin-top:8px
}

ul.address  li.address_update {
	margin-top:20px
}
ul.address  li.address_update,
ul.address li.address_delete {
	font-size:11px;
   text-transform:none
}
.address_add {
   padding:20px 0
}
.address_select {
	border:1px solid #ccc;
	width: 300px;
	height: 25px;
}
label[for=id_address_delivery], label[for=id_address_invoice] {
	float: left;
	width: 225px;
}
.addressesAreEquals label {
	margin-left: 5px;
}
.addressesAreEquals input {
	float: left;
}
p.address_delivery, p.addressesAreEquals {
	padding-bottom: 14px
}
/* PAGE ADRESSES ******************************************************************************* */
.addresses ul.address {
   list-style-type:none;
   float:left;
   position:relative;
	margin:30px 30px 0 0;
   width:518px !important;
   background: #dddddd;
}
.addresses ul.address.alternate_item,
.addresses ul.address.last_item {margin-right:0}
.addresses ul.address li {
	padding:0 15px;
	font-weight:bold;
	line-height:18px;
	text-transform:uppercase
}
.addresses ul.address .address_title {
	margin-bottom:5px;
	height: 29px;
   font-weight: bold;
   line-height:29px;
   color:#fff;
   background: #19bd9b;
}
.addresses ul.address .address_update {margin-top:15px}
.addresses ul.address .address_update,
.addresses ul.address .address_delete {
	font-size:11px;
   text-transform:none
}
.address_update a{
	color: #2b7de0;
}

