
#idTab4 { width: 1200px; margin: 0 auto;}
#idTab4  h5{ font: 14px 'nexa_bold'; text-transform: uppercase;}

.clearout {
height:20px;
clear:both;
}

#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
display:none;
}

.nbs-flexisel-container {
    position:relative;
    max-width:100%;
    margin-top: 25px
}
.nbs-flexisel-ul {
    position:relative;
    width:9999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}
.nbs-flexisel-item a{background: no-repeat!important;}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
.nbs-flexisel-inner {
 overflow:hidden;
 float: left;
    width:99% !important;
    background:#F1F1F1;
    
    border:1px solid #F1F1F1;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;

}

#idTab4 { width: 100%; float: left; margin-top: 20px;}

    }
@media only screen  and (min-width : 280px) and (max-width: 640px) {
    .nbs-flexisel-inner {
 overflow:hidden;
 float: left;
    width:99% !important;
    background:#F1F1F1;
    
    border:1px solid #F1F1F1;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;

}
.nbs-flexisel-item img {
      background-size: 100% 100% !important;
      width: 60% !important;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;


}

#idTab4 { width: 100%; float: left; margin-top: 20px;}
    }

.nbs-flexisel-inner {
    overflow:hidden;
    margin: 0 auto;
    width:1200px;
    background:#F1F1F1;

    border:1px solid #F1F1F1;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;  
}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
    line-height:0px;
}
.nbs-flexisel-item img {
      
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;


}
li a.product_image {margin-left: 0}
/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 22px;
    height: 22px; 
    position: absolute;
    cursor: pointer;
    z-index: 100;
    opacity: 0.5;

}

.nbs-flexisel-nav-left {
    left: 10px;
    background: url(../img/button-previous.png) no-repeat;
}

.nbs-flexisel-nav-right {
    right: 5px;
    background: url(../img/button-next.png) no-repeat;
}