#history #left_column {display:none}
#history #center_column{width:100%}
#history #center_column h1{margin-top:20px; color: #2b7de0;}
#history #center_column .title_block {
	margin:20px 0;
	padding:15px 20px;
	background:#ccc;
	color: #fff;
}
#history #center_column .title_block input {
	position: relative;
	margin-top: 40px;
	
	float:right;
}
.title_block input{
	margin-left: 20px;
}

.info-order {
	margin-bottom:20px;
}
.info-order p {padding-bottom:10px}
.info-order p .icon {
	position:relative;
	top:2px;
	left:0
}
#order-list {
	margin-bottom:20px;
	width:100%;
	border:1px solid #999;
	border-bottom:none
}
#order-list  th {
	padding:14px 12px;
	color:#fff;
	text-transform:uppercase;
	background:#19bd9b;
}
#order-list tr.alternate_item {background-color: #dddddd}
#order-list td {
	padding:12px;
	border-right:1px solid #e9e9e9;
	border-bottom:1px solid #e9e9e9;
	font-weight:bold;
	font-size:12px;
	vertical-align:top
}
#order-list td .price, #order-detail-content tbody .price {
	white-space: nowrap;
}
#order-list td.history_detail {border-right:none;}

#order-list .last_item td {border-bottom:1px solid #999}

.adresses_bloc {margin-bottom:20px}
.adresses_bloc .item {margin-right:164px}

.detail_step_by_step {width:100%}
.detail_step_by_step tr.last_item td {border-bottom:1px solid #999}

#order-detail-content table {width:100%}
#order-detail-content table .order_qte_input {display:none}
#order-detail-content table tr.totalprice td {border-bottom:1px solid #999}
#order-detail-content table tr:nth-child(even) {background:#dddddd;}

#sendOrderMessage {margin-bottom:20px}
#sendOrderMessage p {padding-bottom:10px}

#returnOrderMessage .textarea textarea,
#sendOrderMessage .textarea textarea {
	width:100%;
	border:1px solid #999
}