/* product desc */
/* primary_block ***************************************************************************** */
#primary_block {
	width: 1200px;
	margin: 15px auto;
}

/* pb-right-column ***************************************************************************** */
#pb-right-column {
	float:left;
	width:500px;
}

#pb-right-column #image-block {
	position:relative;
	background: transparent;
	height: 567px;

}

#pb-right-column #image-block img {


}

#pb-right-column #image-block #view_full_size {
	display:block;
	cursor:pointer;
	width: 350px;
	margin: 0 auto;
}

#pb-right-column #image-block #view_full_size .span_link {
	position:absolute;
	bottom:10px;
	left:32%;
	display:block;
	padding:0 12px 0 30px;
	line-height:20px;
	color:#fff;
	text-shadow:0 1px 0 #000;
	text-align:center;
	text-transform:uppercase;
	background-image:url(../img/icon/zoom.png);
	background-repeat:no-repeat;
	background-position:10px 2px;
	background-color:#000;
	background-color:rgba(0,0,0,0.5);
	border-radius:12px;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
}

#pb-right-column #image-block #view_full_size .span_link img {
	position:relative;
	top:3px;
	left:-3px;
	border:none;
	padding-right:2px;
}

/* miniatures */
#pb-right-column #views_block {
	margin:10px auto;
	width:566px;
}

#thumbs_list {
	float:left;
	overflow:hidden;
	width:394px;
	height: 221px;
}

#thumbs_list ul#thumbs_list_frame {
	list-style-type:none;
	padding-left:0;
}

#thumbs_list li {
	float:left;
	margin: 0 5px;
	cursor:pointer;
	
	height: 80px; width: 192px;
}

#thumbs_list li img {
	margin: 12px;
}

span.view_scroll_spacer {
	float:left;
	height:32px;
	width:40px;
}

#view_scroll_left,#view_scroll_right {
	float:left;
	padding:0 4px;
	height:32px;
	width:32px;
	margin-top:90px;
	text-indent:-3000px;
	background:url(../img/thumbs_left.png) no-repeat center center transparent;
}
#view_scroll_left{

}
#view_scroll_right {
	margin-left:4px;
	background-image:url(../img/thumbs_right.png);
}

.resetimg {
	padding:10px 0 0;
}

/* link list */
#usefull_link_block {
	list-style-type:none;
	margin-top:20px;
}

#usefull_link_block li {
	padding:2px 0;
}

#usefull_link_block li.print {
	padding-left:20px;
	background:url(../img/icon/print.gif) no-repeat 0 0;
}

#usefull_link_block li.sendtofriend {
	padding-left:20px;
	background:url(../img/icon/send_friend.gif) no-repeat 0 0;
}

#usefull_link_block li#left_share_fb {
	padding-left:20px;
	background:url(../img/icon/picto_fb.png) no-repeat 0 0;
}

/* pb-left-column ****************************************************************************** */
#pb-left-column {
	float:left;
	margin-left:14px;
	width:679px;
	
}
#block-lft{	
	float:right;
	margin-left:14px;
	width:679px;
	background: #f1f1f1;
	margin-top: 13px;

}

#pb-left-column #tit h1 {
	margin:40px;
	padding:20px 10px;
	font-family: 'nexa_bold';
	color: #1abc9c;
	font-size:24px;
	text-transform: uppercase;
	border-bottom: 1px solid #1abc9c;
}


#product_reference{
	margin:40px;
	padding:20px 10px;
	font-family: 'nexa_bold';
	color: #1abc9c;
	font-size:24px;
	text-transform: uppercase;
	border-bottom: 1px solid #1abc9c;
}

#product_reference span.editable{
font-family: 'nexa_light';
color: #4c4c4c; 
text-transform: none;
}

#pb-left-column #short_description_block {
	color:#4c4c4c;
	margin:40px;
	padding:0px 10px;
	font-family:'nexa_light';
	line-height: 22px;
	font-size: 18px;
}

#pb-left-column #short_description_block p{
margin:0px;
padding:0px;
}

#pb-left-column #short_description_block .buttons_bottom_block {
display:none;
}

/* form */
#pb-left-column #buy_block {
	margin-top:10px;
}

#buy_block p {
	padding-bottom:10px;
}
.tab-disprice{
	background: #1abc9c;
	margin: 40px;
}
table.tab-disprice{
	width: 88%;
	margin: 40px;
	font:18px 'nexa_light';
	color: #fff;
}

table.tab-disprice td{
	height: 30px;
	border: 1px solid;
}

#right_b{
	float: right;
	width: 300px;
	margin-right: 10px;
	text-align: right;
}
#norme{text-align: left; float: left;margin-left: 10px; }
#barre{ text-align: right;width: 150px; float: left;text-decoration: line-through;}
#valide{text-align: right; width: 150px; float: left;}
#pb-left-column #buy_block label {
	display:inline-block;
	width:auto;
	font-weight:700;
	font-size:18px;
	text-align:left;
	color:#1abc9c;
	font-family: 'nexa_light';
}
#quantity_wanted_p{
	float: left;

margin-bottom: 18px;
margin-top: 18px
}
.product_attributes{
	float: left;
width: 90%;
margin-left: 5%;
}
.ie7 #pb-left-column #buy_block label {margin-right:5px;float:left}

/* color_picker */
#pb-left-column #color_picker p {
padding-bottom:5px;
font-weight:700;
}

#attributes fieldset {
padding-bottom:10px;
width: 50%; 
float:left;
}

#attributes fieldset label {
vertical-align:top;
width: 40%!important;
}

#attributes .attribute_list {
display:inline-block;
}

.ie7 #attributes .attribute_list {
display:inline;
zoom:1;
float:right;
}

#attributes .attribute_list ul{
list-style:none;
}

#attributes .attribute_list ul li{
clear:both;
}

#attributes .attribute_list input.attribute_radio{float: left;margin-left: 3px;}
#attributes .attribute_list span{float: left;margin-bottom: 5px;margin-left: 3px;}

.ie7 #attributes .attribute_list span{margin-top:1px}

#attributes .attribute_list #color_to_pick_list {
list-style-type:none;
width:125px;
}

#attributes .attribute_list #color_to_pick_list li {
float:left;
margin:0 8px 8px 0;
padding:1px;
border:1px solid #ccc;
clear:none;
}

#attributes .attribute_list #color_to_pick_list li.selected {
	border:1px solid #000;
}

#attributes .attribute_list #color_to_pick_list a.color_pick {
	display:block;
	height:20px;
	width:20px;
}

.product_attributes {
	padding:10px 0 0;
	/*border-top:1px solid #ccc;*/
}

/* attributes */
#attributes select {
	width:120px;
	border:1px solid #cdcdcd;
}

/* quantity_wanted */
#quantity_wanted_p input {
	width:50px;
	border:1px solid #cdcdcd;
	background-color: #fff
}

/* availability_statut */
#availability_statut {
	margin: 40px;
	width: 88%;
	float: left;
}
#moin{
	padding: 10px;
width: 150px;
margin-top: 10px;
background: none repeat scroll 0% 0% #1ABC9C;
color: #FFF;
font-size: 18px;
cursor: pointer;
font-family: "bebas_neueregular";
font-weight: normal;
}
#btn_plus {
    padding: 10px;
    width: 150px;
    margin-top: 10px;
    background: none repeat scroll 0% 0% #1ABC9C;
    color: #FFF;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    font-family: 'bebas_neueregular';
    font-weight: normal;
}
#availability_statut span#availability_label, 
#availability_date_label {
	display:inline-block;
	sfont-weight:700;
	font-size:12px;
	text-align:left;
}

#availability_statut #availability_value {
		color:#1abc9c;
		text-shadow:none;
		text-transform: uppercase;
		font-size:10px;
		font-weight: bold;
		display:inline-block;
		text-align: left;
}

#availability_statut #availability_value.warning_inline {
	color: #2b7de0;
}
#text-promo{
	font: 16px 'nexa_bold'; 
	color: #fff;
	text-transform: uppercase;
	margin-top: 25px;
	width: 115px;
	text-align: center;
	margin-left: 110px;

}
#bg-promo{
	background: url(../img/ett-promo.png) no-repeat;
	position: absolute;
	width: 289px; height: 124px;
	left:0;
	margin-left: calc(50% + 300px);
	margin-left: -webkit-calc(50% + 300px);
	margin-left: -moz-calc(50% + 300px);
}
/* prices */
.content_prices {
	margin:30px 0;
	padding-top:10px;
	/*border-top:1px solid #ccc;*/
	text-align:right;
	width: 100%;
float: left;
}
#attributes{width: 100%;float: left;}
#buy_block p.price {
	padding:0;
}

.discount {
	display:none;
}

#buy_block p#old_price {
	padding-bottom:15px;
	font-size:14px;
	text-decoration:line-through;
}

.our_price_display {
	padding-bottom:10px;
	font-weight:700;
	font-size:24px;
	line-height:18px;
	color:#9b0000;
}

#reduction_percent,#reduction_amount {
	display:block;
	float:right;
	margin-left:10px;
	padding:0 0 0 10px;
	font-weight:700;
	font-size:12px;
	color:#fff;
	background:url(../img/bg_reduction.png) no-repeat 0 0 transparent;
}

#reduction_percent span,#reduction_amount span {
	display:block;
	padding:1px 5px 1px 0;
	background:url(../img/bg_reduction.png) no-repeat 100% 0 transparent;
}

/* online_only */
#buy_block p.online_only {
	font-weight:700;
	font-size:11px;
	color:#900;
	text-align:left;
	text-transform:uppercase;
}

/* add_to_cart */
.content_prices #add_to_cart {
	position:relative;
	float:right;
	padding:0;
	margin: 0 40px 20px 0;
}

#reseau-soc{
width: 88%;
float: left; 
margin:40px;
border-top: 1px solid #1abc9c;

}
#reseau-PS{
	margin-top: 20px;
   	width: 50%;
	float: left;
	text-align: center;height: 80px;
}
#img-ps{
	height: 100px;
}
.content_prices #add_to_cart .exclusive,.content_prices #add_to_cart .exclusive_disabled {
    padding: 15px 10px;
    background: #2b7de0;
    font: 18px 'nexa_light';
}
#ptext{
text-transform: uppercase;
	color:#4c4c4c;
	font: 14px 'nexa_bold';
	text-align: center;

}

@media screen and (-webkit-min-device-pixel-ratio:0) { /*hack Chrome and Safari */
 
    .content_prices #add_to_cart .exclusive,.content_prices #add_to_cart .exclusive_disabled {
		padding:6px 7px 4px 15px;
	}

}

.ie9 .content_prices #add_to_cart .exclusive, .ie9 .content_prices #add_to_cart .exclusive_disabled,
.ie8 .content_prices #add_to_cart .exclusive, .ie8 .content_prices #add_to_cart .exclusive_disabled,
.ie7 .content_prices #add_to_cart .exclusive, .ie7 .content_prices #add_to_cart .exclusive_disabled {
		padding:8px 7px 4px 15px;
		line-height:12px;
	}

:first-child+html .content_prices #add_to_cart .exclusive {
	padding:4px 3px 4px 11px;
}

.content_prices #add_to_cart span {
	z-index:10;
	display:block;
	position:absolute;
	top:0;
	left:-12px;
	height:26px;
	width:26px;
	background:url(../img/icon/pict_add_cart.png) no-repeat 0 0 transparent;
}

/* */
.buttons_bottom_block {
	clear:both;
	padding-top:20px;
}

.buttons_bottom_block #wishlist_button {
	font-weight:700;
}

/* SEND TO FRIEND (pop-in) ##################################################################### */
#send_friend_form {
}

#send_friend_form h2 {
	padding:8px 11px;
	font-size:12px;
	color:#fff;
	text-shadow:0 1px 0 #000;
	text-transform:uppercase;
	background:#383838;
}

#send_friend_form .product {
	margin:20px 10px;
}

#send_friend_form .product img {
	float:left;
	margin:0 10px 0 0;
	border:1px solid #ccc;
}

#send_friend_form .product .product_desc {
	float:left;
	width:380px;
}

#send_friend_form .product .product_desc p {
	padding:0 10px 0 0;
	color:#333;
}

#send_friend_form .product .product_desc p.product_name {
	font-size:12px;
	color:#000;
}

#send_friend_form .send_friend_form_content {
	margin:0 10px 20px;
}

#send_friend_form .form_container {
	padding:10px 15px;
	border:1px solid #ccc;
	background:#eee;
}

#send_friend_form .form_container p.intro_form {
	padding-bottom:14px;
	font-weight:700;
	font-size:13px;
	color:#333;
}

#send_friend_form .form_container p.txt_required {
	padding-bottom:0;
	color:/* SEND TO FRIEND (pop-in) ##################################################################### */
#666;
}

#send_friend_form .form_container .text {
	padding-bottom:10px;
}

#send_friend_form .form_container .text label {
	display:inline-block;
	padding:6px 15px;
	width:180px;
/* 210 */
	font-size:12px;
	text-align:right;
}

#send_friend_form .form_container .text input {
	padding:0 5px;
	height:22px;
	width:260px;
	border:1px solid #ccc;
	font-size:12px;
	color:#666;
}

#send_friend_form .submit {
	margin-top:20px;
	padding-bottom:0;
	text-align:right;
}

/* PACK ##################################################################### */
#blockpack {
	margin-top:20px;
	padding-top:20px;
	border-top:1px dotted #999;
}

/* PERSONNALISATION ##################################################################### */
.customization_block {
}

.customization_block p.infoCustomizable {
	margin:10px 0 20px;
	padding:0 0 0 20px;
	background:url(../img/icon/infos.gif) no-repeat 0 0 transparent;
}

ul#uploadable_files,ul#text_fields {
	list-style-type:none;
}

.customizableProductsFile,.customizableProductsText {
	margin-bottom:20px;
	padding-bottom:10px;
	border-bottom:1px dotted #ccc;
}

.customizationUploadLine {
	padding-bottom:10px;
}
.customizationUploadBrowse img + a {
	position: relative;
	top: -51px;
}
.customizationUploadLine label {
	display:inline-block;
	width:150px;
	vertical-align:top;
}

.customizationUploadLine textarea {
	height:50px;
	width:300px;
	border:1px solid #ccc;
}

#customizedDatas {
	float:right;
}

.accessories_block div ul li a {
	display:inline-block;
}

.accessories_block div ul li .s_title_block a, .accessories_block div ul li .s_title_block span  {
	font-weight:bold;
}
