/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/** CHECKOUT BY STEP */
/* Block newsletter */
#columns #newsletter_block_left .success_inline, #columns #newsletter_block_left .warning_inline {
  text-align: left;
  padding: 1px 0 0 0;
  margin-bottom: -19px;
}
.rtl #columns #newsletter_block_left .success_inline, .rtl #columns #newsletter_block_left .warning_inline {
  text-align: right;
}
#columns #newsletter_block_left .success_inline {
  color: #418B19;
}
#columns #newsletter_block_left .warning_inline {
  color: #f13340;
}

/* Block newsletter footer */
#footer #newsletter_block_left {
  margin: 30px 0 60px;
}
#footer #newsletter_block_left .title_block {
  display: none;
}
#footer #newsletter_block_left form input[type="text"] {
  width: 550px;
  margin: 0 auto 20px;
  color: #8a8a8a;
  text-align: center;
  border: none;
  border-bottom: 1px solid #dddddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#footer #newsletter_block_left form .btn {
  border: 1px solid #272727;
  background: none;
  color: #272727;
  text-transform: uppercase;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
#footer #newsletter_block_left form .btn:hover {
  background: #e24647;
  border: 1px solid #e24647;
  color: #FFF;
}
#footer #newsletter_block_left .warning_inline {
  color: #f13340;
  clear: both;
}
#footer #newsletter_block_left .success_inline {
  color: #418B19;
}
